{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/prefer-stateless-function" : 0,
    "object-curly-newline": 0,
    "react/jsx-closing-tag-location" : 0,
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "no-underscore-dangle": [0, { "allow": [] }],
    "comma-dangle":  [2, "never"],
    "import/no-extraneous-dependencies": 0,
    "no-unused-expressions": 0,
    "react/jsx-indent": [2, 2],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "linebreak-style": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-has-content": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "max-len": [1, { "code": 200 }],
    "react/no-array-index-key": 0,
    "jsx-a11y/label-has-for" : 0,
    "jsx-a11y/anchor-is-valid" : 0,
    "no-param-reassign": ["error", { "props": false }]
  },
  "globals": {
    "expect": false,
    "sinon": false
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
