body {
  font-family: 'Roboto', sans-serif;
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane {
  display: flex;
  flex-direction: column;
}

.auth0-lock.auth0-lock .auth0-lock-name {
  display: none;
}

.auth0-lock-back-button {
  background: #79c043 !important;
  border-color: #79c043 !important;
}
.auth0-lock-back-button:before {
  content: 'BACK';
  position: absolute;
  left: 20px;
  top: 6px;
  font-size: 11px;
  color: #aaa;
}
.auth0-lock-back-button svg polyline {
  stroke: #fff;
}

.auth0-lock-back-button svg line {
  stroke: #fff;
}

.auth0-lock.auth0-lock .auth0-lock-header {
  display: flex;
  height: 96px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border-radius: 4px 4px 0 0;
  background-color: #f3f3f4;
  align-items: center;
}

.auth0-lock.auth0-lock .auth0-lock-header .auth0-lock-header-bg-solid {
  background-color: #f3f3f4 !important;
}

.auth0-lock-view-content {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.auth0-lock.auth0-lock .auth0-lock-header-bg {
  height: 96px;
}

.auth0-lock.auth0-lock .auth0-lock-header-welcome {
  width: 100%;
  height: 56px;
  background-image: url("https://s3-us-west-2.amazonaws.com/harmony-images/TypTap.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
  display: none;
}

.auth0-lock.auth0-lock .auth0-lock-submit {
  display: flex !important;
  width: auto !important;
  height: 40px !important;
  margin: 16px 16px 16px 0;
  padding: 0 16px !important;
  letter-spacing: 0 !important;
  border-color: #79c043 !important;
  border-radius: 4px !important;
  background-color: #79c043 !important;
  font-size: 16px !important;
  line-height: 1;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

.auth0-lock-submit .auth0-loading-container {
  height: 40px;
  width: 100%;
}

.auth0-loading {
  border-color: rgb(121, 192, 67) rgb(121, 192, 67) rgb(121, 192, 67) rgba(0, 0, 0, 0) !important;
}

.auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon span svg, .auth0-lock-input-block.auth0-lock-input-password span svg {
  display: none !important;
}

.auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon, .auth0-lock-input-block.auth0-lock-input-password:before {
  position: relative;
}

.auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon input {
  font-family: 'Roboto', sans-serif;
}

.auth0-lock-input-block.auth0-lock-input-username .auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 40px;
  height: 42px;
  content: '\f2be';
  font-family: 'FontAwesome';
  align-items: center;
  justify-content: center;
}

.auth0-lock-input-block.auth0-lock-input-password .auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 40px;
  height: 42px;
  content: '\f023';
  font-family: 'FontAwesome';
  align-items: center;
  justify-content: center;
}

.auth0-lock-input-block.auth0-lock-input-email .auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 40px;
  height: 42px;
  content: '\f0e0';
  font-family: 'FontAwesome';
  align-items: center;
  justify-content: center;
}

.auth0-lock.auth0-lock img.auth0-lock-header-logo {
  display: none !important;
}

.auth0-lock.auth0-lock .auth0-lock-submit .auth0-label-submit {
  height: 40px !important;
  line-height: 40px !important;
}

.auth0-lock.auth0-lock .auth0-lock-submit .auth0-label-submit span svg {
  display: none !important;
}

.auth0-lock-overlay {
  background: -moz-radial-gradient(center, ellipse cover, rgba($warm-gray-12, .75) 0%, rgba($warm-gray-15, .9) 100%) !important;
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba($warm-gray-12, .75) 0%, rgba($warm-gray-15, .9) 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba($warm-gray-12, .75) 0%, rgba($warm-gray-15, .9) 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.auth0-lock.auth0-lock {
  display: flex;
  height: 100vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/harmony-images/harmony-bg.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.auth0-lock.auth0-lock .auth0-lock-cred-pane {
  border-radius: 4px;
  background: #f3f3f4 !important;
}
.auth0-lock.auth0-lock .auth0-lock-input-wrap {
  border-width: 0 !important;
  border-bottom: 2px solid #b9b8bb !important;
  border-radius: 0 !important;
  background-color: #fef9f9 !important;
}
.auth0-lock.auth0-lock .auth0-lock-input-wrap .auth0-lock-input {
  background-color: #fef9f9 !important;
}
