#AdditionalInterestModal, #AdditionalInterestEditModal {
  .card-header {
    .fa {
      &.Mortgagee {
        &:before {
          content: "\f19c";
        }
      }

      &.Lienholder {
        &:before {
          content: "\F27E";
        }
      }

      &.Insured {
        &:before {
          content: "\F234";
        }
      }

      &.Interest {
        &:before {
          content: "\F2B5";
        }
      }

      &.Billpayer {
        &:before {
          content: "\F0D6";
        }
      }
    }
  }

  .card-block {
    .form-group {
      &.name-1 {}

      &.name-2 {}

      &.address-1 {}

      &.address-2 {}
    }

    .flex-form {
      display: flex;

      .city {
        margin-right: $padding;
      }

      .state {
        width: 10rem;
        margin-right: $padding;
        flex-grow: 0;
        flex-shrink: 0;
      }

      .zip {
        width: 10rem;
        flex-grow: 0;
        flex-shrink: 0;
      }

      .phone {
        margin-right: $padding;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10rem;
      }

      .reference-number {}
    }
  }
}

.additional-interests-details {
    .card-icon {
        .fa {
          &.Mortgagee {
            &:before {
              content: "\f19c";
            }
          }

          &.Lienholder {
            &:before {
              content: "\F27E";
            }
          }

          &.Insured {
            &:before {
              content: "\F234";
            }
          }

          &.Interest {
            &:before {
              content: "\F2B5";
            }
          }

          &.Billpayer {
            &:before {
              content: "\F0D6";
            }
          }
        }
    }
}
