#AdditionalInterestEditModal,
#AdditionalInterestModal {
  height: 80%;
  max-height: 40rem;

  .card-header {
    .fa {
      &.Mortgagee {
        &:before {
          content: "\f19c";
        }
      }

      &.Lienholder {
        &:before {
          content: "\F27E";
        }
      }

      &.Insured {
        &:before {
          content: "\F234";
        }
      }

      &.Interest {
        &:before {
          content: "\F2B5";
        }
      }

      &.Billpayer {
        &:before {
          content: "\F0D6";
        }
      }
    }
  }

  .card-block {
    .form-group {
      &.name-1 {}

      &.name-2 {}

      &.address-1 {}

      &.address-2 {}
    }

    .flex-form {
      display: flex;

      .city {
        margin-right: $padding;
      }

      .state {
        flex-grow: 0;
        flex-shrink: 0;
        width: 10rem;
        margin-right: $padding;
      }

      .zip {
        flex-grow: 0;
        flex-shrink: 0;
        width: 10rem;
      }

      .phone {
        flex-basis: 10rem;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $padding;
      }

      .reference-number {}
    }
  }
}

.additional-interests-details {
  .card-icon {
    .fa {
      &.Mortgagee {
        &:before {
          content: "\f19c";
        }
      }

      &.Lienholder {
        &:before {
          content: "\F27E";
        }
      }

      &.Insured {
        &:before {
          content: "\F234";
        }
      }

      &.Interest {
        &:before {
          content: "\F2B5";
        }
      }

      &.Billpayer {
        &:before {
          content: "\F0D6";
        }
      }
    }
  }
}
