#AdditionalInterestEditModal,
#AdditionalInterestModal {
  .card-header {
    .fa {
      &.Mortgagee {
        &:before {
          content: '\f19c';
        }
      }

      &.Lienholder {
        &:before {
          content: '\F27E';
        }
      }

      &.Insured {
        &:before {
          content: '\F234';
        }
      }

      &.Interest {
        &:before {
          content: '\F2B5';
        }
      }

      &.Billpayer {
        &:before {
          content: '\F0D6';
        }
      }
    }
  }

  .card-block {
    .flex-form {
      display: flex;

      .city {
        margin-right: $padding;
      }

      .state {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $padding;
        width: 10rem;
      }

      .zip {
        flex-grow: 0;
        flex-shrink: 0;
        width: 10rem;
      }

      .phone {
        flex-basis: 10rem;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: $padding;
      }

      .order {
        flex-basis: 11rem;
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: $padding;
      }
    }
  }
}

.additional-interests-details {
  .card-icon {
    .fa {
      &.Mortgagee {
        &:before {
          content: '\f19c';
        }
      }

      &.Premium {
        &:before {
          content: '\F27E';
        }
      }

      &.Insured {
        &:before {
          content: '\F234';
        }
      }

      &.Interest {
        &:before {
          content: '\F2B5';
        }
      }

      &.Bill {
        &:before {
          content: '\F0D6';
        }
      }
    }
  }
}
