html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  background: $white;
  //site body
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $white;
    //site background
    div#root {
      overflow-y: hidden;
      margin: 0;
      padding: 0;
      height: 100%;
      background: $white;
      //app - first div inside app "root"
      //left navigation
      .csr {
        &.app-wrapper {
          overflow-y: hidden;
          min-width: $csr-min-width;
        }

        .site-nav {
          ul {
            hr.quote-hr {
              margin: ($padding*2)(-$padding);
              padding: 0;
              border-width: 0;
              border-top: 2px dotted $warm-gray-04;
            }
          }
        }
      }

      .app-wrapper {
        display: flex;
        overflow-y: hidden;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        min-width: $csr-min-width;
        min-height: 100vh;
        width: 100%;
        height: 100vh;
        background: $white;
        //header
        &.agency,
        &.policy,
        &.quote {
          header {
            div[role="banner"] {
              > .logo {
                img {
                  height: 2.75rem;
                }
              }
            }
          }
        }
        //main/content - role "document"
        main[role="document"] {
          position: relative;
          z-index: 1;
          display: flex;
          overflow-y: hidden;
          align-items: flex-start;
          flex-direction: row;
          flex-grow: 1;
          flex-shrink: 1;
          min-height: auto;
          width: 100%;
          height: auto;
          background: $white;

          @include transition(all 0.2s ease-in-out);
          //main left panel navigation
          /*------------------------------------------------------------------------------------*/
          .content-panel-left {
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;
            align-self: stretch;
            flex-basis: 12rem;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            width: 12rem;
            background: $warm-gray-02;
            color: $warm-gray-12;

            @include transition(all 0.2s ease-in-out);

            .csr {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: ($padding) ($padding*2);
              min-height: 4.75rem;
              width: auto;
              border-bottom: 2px solid $white;
              background-color: $warm-gray-04;
              text-align: center;

              h3 {
                margin: 0;
                color: $warm-gray-01;
              }
            }
          }

          .content-wrapper {
            display: flex;
            overflow: hidden;
            align-self: stretch;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;

            > div {
              width: 100%;
              height: auto;

              &.login {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 20;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;

                .card {
                  z-index: 9999999;
                }
              }

              > div[role="article"] {
                display: flex;
                flex: 1;
                flex-grow: 0;
                flex-shrink: 0;
                width: 100%;
                background: $white;
              }
            }

            .workflow {
              .route {
                .route-content {
                  display: flex;
                  overflow: hidden;
                  flex-direction: column;
                  flex-grow: 1;
                  flex-shrink: 1;
                  height: auto;

                  .main,
                  form {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                  }
                }

                .search {
                  form {
                    flex-grow: 0;
                    flex-shrink: 0;
                  }
                }

                .scroll {
                  display: flex;
                  overflow-y: auto;
                  flex-direction: column;
                  flex-grow: 1;
                  flex-wrap: nowrap;
                  width: 100%;

                  ul {
                    flex-grow: 1;
                  }

                  .workflow-steps {
                    flex-grow: 1;
                    flex-shrink: 0;

                    .btn {
                      align-self: flex-end;
                      margin-left: $padding;
                    }
                  }
                }
              }
            }

            .route-content {
              .modal {
                z-index: 1000;
              }
            }
          }
        }
      }
    }
  }
}

.flex-parent {
  display: flex;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;

  .flex-child {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    order: 0;
    padding: 0 ($padding*2) 0 0;

    &:last-of-type {
      padding: 0;
    }
  }
}

.scroll {
  scroll-behavior: smooth;
}
