//
// Base styles
//
//links
/*------------------------------------------------------------------------------------*/
a {
  color: $bright-blue-lighten-01;
  text-decoration: none;

  @include transition(all 0.2s ease-in-out);

  &:hover {
    color: $blue-darken-02;
    text-decoration: none;
  }
}

.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  border: $input-btn-border-width solid transparent;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  cursor: pointer;

  user-select: none;
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size-base,
    $btn-border-radius
  );
  @include transition(all 0.2s ease-in-out);
  @include hover-focus {
    text-decoration: none;
  }

  &,
  &.active,
  &:active {
    &.focus,
    &:focus {
      @include tab-focus();
    }
  }

  &.btn-lg {
    font-size: $font-size-lg;

    &.btn-round {
      flex-basis: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &.btn-sm {
    font-size: $font-size-sm;

    &.btn-link {
      padding: 0 ($padding/2);

      .fa {
        margin: 0 ($padding/2) 0 0;
      }
    }
  }

  &.btn-block {
    width: 100%;
    white-space: normal;
  }

  &.btn-xs {
    padding: ($padding/2) $padding;
    font-size: $font-size-xs;

    i {
      margin-right: $padding/2;
    }
  }

  &.no-padding {
    padding: 0;
  }

  &.focus {
    text-decoration: none;
  }

  &.active,
  &:active {
    outline: 0;
    background-image: none;

    @include box-shadow($btn-active-box-shadow);
  }

  &.disabled,
  &.disabled,
  &:disabled {
    opacity: 0.65;
    cursor: $cursor-disabled;

    @include box-shadow(none);
  }

  i {
    margin-right: $padding;
  }
}
//
// Alternate buttons
//
//button mixin: TEXT | BACKGROUND | BORDER
//@include button-variant($btn-TEXT-color, $btn-BACKGROUND-color, $btn-BORDER-color);

.btn,
.btn-default,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include button-variant(
    $btn-default-color,
    $btn-default-bg,
    $btn-default-border
  );
}

.btn-primary {
  @include button-variant(
    $btn-primary-color,
    $btn-primary-bg,
    $btn-primary-border
  );
}

.btn-secondary {
  @include button-variant(
    $btn-secondary-color,
    $btn-secondary-bg,
    $btn-secondary-border
  );

  &:hover {
    @include button-variant(
      $btn-secondary-color,
      rgba($btn-secondary-bg, 0.9),
      $btn-secondary-border
    );
  }
}

.btn-action {
  @include button-variant(
    $btn-primary-color,
    $btn-primary-bg,
    $btn-primary-border
  );
}

.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

.btn-success {
  @include button-variant(
    $btn-success-color,
    $btn-success-bg,
    $btn-success-border
  );
}

.btn-warning {
  @include button-variant(
    $btn-warning-color,
    $btn-warning-bg,
    $btn-warning-border
  );
}

.btn-danger {
  @include button-variant(
    $btn-danger-bg,
    $btn-danger-color,
    $btn-danger-border
  );
}

.btn-link {
  @include button-variant($btn-primary-bg, $btn-link-bg, $btn-link-border);

  &:hover {
    text-decoration: none;
  }

  &.btn-alt-light {
    margin-left: $padding/2;
    padding: 0;
    border-width: 0;
    color: $bright-blue-lighten-02;
    line-height: $headings-line-height;

    &:focus,
    &:hover {
      color: $bright-blue-lighten-01;
      text-decoration: none;
    }
  }

  &.btn-white {
    margin-left: $padding/2;
    border-width: 0;
    color: $white;
    line-height: $headings-line-height;

    @include transition(all 0.2s ease-in-out);

    &:hover {
      color: $yellow-lighten-05;
      text-decoration: none;
    }

    &.btn-info {
      .fa-info-circle {
        color: $bright-blue-lighten-02;

        @include transition(all 0.2s ease-in-out);
      }

      &:hover {
        .fa-info-circle {
          color: $bright-blue-lighten-01;
        }
      }
    }
  }

  &.btn-grid-row {
    display: flex;
    margin: 0;
    padding: 0;

    &:hover {
      text-decoration: none;
    }
  }
}
// Remove all backgrounds

.btn-outline-primary {
  @include button-outline-variant($btn-primary-bg);
}

.btn-outline-secondary {
  @include button-outline-variant($btn-secondary-border);
}

.btn-outline-info {
  @include button-outline-variant($btn-info-bg);
}

.btn-outline-success {
  @include button-outline-variant($btn-success-bg);
}

.btn-outline-warning {
  @include button-outline-variant($btn-warning-bg);
}

.btn-outline-danger {
  @include button-outline-variant($btn-danger-bg);
}

.btn-round {
  display: flex;
  align-items: center;
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  i {
    margin: 0;
    padding: 0;
  }
}

.btn-send {
  display: flex;
  align-items: center;
  flex-basis: 3rem;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  i {
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.25;
  }
}
//
// Link buttons
//
// Make a button look and behave like a link

.btn-link {
  border-radius: 0;
  color: $link-color;
  font-weight: normal;

  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    background-color: transparent;
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &,
  &.active,
  &:active,
  &:disabled {
    background-color: transparent;

    @include box-shadow(none);
  }

  &,
  &:active,
  &:focus {
    border-color: transparent;
  }

  &.disabled,
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
// Specificity overrides

input[type='button'],
input[type='reset'],
input[type='submit'] {
  &.btn-block {
    width: 100%;
  }
}

.file-upload {
  position: relative;

  &:before {
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    display: inline-block;
    border: $input-btn-border-width solid transparent;
    content: 'Choose file';
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    font-weight: $btn-font-weight;
    line-height: ($btn-line-height * 0.4333);
    cursor: pointer;

    user-select: none;
    @include button-variant(
      $btn-primary-color,
      $btn-primary-bg,
      $btn-primary-border
    );
    @include button-size(
      $btn-padding-y,
      ($btn-padding-x * 0.9),
      $font-size-base,
      $btn-border-radius
    );
    @include transition(all 0.2s ease-in-out);
  }
}

.btn-icon {
  border-width: 0;
  background: rgba($bright-blue, 0.1);
  box-shadow: none;
  color: $body-color;

  &:hover {
    border-width: 0;
    background: rgba($bright-blue, 0.2);
    color: $body-color;
  }

  i {
    margin: 0;
  }
}

.btn-footer {
  display: flex;
  align-content: stretch;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: ($padding * 2);

  .btn {
    align-self: flex-end;
    align-self: auto;
    flex: 0 1 auto;
    order: 0;
    margin-left: $padding;
  }
}

.btn-divider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $padding;
  width: 100%;

  &:before {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: $padding;
    height: 1px;
    background: $warm-gray-03;
    content: '';
  }

  &:after {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: $padding;
    height: 1px;
    background: $warm-gray-03;
    content: '';
  }

  &.align-right {
    &:after {
      flex-grow: 0;
      flex-shrink: 0;
      width: $padding;
    }
  }

  &.in-grid-layout {
    grid-column: span 12;
  }
}

.btn-remove-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  &.align-right {
    position: absolute;
    right: $padding * 2;
  }

  &.align-bottom {
    position: absolute;
    bottom: -$padding * 1.25;

    > .btn {
      background: $white;
    }
  }

  &.in-grid-layout {
    grid-column: span 12;
  }
}

.button-group {
  display: flex;

  .btn {
    margin: 0 $padding $padding 0;
  }
}

.plus-button-group {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: $padding $padding 0 0;
  width: 10.875rem;
  height: 4rem;
  border-top: 1px dotted $warm-gray-05;

  @include transition(all 0.4s ease-in-out);

  button {
    position: relative;
    display: flex;
    margin: 0 ($padding * 2.5) 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);

    @include transition(all 0.2s ease-in-out);

    &:focus {
      outline: none;
    }

    &.new-diary-btn {
      border-color: $bright-blue;
      background-color: $bright-blue;
    }

    &.new-note-btn {
      border-color: $green;
      background-color: $green;
    }

    span {
      position: absolute;
      top: 0;
      display: flex;
      padding: $padding;
      border-radius: $btn-border-radius;
      background-color: $bright-blue-darken-04;
      box-shadow: 0 3px 0.75rem 0 rgba(0, 0, 0, 0.25);
      font-size: $font-size-xs;
      opacity: 0;
      transform: scale(0.5);

      @include transition(position 0.2s ease-in-out);
      @include transition(opacity 0.01s ease-in-out);
      @include transition(scale 0.1s ease-in-out);

      &:before {
        position: absolute;
        bottom: -8px;
        left: calc(50% - 8px);
        width: 0;
        height: 0;
        border-top: 8px solid $bright-blue-darken-04;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        content: '';
      }
    }

    &:hover {
      box-shadow: 0 4px 0.75rem 0 rgba(0, 0, 0, 0.25);

      span {
        top: -2.75rem;
        opacity: 1;
        transform: scale(1);

        @include transition(opacity 0.4s ease-in-out);

        &:before {
          position: absolute;
          bottom: -8px;
          left: calc(50% - 8px);
          width: 0;
          height: 0;
          border-top: 8px solid $bright-blue-darken-04;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          content: '';
        }
      }
    }
  }
}
