.card {
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin-right: $card-deck-margin;
  margin-bottom: 0; // Margin balancing
  margin-left: $card-deck-margin;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  background: $card-bg;
  box-shadow: $card-box-shadow;

  &.card-schedule-date {
    max-width: 24em;
  }

  &.unsaved-changes {
    max-width: 26rem;
  }

  &.card-billing-edit-modal {
    max-width: 26rem;
  }

  .card-header {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    padding: $card-spacer-y $card-spacer-x;
    border-bottom: $card-border-width solid $card-border-color;
    background-color: $card-cap-bg;

    > h2,
    > h3,
    > h4,
    > h5,
    > h1 {
      margin: 0;
    }

    &:first-child {
      @include border-radius(
        $card-border-radius-inner $card-border-radius-inner 0 0
      );
    }

    &.image {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 8rem;
      background-color: $warm-gray-13;
      background-image: url('../img/background.png');
      background-size: cover;

      &.lg {
        height: 12rem;
      }

      &.md {
        height: 8rem;
      }

      &.sm {
        height: 4rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        flex-basis: auto;
        margin: 0;
        padding: $padding;
        color: $white;
      }
    }
  }

  .card-block {
    overflow-y: auto;
    flex-grow: 1;
    padding: $card-spacer-x;

    .form-group {
      &:last-child {
        padding-bottom: 0;
        border-bottom-width: 0;
      }

      &.error {
        input {
          border-color: $red-darken-01;
        }

        span {
          color: $red-darken-01;
          font-size: $font-size-sm;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }

    p {
      margin: 0;
      color: $warm-gray-08;
    }
  }

  .card-footer {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: $card-spacer-y $card-spacer-x;
    border-top: $card-border-width solid $card-border-color;
    background-color: $card-cap-bg;

    a,
    button {
      align-self: center;
      margin-left: $padding * 2;
    }

    a {
      height: 2rem;
      line-height: $line-height-base;

      &.btn {
        height: auto;
      }
    }

    .btn-footer,
    .btn-group {
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }

    &:last-child {
      @include border-radius(
        0 0 $card-border-radius-inner $card-border-radius-inner
      );
    }

    .footer-message {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.card-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: $padding;
  width: 6rem;

  label {
    margin-bottom: 0;
    text-align: center;
    font-size: $font-size-xs;
  }
}

.edit-btn {
  display: flex;
  align-items: center;
  margin-left: $padding;
  color: $bright-blue;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;

  i {
    margin: 0 ($padding/2) 0 0;
    width: auto;
    color: $bright-blue;
    font-size: $font-size-sm;
  }
}

.ref-number {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 0 $padding;
  min-width: 10rem;

  label {
    margin-bottom: 0;
    font-weight: $font-weight-normal;
    font-size: $font-size-sm;
  }
}

.gradient-bg {
  .card {
    box-shadow: 0 0 40px 4px rgba($warm-gray-15, 0.9);
  }
}

.app-wrapper.csr.policy
  main
  .content-wrapper
  .route-content
  .form-group
  section,
.app-wrapper.csr.quote main #AddAdditionalInterestPage .results-wrapper {
  ul {
    &.additional-interests-list,
    &.result-cards {
      li {
        &.card {
          align-items: center;
          margin: $padding 0;

          .card-icon {
            flex-grow: 0;
            flex-shrink: 0;
            padding: $padding;

            i {
              color: $bright-blue-darken-04;
              font-size: $font-size-h2;
            }
          }

          section {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            justify-content: center;
            margin: 0;
            padding: $padding 0;
            border-bottom: none;

            h4 {
              margin-bottom: 0;
              color: $warm-gray-10;
            }
          }

          span {
            &.edit-btn {
              margin-right: $padding;
            }
          }

          &.inactive {
            border-color: $warm-gray-03;
            background: $warm-gray-00;
            color: $btn-link-disabled-color;

            .card-icon {
              i,
              label {
                color: $btn-link-disabled-color;
              }
            }

            section {
              h4 {
                color: $btn-link-disabled-color;
              }
            }

            .ref-number {
              color: $btn-link-disabled-color;

              label {
                color: $btn-link-disabled-color;
              }
            }
          }
        }
      }
    }
  }
}
// ADDED FROM DIARIES / REUSABLE CARDS

ul {
  &.results {
    padding: $padding * 2;
    width: 100%;

    &.diary-list {
      .card {
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 0 $padding;
        width: 100%;

        @include transition(all 0.2s ease-in-out);

        &.pastDue {
          .card-header {
            .card-status-indicator {
              background-color: $red-darken-01;
            }

            .icon-wrapper {
              i {
                &.icon-status-indicator {
                  &:before {
                    content: '\f0f3';
                  }
                }
              }
            }
          }
        }

        &.dueSoon {
          .card-header {
            .card-status-indicator {
              background-color: $orange-lighten-01;
            }

            .icon-wrapper {
              i {
                &.icon-status-indicator {
                  &:before {
                    content: '\f017';
                  }
                }
              }
            }
          }
        }

        &.upComing {
          .card-header {
            .card-status-indicator {
              background-color: $green-darken-02;
            }

            .icon-wrapper {
              i {
                &.icon-status-indicator {
                  &:before {
                    content: '\f133';
                  }
                }
              }
            }
          }
        }

        header {
          &.card-header {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            padding: ($padding/2) ($padding/2) ($padding/2) $padding;
            width: auto;
            border-width: 0;
            background: $white;

            .card-status-indicator {
              flex-grow: 0;
              flex-shrink: 0;
              width: 8px;
              border-radius: 2px;
              background: $warm-gray-04;
            }

            .icon-wrapper {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              padding: $padding ($padding * 3);

              i {
                color: $bright-blue-darken-04;
                font-size: $font-size-h2;

                &.icon-status-indicator {
                  font-size: $font-size-xs;
                }

                &.fa-bookmark-o {
                  margin-bottom: $padding/2;
                }
              }

              > div {
                color: $bright-blue-darken-04;
                font-weight: $font-weight-bold;
                font-size: $font-size-xs;
              }
            }
          }
        }

        > div {
          &.card-body {
            flex-grow: 1;
            flex-shrink: 1;
            padding: $padding $padding $padding 0;
            width: auto;
            background: $white;

            h4 {
              span {
                font-weight: $font-weight-normal;
              }
            }

            ul {
              margin: 0;
              padding: 0;
              list-style: none;

              &.diary-entry-list {
                li {
                  display: flex;
                  padding: ($padding/4) 0;
                  color: $warm-gray-08;
                  font-size: $font-size-sm;

                  @include transition(all 0.2s ease-in-out);

                  &.header {
                    background: $warm-gray-02;
                    font-weight: $font-weight-bold;
                  }

                  span {
                    padding-left: $padding;

                    &.due-date {
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: 5rem;
                    }

                    &.assignee {
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: 8rem;
                    }

                    &.reason {
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: 8rem;
                    }

                    &.message {
                      flex-grow: 1;
                      flex-shrink: 1;
                    }

                    &.updated {
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: 5rem;
                    }

                    &.updated-by {
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: 8rem;
                    }

                    &.action {
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: 2rem;
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          box-shadow: $card-box-shadow-hover;
          cursor: pointer;
          transform: scale(1.004);

          > div {
            &.card-body {
              ul {
                &.diary-entry-list {
                  li {
                    &.data-row {
                      background: rgba($bright-blue, 0.1);
                    }
                  }
                }
              }
            }
          }
        }

        &:hover {
          box-shadow: $card-box-shadow-hover;
          cursor: pointer;
          transform: scale(1.004);

          > div {
            &.card-body {
              ul {
                &.diary-entry-list {
                  li {
                    &.data-row {
                      background: rgba($bright-blue, 0.1);
                    }
                  }
                }
              }
            }
          }
        }

        footer {
          &.card-footer {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0;
            width: auto;
            border-width: 0;
            background: $white;
          }
        }
      }
    }
  }
}
