.app-wrapper.csr.policy {
  //header
  header {
    div[role="banner"] {
      .tab-tag {
        display: flex;
        height: 3.25rem;
        margin: (-$padding) ($padding*2) (-$padding) (-$padding*2);
        padding: 0 ($padding*2);
        color: $white;
        background: $bright-blue-darken-01;
        justify-content: center;
        align-items: center;
        width: 12rem;
      }

      .policy-description {
        display: flex;
        color: $white;
        font-size: $font-size-h5;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;

        label {
          margin-bottom: 0;
          padding: 0 $padding 0 ($padding*4);
          color: $warm-gray-07;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
  //detail header
  .detailHeader {
      width: 100%;
  }
  //content wrapper
  main {
    height: calc(100vh - 8.5rem);
    min-height: calc(100vh - 8.5rem);

    .content-wrapper {
      overflow: hidden;
      width: auto;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: nowrap;

      .route-content {
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;

        .scroll {
          overflow-y: auto;
          width: 100%;
          flex-grow: 1;
          flex-shrink: 0;

          .card {

            &.contact {
                margin: 0 (-$padding/2) ($padding);
                flex-direction: row;
                padding: $padding ($padding*1.5);



              &.agency,
              &.agent,
              &.primary-policyholder,
              &.secondary-policyholder {


                    .contact-title {
                        display: flex;
                        flex-direction: column;
                        width: 6rem;
                        margin-top: .75rem;

                        i {
                            color: $bright-blue-darken-04;
                            font-size: $font-size-h2;
                            text-align: center;
                        }
                        label {
                            font-size: $font-size-sm;
                            text-align: center;
                        }

                    }

                    .contact-details {
                        margin-left: $padding*2;

                        h4 {
                          color: $warm-gray-08;
                          margin-bottom: 0;
                        }

                        p {
                          margin-bottom: 0;
                          color: $warm-gray-10;
                        }

                        .contact-methods {
                          display: flex;

                          p {
                            display: flex;
                            margin-right: $padding*2;
                            align-items: center;

                            small {
                              margin-right: $padding;
                              padding: 0 0.2rem;
                              color: $white;
                              border-radius: 2px;
                              background: $warm-gray-08;
                              font-size: 70%;

                              sup {
                                top: -.5em;
                                font-size: 50%;
                              }

                              i {
                                margin-right: 0;
                                margin-left: 0.1rem;
                                color: $white;
                              }
                            }

                            i {
                              margin-right: $padding;
                              color: $warm-gray-08;

                              &.fa-phone-square {
                                font-size: 125%;
                              }
                            }
                          }
                        }

                        .additional-contacts {
                          ul {
                            margin: 1rem 0 0;
                            padding: 0;
                            list-style: none;

                            li {
                              display: flex;
                              padding: ($padding) 0;
                              border-top: 1px dotted $warm-gray-01;
                              align-items: center;

                              &:last-child {
                                  padding-bottom: 0;
                              }

                              div {
                                display: flex;
                                margin-right: $padding*2;
                                align-items: center;

                                h5 {
                                  margin: 0 $padding 0 0;
                                  color: $warm-gray-08;
                                }

                                span {
                                  width: auto;
                                  white-space: nowrap;
                                }

                                i {
                                  color: $warm-gray-08;
                                }
                              }
                            }
                          }
                        }
                    }

              }
            }
          }
        }

        .survey-wrapper {
          flex-direction: column;
        }

        .form-group {
          section {
            margin-bottom: $padding*2;
            padding-bottom: $padding*2;
            border-bottom: 1px dashed $warm-gray-01;

            dl {
              div {
                margin-right: $padding*4;

                dt {
                  color: $warm-gray-08;
                  font-size: $font-size-h5;
                  margin-bottom: $padding
                }

                dd {
                    display: inline-flex;
                  margin-bottom: $padding*2;
                  color: $warm-gray-10;
                }
              }
            }

            &:last-child {
              border-bottom-width: 0;
              margin-bottom: 0;
            }

            h4 {
              font-weight: normal;
            }

            .property-info {
                 justify-content: space-between;
            }

            .payment-summary,
            .property-info {
              display: flex;

              &.grid {
                .react-bs-table {
                  margin: 0 ($padding*2) 0 0;
                }
                .total {
                    > div {
                        background: $yellow-lighten-06;
                        padding: ($padding) ($padding*2);

                        dt {
                            color: $warm-gray-14;
                        }

                        dd {
                            font-size: $font-size-h4;
                            margin-bottom: 0;
                            text-align: right;
                        }
                    }
                }
              }
            }

            .property-info  {
                 justify-content: space-between;
            }

            .table-striped > tbody > tr:nth-of-type(odd):hover {
              background: $white;
            }

            .table-striped > tbody > tr:nth-of-type(even):hover {
              background: $warm-gray-01;
            }

            .react-bs-table .table-bordered > tbody > tr:nth-of-type(even):hover > td {
              background: $warm-gray-01;
            }

            .responsive-tables {
              display: flex;
              flex-direction: row;
              width: 100%;

              .card-view,
              .table-view {
                &:first-child {
                  .react-bs-table-container {
                    .react-bs-table {
                      margin-left: 0;
                    }
                  }
                }

                &:last-child {
                  .react-bs-table-container {
                    .react-bs-table {
                      margin-right: 0;
                    }
                  }
                }
              }

              .table-view {
                width: 33.33%;

                .deductible {
                  thead tr th {
                    background: rgba($orange-lighten-04, .3);
                  }

                  tbody tr:nth-of-type(even) > td {
                    background: rgba($orange-lighten-04, .1);
                  }
                }

                .premium {
                  thead tr th {
                    background: rgba($yellow-lighten-04, .3);
                  }

                  tbody tr:nth-of-type(even) > td {
                    background: rgba($yellow-lighten-04, .1);
                  }
                }

                .billing {
                  thead tr th {
                    background: rgba($green-lighten-04, .3);
                  }

                  tbody tr:nth-of-type(even) > td {
                    background: rgba($green-lighten-04, .1);
                  }
                }

                .coverage, .discountSurcharge {
                  width: 60%;
                  padding:  ($padding*1.5) ($padding*2);
                }

                .value {
                  width: 40%;
                  padding:  ($padding*1.5) ($padding*2);
                }
              }
            }

            .table-view.claims {
              margin: 0 0 ($padding*2);

              .claimNumber {
                  width: 10%;
              }
              .lossDate {
                  width: 10%;
              }
              .closedDate {
                  width: 10%;
              }
              .examiner {
                  width: 20%;
              }
              .lossDescription {
                  width: 60%;
              }
            }
          }

          .results-wrapper {
            ul {
              padding: 0;

              li {
                a {
                  .card-icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {}
                  }

                  section {
                    margin: 0 0 0 ($padding*2);
                    padding: 0;
                    border-bottom-width: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .underwriting-validation {
      width: 200px;
      border-left: dashed 1px $warm-gray-04;
    }
  }
}


.cancel-policy {


label.form-group.segmented {

  > label {
    margin-bottom: $padding;
    display: none;
  }

  label{
    margin-right: 0;
  }

}


.note-type, .note {
  label {
    display: none;
  }

}

.note {
  textarea {
    height: 120px;
  }
}

.form-group.billing {

  div {
    flex: 1 1 auto;
    margin: 0 ($padding*4) 0 0;
  }

  .flex-child {
    flex: 1 1 auto;

    label {
      margin-right: .5rem;
      text-align: right;
    }

    .form-group {
      flex-direction: row;
      align-items: center;

      label {

        flex: 0 1 auto;
        width: 25%;
        margin-bottom: 0;
      }

      input {
        flex: 1 0 auto;
        width: 75%;
      }


    }

  }

  .flex-child:last-child {
    margin-right: 0;
  }



}


}
