.diary-results-wrapper {
  z-index: 10;

  width: 100%;
  .search-input-row {
    display: flex;

    margin-top: -2px;
    padding: 0.5rem 1rem;

    background: $warm-gray-10;

    .transferSelect {
      display: flex;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: flex-end;

      width: 3rem;
      margin: 0 0.5rem 0 0;

      input[type='checkbox'] {
        margin: 0;
      }

      label {
        margin-top: 0.5rem;

        text-align: center;
        text-transform: uppercase;

        color: $bright-blue-lighten-01;

        font-size: $font-size-xs;
        line-height: 1;
      }
    }
    .transfer-control-wrapper {
      display: flex;
      align-items: self-start;
      flex-grow: 1;
      flex-shrink: 1;

      padding: 0.375rem $padding;

      border-radius: $border-radius;
      background: $warm-gray-08;
      .transferTo {
        margin: 0 0.5rem 0 0;
        label {
          margin-bottom: 0.125rem;

          color: $yellow-lighten-05;

          font-size: $font-size-sm;
          font-weight: $font-weight-normal;
        }
      }
      button {
        margin-top: 19px;

        &:first-of-type {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .search {
    .results-wrapper {
      .results.diary-list {
        display: flex;
        flex-wrap: wrap;

        .transfer_checkbox_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 3rem;

          input[type='checkbox'] {
            margin: 0;
          }
        }
        .card {
          flex-grow: 1;
          flex-shrink: 1;

          width: calc(100% - 3rem);

          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
