@import "_diaries-aside";

.app-wrapper.csr.quote {
  //header
  header {
    div[role="banner"] {
      .tab-tag {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        justify-content: center;
        width: 12rem;
        width: 12rem;
        height: 3.25rem;
        margin: (-$padding) ($padding*2) (-$padding) (-$padding*2);
        padding: 0 ($padding*2);
        color: $white;
        border-right: 1px dotted $green-darken-03;
        background: $green-darken-04;

        span {
          font-size: 1.125rem;
        }
      }

      .quote-description {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        color: $white;
        font-size: $font-size-h5;

        label {
          margin-bottom: 0;
          padding: 0 $padding 0 ($padding*4);
          color: $warm-gray-07;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
  //detail header
  .detailHeader {
    position: relative;
    display: grid;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 5.25rem;
    color: $white;
    border-bottom: 2px solid $white;
    background: $warm-gray-10;
    column-gap: $padding*2;
    grid-template-columns: 12rem max-content max-content max-content max-content max-content max-content 1fr 7.5rem;

    section {
      padding: ($padding/2) 0;

      dl {
        margin-bottom: 0;

        div {
          dt {
            display: flex;
            align-items: baseline;
            color: $yellow-lighten-05;
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            line-height: $headings-line-height;
            -webkit-font-smoothing: antialiased;
          }

          dd {
            overflow: hidden;
            margin-bottom: 0;
            text-transform: uppercase;
            text-overflow: ellipsis;
            -webkit-hyphens: auto;
            hyphens: auto;
            font-size: 14px;
            line-height: 1.02;
            -webkit-font-smoothing: antialiased;
            -ms-hyphens: auto;
          }
        }
      }

      &.quoteDetails {
        display: flex;
        width: 12rem;
        padding: ($padding/2) ($padding/2) ($padding/2) ($padding*2);
        color: $yellow-lighten-05;
        background-color: rgba($black, .2);

        dl {
          display: flex;

          > div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            dd {
              .btn-link {
                display: flex;
                margin: 0;
                padding: 0;
                text-decoration: underline;
                color: $bright-blue-lighten-02;
                font-size: $font-size-sm;
                line-height: 1;
                @include hover {
                  color: $bright-blue-lighten-01;
                }
                @include hover-focus {
                  color: $bright-blue-lighten-01;
                }
              }
            }
          }
        }
      }

      &.policyHolder {
        min-width: 6rem;
        max-width: calc((100vw - 45.25rem) * .3);
      }

      &.propertyAddress {
        min-width: 9rem;
        max-width: calc((100vw - 45.25rem) * .35);
      }

      &.mailingAddress {
        min-width: 9rem;
        max-width: calc((100vw - 45.25rem) * .35);
      }

      &.county {
        max-width: 10rem;
        grid-column: 5;
        grid-row: 1;
      }

      &.territory {
        grid-column: 6;
        grid-row: 1;
      }

      &.constructionType {
        min-width: 7rem;
        grid-column: 7;
        grid-row: 1;
      }

      &.quoteEffectiveDate {
        grid-column: 8;
      }

      &.premium {
        align-self: flex-start;
        min-width: 7.5rem;
        margin: ($padding/2) 0;
        padding: $padding;
        color: $warm-gray-12;
        background: $warm-gray-02;
        grid-column: 9;
        grid-row: 1;

        dt {
          color: $warm-gray-12;
        }

        dd {
          font-size: $font-size-h4;
        }
      }
    }
  }
  //content wrapper
  main[role="document"] {
    position: relative;

    .content-wrapper {
      flex-wrap: nowrap;

      .route-content {
        display: flex;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;

        .modal.quote-summary {
          form {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        form {
          display: flex;
          overflow: hidden;
          flex-grow: 1;
          flex-shrink: 1;
        }

        .scroll {
          overflow-y: auto;
          flex-grow: 1;
          flex-shrink: 0;
          width: 100%;
        }

        .survey-wrapper {
          flex-direction: column;
        }

        .form-group {
          .responsive-tables {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0 0 ($padding*2);

            .card-view,
            .table-view {
              margin: 0 ($padding*2);

              &:first-child {
                margin-left: 0;

                .react-bs-table-container {
                  .react-bs-table {
                    margin-left: 0;
                  }
                }
              }

              &:last-child {
                margin-right: 0;

                .react-bs-table-container {
                  .react-bs-table {
                    margin-right: 0;
                  }
                }
              }
            }

            .table-view {
              width: 33%;

              .date {
                width: 60%;
                padding: $padding 15px $padding $padding;
              }

              .amount {
                width: 40%;
                padding: $padding $padding $padding 15px;
              }
            }
          }

          h4 {
            font-weight: normal;
          }

          > section {
            margin-bottom: $padding*2;
            padding-bottom: $padding*2;
            border-bottom: 1px dashed $green-darken-04;
          }

          > section:last-of-type {
            margin-bottom: 0;
            border: 0;
          }

          .producer {
            .flex-parent {
              .flex-child:first-child {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;
              }
            }
          }

          .property {
            .property-address {
              width: 30%;

              .state {
                flex-basis: 4rem;
                flex-grow: 0;
                flex-shrink: 0;
              }

              .zip {
                flex-basis: 8rem;
                flex-grow: 0;
                flex-shrink: 0;
              }
            }

            .property-details {
              width: 70%;

              .flex-parent {
                .flex-child {
                  width: 25%;
                }
              }
            }
          }

          .coverage-options {
            > .flex-child {
              width: 25%;
            }

            .coverages {
              width: 35%;
            }

            .other-coverages {
              width: 30%;
            }

            .deductibles {
              width: 20%;
            }

            .discounts {
              width: 15%;
            }
          }

          .wind {
            .wind-col1 {
              width: 50%;
            }

            .wind-col2 {
              width: 50%;
            }
          }

          .agencyCode {
            overflow: hidden;
            flex-grow: 0;
            flex-shrink: 0;
            width: 40%;

            .agencyCode {
              width: 100%;
            }
          }
        }

        &.summary {
          .detail-wrapper {
            > div {
              border-bottom: 1px dashed $green-darken-04;

              &:last-child {
                border-bottom-width: 0;
              }
            }
          }
        }
      }

      .share-quote {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        padding: $padding;
        border-top: 1px dotted $warm-gray-04;
        background: $warm-gray-01;

        form {
          display: flex;
          align-content: space-between;
          align-items: flex-start;
          width: 100%;

          .btn {
            align-self: flex-start;
            margin-top: 1.5rem;
          }

          .form-group {
            margin: 0 $padding 0 0;

            &.share-name {
              margin-right: $padding;
            }

            &.share-email {
              margin-right: $padding;
            }

            &.error {
              input {
                border-color: $red-darken-03;
              }

              span {
                color: $red-darken-03;
                font-weight: $font-weight-bold;
              }
            }

            label {
              font-size: $font-size-sm;
            }
          }

          button {
            margin-top: 1.5rem;
          }
        }
      }
    }

    #UnderwritingOverride {
      display: flex;
      overflow: hidden;
      align-self: stretch;
      flex-grow: 0;
      flex-shrink: 0;

      .underwriting-validation {
        overflow-y: auto;
        align-self: stretch;
        flex-basis: 240px;
        flex-grow: 0;
        flex-shrink: 0;
        width: 240px;
        //height: calc(100vh - 8.125rem);
        padding: 0 0 ($padding*2) ($padding*2);
        border-left: dotted 1px $warm-gray-04;

        .uw-validation-header {
          margin: ($padding*1.5) 0;
        }

        section {
          h5 {
            color: $warm-gray-08;
            background: $warm-gray-02;
            font-size: 14px;

            i.fa {
              margin: 0 ($padding*2) 0 0;
              padding: ($padding*2);
              color: $white;
            }
          }
        }

        div {
          ul {
            margin: 0 0 ($padding*4) ($padding*2);

            li {
              display: flex;
              flex-direction: column;
              margin: ($padding*2.25);
              padding: 0;
              list-style: none;
              font-size: $font-size-base;

              &.overridden {
                i.fa {
                  color: $warm-gray-03;
                }

                span {
                  color: $warm-gray-04;
                }
              }

              .override-wrapper {
                position: relative;
                display: flex;
                flex-grow: 0;
                flex-shrink: 0;
                height: auto;
                margin: $padding 0;

                input {
                  display: none;

                  &:checked {
                    + label {
                      &:before {
                        content: '\f14a';
                        color: $bright-blue;
                      }
                    }
                  }
                }

                label {
                  position: relative;
                  margin-bottom: 0;
                  padding-left: $padding*3;

                  &:before {
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 1.5rem;
                    content: '\f096';
                    color: $warm-gray-10;
                    font-family: $font-family-icon;
                    font-size: $font-size-h4;
                  }
                }
              }
            }

            li:last-child {
              border: 0;
            }
          }
        }
      }

      .msg-error {
        h5 {
          i.fa {
            background-color: $red;
          }
        }

        ul {
          i.fa {
            color: $red;
          }
        }
      }

      .msg-caution {
        h5 {
          display: flex;
          align-items: center;

          i.fa {
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            background-color: $orange;
          }

          span {
            flex-grow: 1;
            flex-shrink: 1;
            padding-right: ($padding*2.25);
          }

          button {
            flex-grow: 0;
            flex-shrink: 0;
            width: auto;
            margin-right: $padding;
          }
        }

        ul {
          i.fa {
            color: $orange;
          }
        }
      }

      .msg-info {
        h5 {
          i.fa {
            background-color: $bright-blue;
          }
        }

        ul {
          i.fa {
            color: $bright-blue;
          }
        }
      }
    }
    //diaries
    .open-diaries {
      position: absolute;
      right: 0;
      overflow-y: auto;
      align-self: stretch;
      flex-grow: 0;
      flex-shrink: 0;
      width: 0;
      height: calc(100vh - 8.125rem);
      min-height: calc(100vh - 8.125rem);
      padding: 0 0 ($padding*2) ($padding*2);
      border-left: dotted 1px $warm-gray-04;
      background: $white;
      @include transition(all 0.1s ease-in-out);

      .open-diaries-header {
        margin: ($padding*1.5) 0;
      }

      section {
        h5 {
          color: $warm-gray-08;
          background: $warm-gray-02;
          font-size: 14px;

          i.fa {
            margin: 0 ($padding*2) 0 0;
            padding: ($padding*2);
            color: $white;
          }
        }
      }
    }

    &.diary-closed {
      @include transition(all 0.1s ease-in-out);

      .open-diaries {
        overflow: hidden;
        width: 0;
        margin: 0;
        padding: 0;
        border-width: 0;
      }
    }

    &.diary-open {
      @include transition(all 0.1s ease-in-out);

      .open-diaries {
        width: 240px;
        @include transition(all 0.1s ease-in-out);
      }

      #UnderwritingOverride {
        .underwriting-validation {
          margin-right: 3rem;
        }
      }
    }
    //end diaries
    //-----------------------------------------
  }
  //footer
  .btn-footer {
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.25rem;
    margin-bottom: 0;
    padding: 0.5rem;
    border-top: 1px dotted $warm-gray-04;

    footer {
      flex-grow: 1;
      flex-shrink: 0;
      width: auto;

      div[role="banner"] {}
    }
  }
}
//need to simplify/standardize all modals

.modal.quote-summary {
  .card {
    height: calc(90vh - 130px);

    &.unsaved-changes {
      height: auto;
    }
  }

  .btn-footer.flex-parent {
    align-content: center;
    align-items: flex-end;
    justify-content: center;

    .form-group {
      margin: 0;
    }
  }
}

.file-list,
.notes-list {
  .react-bs-table-tool-bar {
    margin: 0 0 ($padding*2);

    .toolbar {
      display: flex;
      align-content: stretch;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .input-group {
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        align-self: auto;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        order: 0;
        margin: 0 ($padding) 0 0;

        .btn {
          align-self: auto;
          flex: 0 1 auto;
          order: 0;
          height: 38px;
          margin: 0 2px 0 0;
          text-transform: capitalize;
          border: 0;
          border-radius: 0;
          line-height: 1.5;
          @include button-variant($warm-gray-08, $warm-gray-02, $warm-gray-02);
        }

        .btn:first-child {
          border-radius: $border-radius 0 0 $border-radius;
        }

        .btn:last-child {
          border-radius: 0 $border-radius $border-radius 0;
        }
      }

      input {
        align-self: auto;
        flex: 1 1 auto;
        order: 0;
        height: 38px;
      }
    }
  }
}

.verify {
  .workflow-steps {
    .btn {
      align-self: flex-start;
      height: 36px;
      margin-top: 25px;
    }

    input {
      height: 36px;
    }
  }
}

#root {
  overflow-y: hidden;

  .csr {
    &.app-wrapper {
      overflow-y: hidden;
      min-width: $csr-min-width;
    }

    .site-nav {
      ul {
        hr.quote-hr {
          margin: ($padding*2)(-$padding);
          padding: 0;
          border-width: 0;
          border-top: 2px dotted $warm-gray-04;
        }
      }
    }
  }
}

.coverages-other-structures-limit,
.coverages-personal-property-limit {
  width: 68%;
}

.coverages-other-structures-limit-percent,
.coverages-personal-property-limit-percent {
  width: 32%;
}

#MailingAddressBilling {
  .mailing-address {
    .segmented-switch {
      width: 50%;
    }
  }

  .bill-plan {
    .segmented {
      .segmented-answer-wrapper {
        .radio-column-3 {
          width: 33.33%;
        }
      }
    }
  }

  .sameAsProperty {
    width: 50%;
  }
}

.csr.quote {
  .email-address {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .electronicDelivery {
    flex-grow: 0;
    flex-shrink: 0;
    width: 32%;
  }
}
