#root {
  .app-wrapper.csr.agency {
    //main header
    header {
      div[role="banner"] {
        .tab-tag {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 12rem;
          height: 3.25rem;
          margin: (-$padding) ($padding*2) (-$padding) (-$padding*2);
          padding: 0 ($padding*2);
          color: $white;
          border-right: 1px dotted mix($bright-blue-darken-02, $green, 40%);
          background: mix($bright-blue-darken-02, $green, 80%);

          span {
            font-size: 1.125rem;
          }
        }

        .policy-description {
          display: flex;
          align-items: center;
          flex-grow: 1;
          flex-shrink: 0;
          color: $white;
          font-size: $font-size-h5;

          label {
            margin-bottom: 0;
            padding: 0 $padding 0 ($padding*4);
            color: $warm-gray-07;
            font-weight: $font-weight-normal;
          }
        }
      }
    }
    //detail header
    .detailHeader {
      width: 100%;

      .agencyDetails {
        align-items: center;
        padding-right: $padding*2;
        text-align: center;

        h4 {
          margin: 0;
          color: $yellow-lighten-06;
          font-weight: $font-weight-normal;
        }
      }

      .entityName {
        display: flex;
        align-items: center;

        h4 {
          margin: 0;
          color: $white;
        }
      }
    }
    //content wrapper
    main[role="document"] {
      height: calc(100vh - 8.5rem);
      min-height: calc(100vh - 8.5rem);

      .content-wrapper {
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: nowrap;
        width: auto;

        .agency-contracts {
          display: flex;
          overflow: hidden;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 1;
        }

        .route-content {
          display: flex;
          overflow: hidden;
          flex-grow: 1;
          flex-shrink: 1;

          .scroll {
            overflow-y: auto;
            flex-grow: 1;
            flex-shrink: 0;
            width: 100%;

            .card {
              flex-direction: row;
              margin: 0 (-$padding/2) ($padding);
              padding: $padding ($padding*1.5);

              &.agency,
              &.agent,
              &.contact,
              &.contract {
                .contact-title,
                .contract-title {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 0;
                  flex-shrink: 0;
                  justify-content: center;
                  width: 6rem;

                  i {
                    text-align: center;
                    color: $bright-blue-darken-04;
                    font-size: $font-size-h2;

                    &.fa-address-card {
                      margin-bottom: $padding/2;
                    }
                  }

                  label {
                    margin-bottom: 0;
                    text-align: center;
                    font-size: $font-size-sm;
                  }

                  > small {
                    display: flex;
                    flex-direction: column;

                    i {
                      margin: 0;
                      font-size: $font-size-sm;
                    }

                    label {
                      margin-bottom: $padding/4;
                      font-size: $font-size-xs;
                    }
                  }
                }

                .contact-details {
                  flex-grow: 1;
                  flex-shrink: 1;
                  margin-left: $padding*2;
                  font-weight: $font-weight-normal;

                  h4 {
                    color: $warm-gray-10;
                    font-weight: $font-weight-normal;

                    .agency-display-name,
                    .agent-name {
                      font-weight: $font-weight-bold;
                    }

                    .agency-code,
                    .agent-code {
                      font-weight: $font-weight-normal;
                    }

                    .agent-license {
                      font-weight: $font-weight-normal;
                    }
                  }

                  p {
                    margin-bottom: 0;
                    color: $warm-gray-10;
                  }

                  .contact-methods {
                    display: flex;
                    flex-wrap: wrap;

                    p {
                      display: flex;
                      align-items: center;
                      margin-right: $padding*2;

                      small {
                        margin-right: $padding;
                        padding: 0 0.2rem;
                        color: $white;
                        border-radius: 2px;
                        background: $warm-gray-08;
                        font-size: 70%;

                        sup {
                          top: -.5em;
                          font-size: 50%;
                        }

                        i {
                          margin-right: 0;
                          margin-left: 0.1rem;
                          color: $white;
                        }
                      }

                      i {
                        margin-right: $padding;
                        color: $warm-gray-08;

                        &.fa-phone-square {
                          margin-top: 3%;
                          font-size: 112%;
                        }
                      }

                      h5 {
                        flex-basis: auto;
                        flex-grow: 0;
                        flex-shrink: 0;
                        margin: 0 $padding 0 0;
                        color: $warm-gray-08;
                      }
                    }
                  }

                  .contact-address {
                    .additional-data {
                      margin-left: $padding;
                      font-size: $font-size-sm;

                      label {
                        margin: 0;
                        font-size: $font-size-xs;
                      }
                    }
                  }

                  .additional-contacts {
                    display: flex;
                    flex-wrap: wrap;

                    ul {
                      margin: 0;
                      padding: 0;
                      list-style: none;

                      li {
                        display: flex;
                        align-items: center;
                        padding: 0;

                        &:last-child {
                          padding-bottom: 0;
                        }

                        p {
                          display: flex;
                          align-items: center;
                          margin-right: $padding*2;
                          margin-bottom: 0;

                          .contact-divider {
                            margin: 0 ($padding*2) 0 0;
                          }

                          small {
                            margin-right: $padding;
                            padding: 0 0.2rem;
                            color: $white;
                            border-radius: 2px;
                            background: $warm-gray-08;
                            font-size: 70%;

                            sup {
                              top: -.5em;
                              font-size: 50%;
                            }

                            i {
                              margin-right: 0;
                              margin-left: 0.1rem;
                              color: $white;
                            }
                          }

                          i {
                            margin-right: $padding;
                            color: $warm-gray-08;

                            &.fa-phone-square {
                              margin-top: 3%;
                              font-size: 112%;
                            }
                          }

                          h5 {
                            flex-basis: auto;
                            flex-grow: 0;
                            flex-shrink: 0;
                            margin: 0 $padding 0 0;
                            color: $warm-gray-08;
                          }
                        }

                        div {
                          display: flex;
                          align-items: center;
                          margin-right: $padding*2;

                          h5 {
                            margin: 0 $padding 0 0;
                            color: $warm-gray-08;
                          }

                          span {
                            width: auto;
                            white-space: nowrap;
                          }

                          i {
                            color: $warm-gray-08;
                          }
                        }
                      }
                    }
                  }

                  .card-name {
                    display: flex;

                    .card-name-content {
                      display: flex;
                      flex-direction: column;
                      flex-grow: 1;
                      flex-shrink: 1;

                      .contact-details {
                        flex-grow: 1;
                        flex-shrink: 1;
                      }
                    }

                    .card-actions {
                      display: flex;
                      flex-grow: 0;
                      flex-shrink: 0;
                      width: auto;
                    }
                  }
                }
              }

              .contract-details {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-shrink: 1;
                margin-left: $padding*2;

                .contract-header {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;

                  .contract-csp {
                    font-weight: $font-weight-normal;
                  }
                }

                .contract-actions {}

                .contract-info {
                  display: flex;
                  margin-bottom: $padding;

                  .additional-contract-info {
                    display: flex;
                    flex-direction: column;
                    margin-right: $padding*2;

                    label {
                      margin-bottom: 0;
                      font-size: $font-size-sm;
                    }

                    display {
                      font-size: $font-size-base;
                    }

                    &.license {
                      .license-date-wrapper {
                        display {
                          margin-right: $padding;
                        }

                        .license-effective-date {
                          label {
                            margin-right: $padding/2;
                            font-weight: $font-weight-normal;
                          }

                          display {
                            font-size: $font-size-sm;
                          }
                        }
                      }
                    }
                  }
                }

                ul {
                  &.contract-agent-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                      font-size: $font-size-sm;
                      display: flex;
                      align-items: flex-start;
                      padding: ($padding/2) ($padding*.75);

                      &:nth-of-type(odd) {
                        background: $warm-gray-01;
                      }

                      &.header {
                        background: $warm-gray-02;
                        color: $warm-gray-08;
                      }

                      span {
                          flex-grow: 0;
                          flex-shrink: 0;
                          color: $warm-gray-08;

                          &.label {
                              font-weight: $font-weight-bold;
                          }
                          &.is-primary {
                              width: 3.5rem;
                              text-align: center;
                              margin-right: $padding*2;
                          }

                          &.appointed, &.aor {
                              width: 4.5rem;
                              text-align: center;
                          }

                          &.agent-id {
                              width: 6rem;
                          }

                          &.agent-name {
                              flex-grow: 1;
                              flex-shrink: 1;
                          }

                          &.license-array {
                              width: 20rem;
                          }
                      }
                    }
                  }
                }
              }

              .contact-actions,
              .contract-actions {
                display: flex;
                align-items: center;
                flex-grow: 0;
                flex-shrink: 0;
                justify-content: center;
                width: auto;
              }

              footer {
                display: flex;
                margin-top: $padding;
                padding-top: $padding;
                border-top: 1px dotted $warm-gray-02;

                h5 {
                  flex-grow: 1;
                  flex-shrink: 1;
                  color: $warm-gray-10;

                  .agency-code {
                    font-weight: $font-weight-normal;
                  }
                }

                .footer-actions {
                  align-items: center;
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: auto;
                  margin-left: $padding;

                  .btn-link {
                    padding: 0;
                  }
                }
              }
            }
          }

          .form-group.survey-wrapper {
            flex-direction: column;

            section {
              margin-bottom: $padding*2;
              padding-bottom: $padding*2;
              border-bottom: 1px dashed mix($bright-blue-darken-02, $green, 80%);

              &:last-child {
                margin-bottom: 0;
                border-bottom-width: 0;
              }

              dl {
                div {
                  margin-right: $padding*4;

                  dt {
                    margin-bottom: $padding;
                    color: $warm-gray-08;
                    font-size: $font-size-h5;
                  }

                  dd {
                    display: inline-flex;
                    margin-bottom: $padding*2;
                    color: $warm-gray-10;
                  }
                }
              }

              h4 {
                font-weight: normal;
              }

              .property-info {
                justify-content: space-between;
              }

              .tax-info {
                display: flex;

                dl {
                  margin-right: $padding*2;
                  margin-bottom: 0;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }

            .results {
              section {
                margin-bottom: 0;
                padding-bottom: 0;
                border-width: 0;
              }
            }
          }
        }
      }
    }
  }

  .add-contract,
  .agent-actions,
  .create-agency,
  .create-contract {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding 0 ($padding*3);

    hr {
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 ($padding*2);
      padding: 0;
      border-width: 0;
      border-top: 1px solid $warm-gray-04;
    }

    .btn {
      &.margin {
        &.right {
          margin-right: $padding*2;
        }
      }
    }
  }
}

.modal {
  .flex-form {
    display: flex;

    .form-group {
      margin-right: $padding*2;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.agency-crud {
    flex-direction: row;

    > form {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: row;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      max-height: 90%;

      .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 80%;

        .agency-details {
          display: flex;
          flex-direction: column;

          .agency-id {
            display: flex;
            width: 100%;

            .agencyCode {
              flex-grow: 1;
              flex-shrink: 1;
              margin-right: $padding*2;
            }

            .agencyName {
              flex-grow: 0;
              flex-shrink: 0;
              width: 40%;
              margin-right: $padding*2;
            }

            .entityName {
              flex-grow: 0;
              flex-shrink: 0;
              width: 40%;
            }
          }

          .agency-description {
            display: flex;
            width: 100%;

            .status {
              flex-grow: 0;
              flex-shrink: 0;
              width: 15%;
              margin-right: $padding*2;
            }

            .tPaid {
              flex-grow: 0;
              flex-shrink: 0;
              width: 15%;
              margin-right: $padding*2;
            }

            .okToPay {
              flex-grow: 0;
              flex-shrink: 0;
              width: 15%;
              margin-right: $padding*2;
            }

            .tier {
              flex-grow: 0;
              flex-shrink: 0;
              width: 15%;
              margin-right: $padding*2;
            }

            .webAddress {
              flex-grow: 1;
              flex-shrink: 1;
            }
          }
        }

        .agency-address {
          display: flex;
          width: 100%;

          .agency-mailing-address {
            flex-grow: 1;
            flex-shrink: 1;
            width: 50%;
            margin-right: $padding;

            .flex-form {
              display: flex;

              .mailingCity {
                flex-grow: 1;
                flex-shrink: 1;
                margin-right: $padding*2;
              }

              .mailingState {
                flex-grow: 0;
                flex-shrink: 0;
                width: 4rem;
                margin-right: $padding*2;
              }

              .mailingZip {
                flex-grow: 0;
                flex-shrink: 0;
                width: 6rem;
              }
            }

            .tax-detail {
              display: flex;

              .taxId {
                flex-grow: 1;
                flex-shrink: 1;
                margin-right: $padding*2;
              }

              .taxClassification {
                flex-grow: 1;
                flex-shrink: 1;
              }
            }
          }

          .agency-physical-address {
            flex-grow: 1;
            flex-shrink: 1;
            width: 50%;
            margin-left: $padding;

            h4 {
              input[type="checkbox"] {
                margin-right: $padding;
              }

              label {
                margin-bottom: 0;
              }
            }

            .flex-form {
              display: flex;

              .physicalCity {
                flex-grow: 1;
                flex-shrink: 1;
                margin-right: $padding*2;
              }

              .physicalState {
                flex-grow: 0;
                flex-shrink: 0;
                width: 4rem;
                margin-right: $padding*2;
              }

              .physicalZip {
                flex-grow: 0;
                flex-shrink: 0;
                width: 6rem;
              }
            }

            .county {
              flex-grow: 0;
              flex-shrink: 0;
              width: 100%;
            }
          }
        }

        .agency-csr {
          .faxNumber,
          .primaryPhoneNumber,
          .secondaryPhoneNumber {
            flex-grow: 0;
            flex-shrink: 0;
            width: 10rem;
          }
        }

        .agency-contact {
          .contactFirstName {
            flex-grow: 0;
            flex-shrink: 0;
            width: 18rem;
          }

          .contactLastName {
            flex-grow: 0;
            flex-shrink: 0;
            width: 18rem;
          }
        }

        .agency-principal {
          .principalFirstName {
            flex-grow: 0;
            flex-shrink: 0;
            width: 18rem;
          }

          .principalLastName {
            flex-grow: 0;
            flex-shrink: 0;
            width: 18rem;
          }
        }
      }
    }
  }

  &.contact-crud {
    flex-direction: row;

    > form {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      max-height: 90%;

      .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 50%;
      }
    }
  }

  &.contract-crud {
    flex-direction: row;

    > form {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      max-height: 90%;

      .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 70%;

        .card-block {
          display: flex;

          .contract-details {
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            margin-right: $padding*2;
            padding-right: $padding*2;
            border-right: 1px dotted $warm-gray-01;

            .flex-form {
              width: 100%;

              .companyCode {
                flex-grow: 1;
                flex-shrink: 1;
              }

              .state {
                flex-grow: 0;
                flex-shrink: 0;
                width: 6rem;
              }

              .licenseNumber {
                flex-grow: 1;
                flex-shrink: 1;
              }

              .licenseExpirationDate {
                flex-grow: 1;
                flex-shrink: 1;
              }
            }

            .eoExpirationDate {
              flex-grow: 0;
              flex-shrink: 0;
              width: 10rem;
            }
          }

          .product-details {
            display: flex;
            flex-direction: column;
            width: 15%;
            margin-right: $padding*2;
            padding-right: $padding*2;
            border-right: 1px dotted $warm-gray-01;

            .product-wrapper > div > div {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              margin-bottom: $padding;

              label {
                margin-bottom: 0;
              }

              input[type="checkbox"] {
                margin-right: $padding;
                margin-left: 0;
              }
            }
          }

          .agent-details {
            display: flex;
            flex-direction: column;
            width: 45%;

            ul {
                &.contract-agent-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                      font-size: $font-size-sm;
                      display: flex;
                      align-items: flex-start;
                      padding: ($padding/2) ($padding*.75);

                      &:nth-of-type(odd) {
                        background: $warm-gray-01;
                      }

                      &.header {
                        background: $warm-gray-02;
                        color: $warm-gray-08;
                      }

                      span {
                          flex-grow: 0;
                          flex-shrink: 0;
                          color: $warm-gray-08;

                          &.label {
                              font-weight: $font-weight-bold;
                          }

                          &.display {
                               min-height: 1.3125rem;
                          }

                          &.appointed, &.aor {
                              width: 4.5rem;
                              text-align: center;
                              display: flex;
                              align-items: center;
                              justify-content: center;

                              input {
                                  margin: 0;
                              }
                          }

                          &.agent-name {
                              flex-grow: 1;
                              flex-shrink: 1;
                          }

                          &.actions {
                              width: 5rem;
                          }
                      }
                    }
                }
            }
          }
        }
      }
    }
  }

  &.add-agent-crud {
    flex-direction: row;

    > form {
      display: flex;
      overflow: visible;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      max-height: 90%;

      .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 40%;

        .card-block {
          overflow: visible;

          > .form-group {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.existing-agent-modal {
    form {
      .card {
        max-width: 40rem;
      }
    }
  }

  &.agent-crud {
    flex-direction: row;

    > form {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      max-height: 90%;

      .card {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 95%;

        .card-block {
          display: flex;

          .flex-form {
            flex-grow: 0;
            flex-shrink: 0;
          }

          h4 {
            input[type="checkbox"] {
              margin-right: $padding;
            }
          }

          .agent-details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            height: 100%;
            margin-right: $padding*2;
            padding-right: $padding*2;
            border-right: 1px dotted $warm-gray-02;

            .form-group {
              flex-grow: 1;
              flex-shrink: 1;

              &.agentCode {
                flex-grow: 0;
                flex-shrink: 0;
                width: 25%;
              }

              &.licenseNumber {
                flex-grow: 0;
                flex-shrink: 0;
                width: 25%;
              }

              &.state {
                flex-grow: 0;
                flex-shrink: 0;
                width: 10%;
              }
            }

            .agent-mailing-address {
              h4 {
                width: 100%;
              }

              .form-group {
                flex-grow: 1;
                flex-shrink: 1;

                &.mailingState {
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: 15%;
                }

                &.mailingZip {
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: 25%;
                }
              }
            }
          }

          .existing-agent-details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            height: 100%;
          }

          .agent-license {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            width: 15rem;
            height: 100%;

            .state-license-wrapper {
              display: flex;
              width: 100%;

              .state {
                flex-grow: 0;
                flex-shrink: 0;
                width: 4rem;
                margin-right: $padding*2;
              }
            }
          }
        }
      }
    }
  }
}

#root {
  .app-wrapper.csr {
    main[role="document"] {
      .content-wrapper {
        .route-content {
          .scroll {
            .card {
              .contact-address {
                .additional-data {
                  margin-left: $padding;
                  font-size: $font-size-sm;

                  label {
                    margin: 0;
                    font-size: $font-size-xs;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
