#root {
  overflow-y: hidden;

  .app-wrapper.csr.quote {
    //header
    header {
      div[role='banner'] {
        .tab-tag {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: (-$padding) ($padding * 2) (-$padding) (-$padding * 2);
          padding: 0 ($padding * 2);
          width: 12rem;
          height: 3.25rem;
          border-right: 1px dotted $green-darken-03;
          background: $green-darken-04;
          color: $white;

          span {
            font-size: 1.125rem;
          }
        }

        .quote-description {
          display: flex;
          align-items: center;
          flex-grow: 1;
          flex-shrink: 0;
          color: $white;
          font-size: $font-size-h5;

          label {
            margin-bottom: 0;
            padding: 0 $padding 0 ($padding * 4);
            color: $warm-gray-07;
            font-weight: $font-weight-normal;
          }
        }
      }
    }
    //content wrapper
    main[role='document'] {
      position: relative;

      //NEED TO REFACTOR AND CLEAN UP GANDALF ADDITION

      .content-wrapper {
        .route-content {
          display: flex;
          overflow: hidden;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 1;

          .scroll {
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 1;
            flex-wrap: nowrap;
            //padding: $padding;
            width: 100%;

            .modal.quote-summary {
              form {
                flex-basis: auto;
                flex-grow: 0;
                flex-shrink: 0;
              }
            }

            form {
              flex-grow: 0;
              flex-shrink: 0;
              padding: $padding;

              > section {
                border-bottom: 1px dashed $green-darken-04;

                &:last-of-type {
                  margin-bottom: 0;
                  border-bottom-width: 0;
                }

                &.policyholder-component {
                  section {
                    padding: 0;

                    .title-check-box-wrapper {
                      display: flex;
                      align-items: flex-end;
                      padding: 0;

                      .title {
                        flex-grow: 0;
                        flex-shrink: 0;
                        max-width: fit-content;
                      }
                      .check-box-wrapper {
                        flex-grow: 1;
                        flex-shrink: 1;
                        margin-bottom: $padding/4;

                        input {
                          margin-right: $padding/2;
                        }
                      }
                    }

                    .form-group {
                      width: 50%;

                      &.email {
                        width: 100%;
                      }
                    }
                  }
                }

                &.coverages {
                  .form-group {
                    &.has-output-label {
                      flex-direction: row-reverse;
                      flex-wrap: wrap;
                      > * {
                        width: calc(50% - 0.5rem);
                      }

                      select,
                      input {
                        order: 1;
                      }

                      label {
                        margin-right: $padding;

                        &:first-of-type {
                          margin-right: 0;
                          margin-left: $padding;
                        }
                      }

                      select,
                      input {
                        margin-left: $padding;
                      }

                      output {
                        order: 3;
                        margin-right: $padding;
                      }
                    }
                  }
                }

                &.deductibles {
                  .form-group {
                    &.has-output-label {
                      input,
                      select {
                        margin-bottom: $padding * 2;
                      }
                    }
                  }
                }

                > section {
                  &.coverages {
                    .form-group {
                      &.has-output-label {
                        flex-direction: row-reverse;
                        flex-wrap: wrap;
                        > * {
                          width: calc(50% - 0.5rem);
                        }

                        select,
                        input {
                          order: 1;
                        }

                        label {
                          margin-right: $padding;

                          &:first-of-type {
                            margin-right: 0;
                            margin-left: $padding;
                          }
                        }

                        select,
                        input {
                          margin-left: $padding;
                        }

                        output {
                          order: 3;
                          margin-right: $padding;
                        }
                        span {
                          order: 4;
                        }
                      }
                    }
                  }
                }
              }
            }

            .survey-wrapper {
              flex-direction: column;
            }

            .form-group {
              .responsive-tables {
                display: flex;
                flex-direction: row;
                margin: 0 0 ($padding * 2);
                width: 100%;

                .card-view,
                .table-view {
                  margin: 0 ($padding * 2);

                  &:first-child {
                    margin-left: 0;

                    .react-bs-table-container {
                      .react-bs-table {
                        margin-left: 0;
                      }
                    }
                  }

                  &:last-child {
                    margin-right: 0;

                    .react-bs-table-container {
                      .react-bs-table {
                        margin-right: 0;
                      }
                    }
                  }
                }

                .table-view {
                  width: 33%;

                  .date {
                    padding: $padding 15px $padding $padding;
                    width: 60%;
                  }

                  .amount {
                    padding: $padding $padding $padding 15px;
                    width: 40%;
                  }
                }
              }

              h4 {
                font-weight: normal;
              }

              > section {
                border-bottom: 1px dashed $green-darken-04;
              }

              > section:last-of-type {
                margin-bottom: 0;
                border: 0;
              }

              .producer {
                .flex-parent {
                  .flex-child:first-child {
                    flex-basis: auto;
                    flex-grow: 0;
                    flex-shrink: 0;
                  }
                }
              }

              .property {
                .property-address {
                  width: 30%;

                  .state {
                    flex-basis: 4rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                  }

                  .zip {
                    flex-basis: 8rem;
                    flex-grow: 0;
                    flex-shrink: 0;
                  }
                }

                .property-details {
                  width: 70%;

                  .flex-parent {
                    .flex-child {
                      width: 25%;
                    }
                  }
                }
              }

              .coverage-options {
                > .flex-child {
                  width: 25%;
                }

                .coverages {
                  width: 35%;
                }

                .other-coverages {
                  width: 30%;
                }

                .deductibles {
                  width: 20%;
                }

                .discounts {
                  width: 15%;
                }
              }

              .wind {
                .wind-col1 {
                  width: 50%;
                }

                .wind-col2 {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      #UnderwritingOverride {
        display: flex;
        overflow: hidden;
        align-self: stretch;
        flex-grow: 0;
        flex-shrink: 0;

        .underwriting-validation {
          display: flex;
          overflow: hidden;
          align-self: stretch;
          flex-direction: column;
          flex-grow: 0;
          flex-shrink: 0;
          padding: 0;
          width: 240px;
          border-left: dotted 1px $warm-gray-04;

          .uw-validation-header {
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            height: 3rem;
            border-bottom: 1px dotted $warm-gray-04;
            background: $white;

            h4 {
              margin: 0;
              padding: 0;
            }
          }
          .exception-list {
            overflow-y: auto;
            flex-grow: 1;
            flex-shrink: 1;
            padding: 0 0 0 ($padding * 2);
            width: 100%;

            section {
              h5 {
                background: $warm-gray-02;
                color: $warm-gray-08;
                font-size: 14px;

                i.fa {
                  margin: 0 ($padding * 2) 0 0;
                  padding: ($padding * 2);
                  color: $white;
                }
              }

              div {
                ul {
                  margin: 0 0 ($padding * 4) ($padding * 2);

                  li {
                    display: flex;
                    flex-direction: column;
                    margin: ($padding * 2.25);
                    padding: 0;
                    list-style: none;
                    font-size: $font-size-base;

                    &.overridden {
                      i.fa {
                        color: $warm-gray-03;
                      }

                      span {
                        color: $warm-gray-04;
                      }
                    }

                    .check-box-wrapper {
                      position: relative;
                      display: flex;
                      align-items: center;
                      flex-grow: 0;
                      flex-shrink: 0;
                      margin: ($padding/2) 0 0;
                      height: auto;

                      input {
                        margin: 0;
                      }

                      label {
                        position: relative;
                        margin-bottom: 0;
                        padding-left: $padding/2;
                        line-height: 1;
                      }
                    }
                  }

                  li:last-child {
                    border: 0;
                  }
                }
              }
            }
          }
        }

        .msg-error {
          h5 {
            i.fa {
              background-color: $red;
            }
          }

          ul {
            i.fa {
              color: $red;
            }
          }
        }

        .msg-caution {
          h5 {
            display: flex;
            align-items: center;

            i.fa {
              flex-grow: 0;
              flex-shrink: 0;
              width: auto;
              background-color: $orange;
            }

            span {
              flex-grow: 1;
              flex-shrink: 1;
              padding-right: ($padding * 2.25);
            }

            button {
              flex-grow: 0;
              flex-shrink: 0;
              margin-right: $padding;
              width: auto;
            }
          }

          ul {
            i.fa {
              color: $orange;
            }
          }
        }

        .msg-info {
          h5 {
            i.fa {
              background-color: $bright-blue;
            }
          }

          ul {
            i.fa {
              color: $bright-blue;
            }
          }
        }
      }
      //diaries
      &.diary-open {
        #UnderwritingOverride {
          .underwriting-validation {
            margin-right: 3rem;
          }
        }
      }
      //end diaries
      //-----------------------------------------
    }
    //footer
    .btn-footer {
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      margin-bottom: 0;
      padding: 0.5rem;
      height: auto;
      border-top: 1px dotted $warm-gray-04;

      footer {
        flex-grow: 1;
        flex-shrink: 0;
        width: auto;
      }
    }
  }
}
//need to simplify/standardize all modals

.modal.quote-summary {
  .card {
    height: calc(90vh - 130px);

    &.unsaved-changes {
      height: auto;
    }
  }

  .btn-footer.flex-parent {
    align-content: center;
    align-items: flex-end;
    justify-content: center;

    .form-group {
      margin: 0;
    }
  }
}

.file-list,
.notes-list {
  .react-bs-table-tool-bar {
    margin: 0 0 ($padding * 2);

    .toolbar {
      display: flex;
      align-content: stretch;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .input-group {
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        align-self: auto;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        order: 0;
        margin: 0 ($padding) 0 0;

        .btn {
          align-self: auto;
          flex: 0 1 auto;
          order: 0;
          margin: 0 2px 0 0;
          height: 38px;
          border: 0;
          border-radius: 0;
          text-transform: capitalize;
          line-height: 1.5;

          @include button-variant($warm-gray-08, $warm-gray-02, $warm-gray-02);
        }

        .btn:first-child {
          border-radius: $border-radius 0 0 $border-radius;
        }

        .btn:last-child {
          border-radius: 0 $border-radius $border-radius 0;
        }
      }

      input {
        align-self: auto;
        flex: 1 1 auto;
        order: 0;
        height: 38px;
      }
    }
  }
}

.verify {
  .workflow-steps {
    .btn {
      align-self: flex-start;
      margin-top: 25px;
      height: 36px;
    }

    input {
      height: 36px;
    }
  }
}

.coverages-other-structures-limit,
.coverages-personal-property-limit {
  width: 68%;
}

.coverages-other-structures-limit-percent,
.coverages-personal-property-limit-percent {
  width: 32%;
}

#AddAdditionalInterestPage {
  .results-wrapper {
    padding-top: $padding * 2;
    border-top: 1px dashed $green-darken-03;
  }

  .button-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $padding;

    .btn {
      margin: 0 $padding $padding 0;
    }
  }
}
//Mailing & Billing
/*------------------------------------------------------------------------------------*/
.billing-information {
  .form-group {
    &.radio.segmented {
      .segmented-answer-wrapper {
        > div {
          width: 33.33%;
        }
      }
    }
  }
  .billing-plan-wrapper {
    .title {
      padding: 0;
    }
    dl {
      padding: 0 ($padding/2) 0 0;

      &:last-of-type {
        padding-right: 0;
      }
      dt {
        padding: 0 $padding;
        background: $warm-gray-02;
      }
      dd {
        margin-bottom: 0;
        padding: ($padding/2) $padding;
        border-bottom: 1px dotted $warm-gray-03;

        &:nth-of-type(even) {
          background: $warm-gray-01;
        }
      }
    }
  }
}
#MailingAddressBilling {
  .mailing-address {
    .segmented-switch {
      width: 50%;
    }

    .city {
      flex-grow: 1;
      margin-right: $padding;
    }

    .state {
      flex-basis: 10rem;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: $padding;
    }

    .zip {
      flex-basis: 10rem;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .installment-term {
    display: flex;

    dl {
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: $padding;
      width: 33.33%;

      &:last-child {
        margin-right: 0;
      }

      dt {
        padding: $padding;
        background: $warm-gray-02;
        color: $warm-gray-08;
        font-weight: $font-weight-bold;
      }

      dd {
        margin-bottom: 0;
        padding: $padding;

        &:nth-of-type(even) {
          background: $warm-gray-01;
        }
      }
    }
  }

  .bill-plan {
    .segmented {
      .segmented-answer-wrapper {
        .radio-column-3 {
          width: 33.33%;
        }
      }
    }
  }

  .sameAsProperty {
    width: 50%;
  }
}

//summary page
/*------------------------------------------------------------------------------------*/

.share {
  display: flex;
  align-content: space-between;
  align-items: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  padding: $padding;
  width: 100%;
  border-top: 1px dotted $warm-gray-04;
  background: $warm-gray-01;

  .btn {
    align-self: flex-start;
    margin-top: 1.5rem;
  }

  .share-inputs {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    .form-group {
      margin: 0 $padding 0 0;

      &.share-name {
        margin-right: $padding;
      }

      &.share-email {
        margin-right: $padding;
      }

      &.error {
        input {
          border-color: $red-darken-03;
        }

        span {
          color: $red-darken-03;
          font-weight: $font-weight-bold;
        }
      }

      label {
        font-size: $font-size-sm;
      }
    }
  }

  button {
    margin-top: 1.5rem;
  }
}

//end summary page
/*------------------------------------------------------------------------------------*/
