.app-wrapper.csr.policy {
  //content wrapper
  main {
    position: relative;
    min-height: calc(100vh - 8.5rem);
    height: calc(100vh - 8.5rem);

    .content-wrapper {
      overflow: hidden;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: nowrap;
      width: auto;

      .route-content {
        display: flex;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;

        form {
          display: flex;
          overflow: hidden;
          flex-grow: 1;
          flex-shrink: 1;
        }
        //-----------------------------------------
        //endorsements
        .endorsements {
          position: relative;
          display: flex;
          overflow: hidden;
          flex-basis: auto;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 1;

          .endo-jump-menu {
          }

          .scroll {
            flex-grow: 1;
            flex-shrink: 1;

            .col-2 {
              .form-group.labels {
                display: flex;
                align-items: center;
                flex-direction: row;

                label {
                  flex-grow: 0;
                  flex-shrink: 0;
                  margin: 0 $padding 0 0;
                  padding: 0;
                  width: calc(33.33% - 0.5rem);
                  text-align: left;
                }
              }

              .form-group-double-element {
                display: flex;
                align-items: flex-start;
                margin: 0 0 ($padding * 2);

                > .form-group {
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  flex-grow: 0;
                  flex-shrink: 0;
                  flex-wrap: wrap;
                  margin: 0;
                  padding: 0 $padding;

                  &.error {
                    span {
                      flex-grow: 1;
                      flex-shrink: 1;
                      padding-left: 66.66%;
                      width: 100%;
                    }
                  }

                  .label-segmented,
                  label {
                    display: block;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin: 0 $padding 0 0;
                    width: calc(33.33% - 0.5rem);
                    text-align: right;

                    &.selected {
                      span {
                        background: $bright-blue-darken-04;
                        color: $white;
                      }
                    }
                    @media (max-width: 1600px) {
                      font-size: $font-size-sm;
                    }
                  }

                  .initial-value {
                    margin-right: $padding;
                    width: calc(33.33% - 0.5rem);

                    .label-segmented {
                      span {
                        cursor: not-allowed;

                        @include button-variant(
                          $warm-gray-04,
                          $warm-gray-01,
                          $warm-gray-01
                        );
                      }

                      &.selected {
                        span {
                          background: rgba($bright-blue-darken-04, 0.5);
                          color: $white;
                          cursor: not-allowed;
                        }
                      }
                    }

                    > input[type='text'],
                    select,
                    .segmented-answer-wrapper {
                      width: 100%;
                    }
                  }

                  > input[type='text'],
                  select,
                  .segmented-answer-wrapper {
                    width: 33.33%;
                  }

                  > .form-group {
                    margin-bottom: 0;

                    select {
                      width: 100%;
                    }
                  }
                }

                .segmented {
                  margin: 0;
                  width: 100%;

                  .segmented-answer-wrapper {
                    flex-grow: 1;
                    flex-shrink: 1;
                    margin: 0;

                    > div {
                      flex-basis: auto;
                      flex-grow: 1;
                      flex-shrink: 1;

                      .label-segmented {
                        width: 100%;

                        span {
                          font-size: $font-size-h5;
                          @media (max-width: 1600px) {
                            padding: $padding/2;
                            font-size: $font-size-sm;
                          }
                        }
                      }
                    }
                  }

                  &.disabled {
                    .label-segmented {
                      &.selected {
                        span {
                          background: rgba($bright-blue-darken-04, 0.5);
                          color: $white;
                          cursor: not-allowed;
                        }
                      }
                    }
                  }
                }

                &.wind-mit {
                  > .windMitFactor {
                    margin-right: $padding;
                    padding: 0 0 0 $padding;
                    width: calc(66.66% - 0.75rem);

                    label {
                      width: 50%;
                    }

                    input[type='text'] {
                      width: calc(50% - 0.5rem);
                    }
                  }

                  > .windMitFactorRated {
                    padding: 0;
                    width: 33%;

                    input[type='text'] {
                      width: 100%;
                    }
                  }
                }
              }
            }

            .flex-parent.col2 {
              .flex-child {
                width: 50%;

                .flex-parent.col2 {
                  .form-group {
                    margin-left: ($padding);
                    width: 50%;
                  }

                  .form-group:nth-child(1) {
                    margin-left: 0;
                  }
                }
              }
            }

            .flex-row {
              .address {
                width: 100%;
              }

              .city {
                padding-right: $padding;
                width: 65%;
              }

              .state {
                padding-right: $padding;
                width: 15%;
              }

              .zip {
                width: 20%;
              }

              &.wrap {
                flex-wrap: wrap;
              }
            }
          }

          .endo-results-calc {
            flex-grow: 1;
            flex-shrink: 1;
            padding: $padding;
            width: auto;
            border-top: 1px dotted $warm-gray-04;
            background: $warm-gray-01;

            .endorsement-date-wrapper {
              flex-grow: 0;
              flex-shrink: 0;
              width: 14rem;
            }

            .btn-secondary {
              margin-right: $padding;
            }

            .flex-parent {
              .form-group {
                margin: 0 $padding 0 0;

                label {
                  font-size: $font-size-sm;
                }

                input {
                  &[disabled='disabled'],
                  &:disabled {
                    border-color: $warm-gray-03;
                    background: $warm-gray-00;
                  }
                }
              }

              .btn {
                margin-top: 1.5rem;
              }
            }
          }

          .additionalInterests {
            .results-wrapper {
              margin: ($padding * 2) 0 ($padding);
            }
          }
        }
        //end endorsements
        //-----------------------------------------
        //underwriting
        .underwriting-validation {
          flex-grow: 0;
          flex-shrink: 0;
          padding: 0 0 ($padding * 2) ($padding * 2);
          width: 240px;
          border-left: dotted 1px $warm-gray-04;

          .uw-validation-header {
            margin: ($padding * 1.5) 0;
          }
        }
        //end underwriting
        //-----------------------------------------
        .scroll {
          overflow-y: auto;
          flex-grow: 1;
          flex-shrink: 0;
          width: 100%;

          .card {
            &.contact {
              flex-direction: row;
              margin: 0 (-$padding/2) ($padding);
              padding: $padding ($padding * 1.5);

              &.agency,
              &.agent,
              &.primary-policyholder,
              &.secondary-policyholder {
                .contact-title {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 0;
                  flex-shrink: 0;
                  justify-content: center;
                  width: 6rem;

                  i {
                    color: $bright-blue-darken-04;
                    text-align: center;
                    font-size: $font-size-h2;
                  }

                  label {
                    margin-bottom: 0;
                    text-align: center;
                    font-size: $font-size-sm;
                  }
                }

                .contact-details {
                  flex-grow: 1;
                  margin-left: $padding * 2;

                  h4 {
                    margin-bottom: 0;
                    color: $warm-gray-10;
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                    hyphens: auto;

                    -ms-hyphens: auto;

                    &.agency {
                      font-weight: $font-weight-normal;

                      .agency-display-name {
                        font-weight: $font-weight-bold;
                      }

                      .agency-legal-name {
                        font-weight: $font-weight-normal;
                      }
                    }

                    .agent-code {
                      font-weight: $font-weight-normal;
                    }

                    .agent-license {
                      font-weight: $font-weight-normal;
                    }
                  }

                  p {
                    margin-bottom: 0;
                    color: $warm-gray-10;
                  }

                  .contact-methods {
                    display: flex;
                    flex-wrap: wrap;

                    p {
                      display: flex;
                      align-items: center;
                      margin-right: $padding * 2;

                      .contact-divider {
                        margin: 0 ($padding * 2) 0 0;
                      }

                      small {
                        margin-right: $padding;
                        padding: 0 0.2rem;
                        border-radius: 2px;
                        background: $warm-gray-08;
                        color: $white;
                        font-size: 70%;

                        i {
                          margin-right: 0;
                          margin-left: 0.1rem;
                          color: $white;
                        }
                      }

                      &.secondary-phone {
                        small {
                          i {
                            color: $white;
                          }
                        }
                      }

                      &.csr-phone {
                        small {
                          i {
                            color: $white;
                          }
                        }
                      }

                      i {
                        margin-right: $padding;
                        color: $warm-gray-08;

                        &.fa-phone-square {
                          margin-top: 3%;
                          font-size: 112%;
                        }
                      }

                      h5 {
                        flex-basis: auto;
                        flex-grow: 0;
                        flex-shrink: 0;
                        margin: 0 $padding 0 0;
                        color: $warm-gray-08;
                      }
                    }
                  }

                  .additional-contacts {
                    margin-top: $padding;
                    border-top: 1px dotted $warm-gray-01;

                    ul {
                      margin: $padding 0 0;
                      padding: 0;
                      list-style: none;

                      li {
                        display: flex;
                        align-items: center;
                        padding: 0;

                        &:last-child {
                          padding-bottom: 0;
                        }

                        div {
                          display: flex;
                          align-items: center;
                          margin-right: $padding * 2;

                          h5 {
                            margin: 0 $padding 0 0;
                            color: $warm-gray-08;
                          }

                          span {
                            width: auto;
                            white-space: nowrap;
                          }

                          i {
                            color: $warm-gray-08;
                          }
                        }
                      }
                    }
                  }
                }

                .electronic-delivery {
                  display: flex;
                  align-items: center;
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: auto;
                  font-size: $font-size-sm;

                  label {
                    margin-right: $padding;
                    margin-bottom: 0;
                    font-size: $font-size-sm;
                  }
                }
              }
            }
          }

          .card-multi {
            display: block;

            .card-multi-split {
              display: flex;
              align-content: stretch;
              margin-bottom: ($padding * 2);
              padding-bottom: ($padding * 2);
              border-bottom: 1px dashed $warm-gray-01;

              .contact-details {
                flex: 1 1 auto;
              }

              a {
                flex: 0 0 auto;

                i.fa-pencil {
                  color: $bright-blue-darken-04;
                  font-size: 1.25rem;
                }
              }
            }
          }

          .card-multi:last-of-type {
            margin-bottom: 0;
          }
        }

        .survey-wrapper {
          flex-direction: column;
        }

        .form-group {
          section {
            margin-bottom: $padding * 2;
            padding-bottom: $padding * 2;
            border-bottom: 1px dashed $bright-blue-darken-03;

            &:last-child {
              margin-bottom: 0;
              border-bottom-width: 0;
            }

            dl {
              div {
                margin-right: $padding * 4;

                dt {
                  margin-bottom: $padding;
                  color: $warm-gray-08;
                  font-size: $font-size-h5;
                }

                dd {
                  display: inline-flex;
                  margin-bottom: $padding * 2;
                  color: $warm-gray-10;
                }
              }
            }

            h4 {
              font-weight: normal;
            }

            .property-info,
            .wind-mitigation {
              justify-content: space-between;
            }

            .payment-summary,
            .property-info,
            .wind-mitigation {
              display: flex;

              &.grid {
                display: block;

                .react-bs-table {
                  margin: 0;
                }

                .total {
                  > div {
                    margin: 0;
                    padding: ($padding) ($padding * 2);
                    border-top: $border-width dotted $border-color;
                    color: $bright-blue-darken-04;
                    text-align: right;
                    font-weight: bold;
                  }
                }
              }
            }

            &.add-payment {
              form {
                flex-direction: column;
              }
            }

            &.payment-summary {
              .payment-summary {
                * {
                  white-space: normal;
                }

                .date {
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: 120px;
                }

                .type {
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: 200px;
                }

                .description {
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: 230px;
                }

                .note {
                  flex-grow: 1;
                  flex-shrink: 1;
                }

                .amount {
                  flex-grow: 0;
                  flex-shrink: 0;
                  width: 200px;

                  > div {
                    text-align: right;
                  }
                }
              }
            }

            .property-info,
            .wind-mitigation {
              justify-content: space-between;
            }

            .table-striped > tbody > tr:nth-of-type(odd):hover {
              background: $white;
            }

            .table-striped > tbody > tr:nth-of-type(even):hover {
              background: $warm-gray-01;
            }

            .react-bs-table
              .table-bordered
              > tbody
              > tr:nth-of-type(even):hover
              > td {
              background: $warm-gray-01;
            }

            .responsive-tables {
              display: flex;
              flex-direction: row;
              width: 100%;

              .card-view,
              .table-view {
                &:first-child {
                  .react-bs-table-container {
                    .react-bs-table {
                      margin-left: 0;
                    }
                  }
                }

                &:last-child {
                  .react-bs-table-container {
                    .react-bs-table {
                      margin-right: 0;
                    }
                  }
                }
              }

              .table-view {
                width: 33.33%;

                .deductible {
                  thead tr th {
                    background: rgba($orange-lighten-04, 0.3);
                  }

                  tbody tr:nth-of-type(even) > td {
                    background: rgba($orange-lighten-04, 0.2);
                  }
                }

                .premium {
                  thead tr th {
                    background: rgba($yellow-lighten-04, 0.3);
                  }

                  tbody tr:nth-of-type(even) > td {
                    background: rgba($yellow-lighten-04, 0.2);
                  }
                }

                .billing {
                  thead tr th {
                    background: rgba($green-lighten-04, 0.3);
                  }

                  tbody tr:nth-of-type(even) > td {
                    background: rgba($green-lighten-04, 0.2);
                  }

                  .coverage {
                    width: 30%;
                  }

                  .value {
                    width: 70%;
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                    hyphens: auto;

                    -ms-hyphens: auto;
                  }
                }

                .coverage,
                .discountSurcharge {
                  padding: $padding ($padding * 1.5);
                  width: 60%;
                  white-space: normal;
                  hyphens: auto;
                }

                .value {
                  padding: $padding ($padding * 1.5);
                  width: 40%;
                  white-space: normal;
                }
              }
            }

            .table-view.claims {
              margin: 0 0 ($padding * 2);

              .claimNumber {
                width: 10%;
              }

              .lossDate {
                width: 10%;
              }

              .closedDate {
                width: 10%;
              }

              .examiner {
                width: 20%;
              }

              .lossDescription {
                width: 60%;
              }
            }
          }

          .results-wrapper {
            ul {
              padding: 0;

              li {
                a {
                  .card-icon {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                  }

                  section {
                    margin: 0 0 0 ($padding * 2);
                    padding: 0;
                    border-bottom-width: 0;
                  }
                }
              }
            }
          }
        }
      }
      //cancel policy
      form#CancelPolicy {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        .date {
          flex-grow: 0;
          flex-shrink: 0;
          width: 11rem;
        }
      }
    }
    //diaries
    &.diary-open {
      .content-wrapper {
        margin-right: 240px;

        @include transition(all 0.1s ease-in-out);

        &.endorsement-content-wrapper {
          margin-right: 0;
        }

        .route-content {
          .underwriting-validation {
            margin-right: 3rem;
          }
        }
      }
    }
    //end diaries
    //-----------------------------------------
  }

  //main header
  header {
    div[role='banner'] {
      .tab-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: (-$padding) ($padding * 2) (-$padding) (-$padding * 2);
        padding: 0 ($padding * 2);
        width: 12rem;
        height: 3.25rem;
        border-right: 1px dotted $bright-blue-darken-01;
        background: $bright-blue-darken-03;
        color: $white;

        span {
          font-size: 1.125rem;
        }
      }

      .policy-description {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        color: $white;
        font-size: $font-size-h5;

        label {
          margin-bottom: 0;
          padding: 0 $padding 0 ($padding * 4);
          color: $warm-gray-07;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
  //content wrapper
  main {
    position: relative;
    min-height: calc(100vh - 8.5rem);
    height: calc(100vh - 8.5rem);

    .content-wrapper {
      display: flex;
      overflow: hidden;
      align-self: stretch;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: nowrap;
      width: 100%;

      .route-content {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        .scroll {
          display: flex;
          overflow-x: hidden;
          overflow-y: auto;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 1;
          flex-wrap: nowrap;
          padding: 0;
          width: 100%;
          form {
            padding: $padding;
            &.view-grid {
              flex-grow: 0;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}
