.app-wrapper.csr.quote {
  //header
  header {
    div[role="banner"] {
      .tab-tag {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
        justify-content: center;
        width: 12rem;
        width: 12rem;
        height: 3.25rem;
        margin: (-$padding) ($padding*2) (-$padding) (-$padding*2);
        padding: 0 ($padding*2);
        color: $white;
        border-right: 1px dotted $green-darken-03;
        background: $green-darken-04;

        span {
          font-size: 1.125rem;
        }
      }

      .quote-description {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        color: $white;
        font-size: $font-size-h5;

        label {
          margin-bottom: 0;
          padding: 0 $padding 0 ($padding*4);
          color: $warm-gray-07;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
  //detail header
  .detailHeader {
    width: 100%;

    .quoteDetails {
      dd {
        .btn-link {
          display: flex;
          margin: 0;
          padding: 0;
          text-decoration: underline;
          color: $bright-blue-lighten-02;
          font-size: $font-size-sm;
          line-height: 1;
          @include hover {
            color: $bright-blue-lighten-01;
          }
          @include hover-focus {
            color: $bright-blue-lighten-01;
          }
        }
      }
    }
  }
  //content wrapper
  main {
    height: calc(100vh - 8.125rem);
    min-height: calc(100vh - 8.125rem);

    .content-wrapper {
      overflow: hidden;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: nowrap;
      width: auto;

      .route-content {
        display: flex;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;

        .modal.quote-summary {
          form {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        form {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;
        }

        .scroll {
          overflow-y: auto;
          flex-grow: 1;
          flex-shrink: 0;
          width: 100%;
        }

        .survey-wrapper {
          flex-direction: column;
        }

        .form-group {
          .responsive-tables {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0 0 ($padding*2);

            .card-view,
            .table-view {
              margin: 0 ($padding*2);

              &:first-child {
                margin-left: 0;

                .react-bs-table-container {
                  .react-bs-table {
                    margin-left: 0;
                  }
                }
              }

              &:last-child {
                margin-right: 0;

                .react-bs-table-container {
                  .react-bs-table {
                    margin-right: 0;
                  }
                }
              }
            }

            .table-view {
              width: 33%;

              .date {
                width: 60%;
                padding: $padding 15px $padding $padding;
              }

              .amount {
                width: 40%;
                padding: $padding $padding $padding 15px;
              }
            }
          }

          h4 {
            font-weight: normal;
          }

          label {}

          > section {
            margin-bottom: $padding*2;
            padding-bottom: $padding*2;
            border-bottom: 1px dashed $green-darken-04;
          }

          > section:last-of-type {
            margin-bottom: 0;
            border: 0;
          }

          .producer {
            .flex-parent {
              .flex-child:first-child {
                flex: 0 0 auto;
              }
            }
          }

          .demographics {
            .policy-holder-a {
              width: 50%;
            }

            .policy-holder-b {
              width: 50%;
            }
          }

          .property {
            .property-address {
              width: 30%;

              .city {}

              .state {
                flex-basis: 4rem;
                flex-grow: 0;
                flex-shrink: 0;
              }

              .zip {
                flex-basis: 6rem;
                flex-grow: 0;
                flex-shrink: 0;
              }
            }

            .property-details {
              width: 70%;

              .flex-parent {
                .flex-child {
                  width: 25%;
                }
              }
            }
          }

          .coverage-options {
            > .flex-child {
              width: 25%;
            }

            .coverages {
              width: 35%;
            }

            .other-coverages {
              width: 30%;
            }

            .deductibles {
              width: 20%;
            }

            .discounts {
              width: 15%;
            }
          }

          .wind {
            .wind-col1 {
              width: 50%;
            }

            .wind-col2 {
              width: 50%;
            }
          }
        }
      }
    }

    .underwriting-validation {
      overflow-y: auto;
      align-self: stretch;
      flex-basis: 240px;
      flex-shrink: 0;
      width: 240px;
      padding: 0 0 ($padding*2) ($padding*2);
      border-left: dotted 1px $warm-gray-04;

      .uw-validation-header {
        margin: ($padding*1.5) 0;
      }

      section {
        h5 {
          color: $warm-gray-08;
          background: $warm-gray-02;
          font-size: 14px;

          i.fa {
            margin: 0 ($padding*2) 0 0;
            padding: ($padding*2);
            color: $white;
          }
        }

        div {
          /*
            border: solid 1px $warm-gray-04;
            margin: ($padding*2) ($padding*2) ($padding*4);
            padding: 0;
            border-radius: 5px;
            */
          ul {
            margin: 0 0 ($padding*4) ($padding*2);

            li {
              //border-bottom: solid 1px $warm-gray-04;
              display: list-item;
              margin: ($padding*2.25);
              padding: 0;
              list-style: none;
              font-size: $font-size-base;
            }

            li:last-child {
              border: 0;
            }
          }
        }
      }

      .msg-error {
        h5 {
          i.fa {
            background-color: $red;
          }
        }

        ul {
          i.fa {
            color: $red;
          }
        }
      }

      .msg-caution {
        h5 {
          i.fa {
            background-color: $orange;
          }
        }

        ul {
          i.fa {
            color: $orange;
          }
        }
      }

      .msg-info {
        h5 {
          i.fa {
            background-color: $bright-blue;
          }
        }

        ul {
          i.fa {
            color: $bright-blue;
          }
        }
      }
    }
  }
  //footer
  .btn-footer {
    height: 3.25rem;
  }
}

.modal.quote-summary {
  .btn-footer.flex-parent {
    display: flex;
    align-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .form-group {
      margin: 0;
    }
  }
}

.file-list,
.notes-list {
  .react-bs-table-tool-bar {
    margin: 0 0 ($padding*2);

    .toolbar {
      display: flex;
      align-content: stretch;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .input-group {
        display: flex;
        align-content: stretch;
        align-items: flex-start;
        align-self: auto;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        order: 0;
        margin: 0 ($padding) 0 0;

        .btn {
          align-self: auto;
          flex: 0 1 auto;
          order: 0;
          height: 38px;
          margin: 0 2px 0 0;
          text-transform: capitalize;
          border: 0;
          border-radius: 0;
          line-height: 1.5;
          @include button-variant($warm-gray-08, $warm-gray-02, $warm-gray-02);
        }

        .btn:first-child {
          border-radius: $border-radius 0 0 $border-radius;
        }

        .btn:last-child {
          border-radius: 0 $border-radius $border-radius 0;
        }
      }

      input {
        align-self: auto;
        flex: 1 1 auto;
        order: 0;
        height: 38px;
      }
    }
  }
}

.notes-list {
  .react-bs-table-tool-bar {
    .toolbar {
      .input-group {
        .btn-notes {
          color: $white;
          background: $bright-blue-darken-04;
        }
      }
    }
  }

  .react-bs-table {
    .table-bordered {
      > tbody {
        > tr:nth-of-type(even) {
          background-color: transparent;
        }

        tr {
          td {
            thead > tr,
            thead > tr > th {
              background: transparent;
            }

            .react-bs-table-container {
              border: solid 2px $warm-gray-01;
            }
          }
        }

        tr:nth-child(4n+3),
        tr:nth-child(4n+4) {
          background-color: $warm-gray-01;

          td {
            .react-bs-table-container {
              border: solid 2px $white;
            }
          }
        }
      }
    }
  }
}

.verify {
  .workflow-steps {
    .btn {
      align-self: flex-start;
      height: 36px;
      margin-top: 25px;
    }

    input {
      height: 36px;
    }
  }
}

#root {
  overflow-y: hidden;

  .csr {
    &.app-wrapper {
      overflow-y: hidden;
      min-width: $csr-min-width;
    }

    .site-nav {
      ul {
        hr.quote-hr {
          margin: ($padding*2)(-$padding);
          padding: 0;
          border-width: 0;
          border-top: 2px dotted $warm-gray-04;
        }
      }
    }
  }
}

.coverages-other-structures-limit,
.coverages-personal-property-limit {
  width: 68%;
}

.coverages-other-structures-limit-percent,
.coverages-personal-property-limit-percent {
  width: 32%;
}

#MailingAddressBilling {
    .bill-plan {
        .segmented {
            .segmented-answer-wrapper {
                .radio-column-3 {
                    width: 33.3%
                }
            }
        }
    }
}
