html body div#root .app-wrapper {
  .bulk-mortgage-main {
    .content-wrapper.scroll {
      overflow-x: hidden;
      overflow-y: auto;

      padding: $padding;

      .view-grid {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }

    .bm-wrapper {
      padding: 0;

      section {
        flex-grow: 0;
        flex-shrink: 0;

        &.bm-byPolicy {
          &.search {
            width: 40%;
          }
          &.results {
            width: 60%;
          }
        }
      }
    }
  }
}
