.diary-results-wrapper {
  z-index: 10;

  width: 100%;
  .search-input-row {
    display: flex;

    margin-top: -2px;
    padding: 0.5rem 1rem 0;

    background: $warm-gray-10;

    .transferSelect {
      display: flex;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;

      width: 3rem;
      margin-right: 0.5rem;

      input[type='checkbox'] {
        margin: 0;
      }

      label {
        margin-top: 0.5rem;

        text-align: center;
        text-transform: uppercase;

        color: $bright-blue-lighten-01;

        font-size: $font-size-xs;
        line-height: 1;
      }
    }

    .transferTo {
    }
  }
  .search {
    .results-wrapper {
      .results.diary-list {
        display: flex;
        flex-wrap: wrap;

        .transfer_checkbox_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 3rem;

          input[type='checkbox'] {
            margin: 0;
          }
        }
        .card {
          flex-grow: 1;
          flex-shrink: 1;

          width: calc(100% - 3rem);

          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
