.app-wrapper {
  main {
    .diaries-dueSoon,
    .diaries-pastDue,
    .open-diaries {
      > h5 {
        > i.fa {
          flex-grow: 0;
          flex-shrink: 0;

          width: auto;
        }

        span {
          flex-grow: 1;
          flex-shrink: 1;

          padding-right: ($padding * 2.25);
        }
      }
    }

    .open-diaries {
      position: absolute;
      right: 0;

      display: flex;
      overflow: hidden;
      align-self: stretch;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;

      width: 0;
      height: calc(100vh - 8.125rem);
      min-height: calc(100vh - 8.125rem);
      padding: 0;

      border-left: dotted 1px $warm-gray-04;
      background: $white;

      @include transition(all 0.1s ease-in-out);

      .open-diaries-header {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;

        height: 3rem;

        border-bottom: 1px dotted $warm-gray-04;
        background: $white;

        h4 {
          margin: 0;
          padding: 0;
        }
      }
      .diaries-list {
        overflow-y: auto;
        flex-grow: 1;
        flex-shrink: 1;

        width: 100%;
        padding: 0 0 0 ($padding * 2);

        section {
          > h5 {
            display: flex;
            align-items: center;

            margin: 1rem 0;

            color: $warm-gray-08;
            background: $warm-gray-02;

            font-size: 14px;

            i.fa {
              margin: 0 ($padding * 2) 0 0;
              padding: ($padding * 2);

              color: $white;
            }
          }

          ul {
            &.diary-list {
              margin-right: $padding;
            }

            li {
              margin-bottom: $padding;

              border-bottom: 1px dotted $warm-gray-02;

              &:last-of-type {
                border-bottom-width: 0;
              }

              .diary-header {
                display: flex;
                align-items: center;

                color: $warm-gray-08;

                font-size: $font-size-sm;

                > i {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  height: 1.125rem;

                  font-size: $font-size-base;
                }

                .diary-due-date {
                  font-weight: $font-weight-bold;
                }

                a.btn-link {
                  color: $bright-blue;

                  i {
                    margin-right: $padding;

                    color: $bright-blue;
                  }
                }
              }

              .diary-type {
                color: $warm-gray-08;

                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
              }

              .diary-reason {
                color: $warm-gray-10;

                font-size: $font-size-sm;
              }

              p {
                margin: 0;

                font-size: $font-size-sm;
              }

              .diary-assignee {
                margin-bottom: $padding;

                color: $warm-gray-08;

                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
              }
            }
          }

          &.diaries-pastDue {
            > h5 {
              > i.fa {
                background-color: $red-darken-01;
              }
            }

            li {
              .diary-header {
                > i {
                  color: $red-darken-01;
                }
              }
            }
          }

          &.diaries-dueSoon {
            > h5 {
              > i.fa {
                background-color: $orange-lighten-01;
              }
            }

            li {
              .diary-header {
                > i {
                  color: $orange-lighten-01;
                }
              }
            }
          }

          &.diaries-upcoming {
            > h5 {
              > i.fa {
                background-color: $green-darken-02;
              }
            }

            li {
              .diary-header {
                > i {
                  color: $green-darken-02;
                }
              }
            }
          }
        }
      }
      //route specific styles for quote and policy in q & p partial
      &.open {
        z-index: 100;

        width: 15rem;

        box-shadow: -1px 0 2rem 0 rgba($black, 0.125);

        ~ #UnderwritingOverride {
          margin-right: 4rem;
        }
      }
    }
  }
}
