.error {
  &.card {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $red-darken-02;
    }
  }

  &.logo {
    @include transition(all 0.2s ease-in-out);

    .card-header {
      background-color: $bright-blue-darken-04;

      img {
        max-width: 100%;
      }
    }

    .card-block {
      background-color: $white;
    }

    .card-footer {
      background-color: $bright-blue-darken-04;
    }
  }

  &.access-denied {
    max-width: 20rem;
  }
}

.logged-out {
  max-width: 20rem;

  &.card {
    background-color: $bright-blue-darken-04;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $bright-blue-darken-04;
    }
  }

  &.logo {
    .card-header {
      background-color: $bright-blue-darken-04;

      img {
        max-width: 100%;
      }
    }

    .card-block {
      background-color: $white;
    }

    .card-footer {
      background-color: $bright-blue-darken-04;
    }
  }
}

//Quote Error
/*------------------------------------------------------------------------------------*/
.error-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .quote-details-error {
    display: flex;
    min-height: 4.75rem;
    padding: $padding;
    background-color: $orange-lighten-03;

    .display-element {
      flex-grow: 0;
      flex-shrink: 0;

      .quote-number {
        margin-right: $padding * 2;
      }

      dl {
        margin-bottom: 0;

        dt {
          font-size: $font-size-h6;
        }

        dd {
          margin-bottom: 0;

          + dd {
            font-size: $font-size-h6;
          }
        }
      }
    }
  }

  .error-wrapper {
    display: flex;
    overflow-y: auto;
    flex-basis: 100%;
    flex-direction: row;
    flex-direction: row;

    section {
      display: flex;
      overflow-y: auto;
      flex-grow: 1;

      #Error {
        width: auto;
        height: 100%;

        .detail-wrapper {
          position: relative;
          width: 100%;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;
          }
        }
      }
    }

    aside {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;
      width: 12rem;
      padding: $padding;

      .image {
        flex-basis: 10rem;
        flex-grow: 0;
        flex-shrink: 0;
        width: 10rem;
        height: 10rem;
        margin-right: $padding;
        border: 5px solid $bright-blue-darken-01;
        border-radius: 50%;
        background-image: url('../img/csr.jpg');
        background-position: right center;
        background-size: cover;
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        margin-top: $padding;

        a {
          margin: $padding;
          font-size: $font-size-h4;
        }
      }
    }
  }

  &.pop-up {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background: rgba($black, 0.8);

    .survey-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .contact-message {
        .card {
          width: auto;
          max-width: 36rem;
          margin: $padding 0;

          .error {
            color: $red-darken-01;
          }

          .card-header {
            background: rgba($red-darken-01, 1);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              background: rgba($red-darken-01, 0.9);
            }
          }

          .contact-methods {
            display: flex;
            align-items: center;

            a {
              margin: $padding ($padding * 2) ($padding * 2) 0;
            }
          }
        }
      }
    }
  }
}
//General Errors
/*------------------------------------------------------------------------------------*/
.error-wrapper {
  .fade-in {
    height: 100%;

    .route {
      height: 100%;

      .error-content {
        .fade-in {
          display: flex;
          flex-direction: row;
          width: 100%;

          section {
            flex-grow: 1;
            flex-shrink: 0;

            #Error.fade-in {
              width: 100%;

              .detail-wrapper {
                position: relative;
                width: 100%;
                padding-bottom: 0;
              }
            }
          }

          aside {
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
