.content-wrapper {
  &.finance {
    .scroll {
      display: flex;
      overflow-x: hidden;
      overflow-y: auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      padding: $padding;

      section {
        border-bottom: 1px dashed $bright-blue-darken-03;

        &.section-payment {
          .form-group {
            margin-bottom: 0;
          }
        }

        &.section-payment-list {
          display: flex;
          flex-wrap: wrap;
          border-bottom-width: 0;

          .form-group {
            width: auto;

            label {
              margin-bottom: $padding/2;
            }
          }

          .payment-table {
            width: 100%;
          }
        }

        form {
          &#payment-form {
            padding: 0 $padding;
          }
        }

        .title {
          flex-grow: 0;
          flex-shrink: 0;
        }

        .btn-wrapper {
          display: flex;
          align-items: flex-start;
          padding-top: 30px;

          .btn {
            + .btn {
              margin-left: $padding;
            }
          }
        }

        .results {
          .card {
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;

            &.Cancellation,
            &.Expired,
            &.Non-Renewal {
              .policy-status {
                > div {
                  color: $red;
                }
              }
            }

            .card-header {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              padding-left: $padding * 4;
              border-bottom-width: 0;
              background-color: $white;

              h5 {
                flex-basis: auto;
              }

              .icon {
                margin-bottom: $padding;
                width: auto;
                color: $bright-blue-darken-04;
                font-size: $font-size-h3;
              }
            }
            .card-block {
              padding: $padding ($padding * 2) $padding $padding;
              .policy-details,
              .policy-status {
                display: flex;
                justify-content: space-between;

                label {
                  margin-bottom: 0;
                  font-size: $font-size-sm;
                }

                .btn.btn-xs {
                  padding: 0 0 0 $padding;
                }
              }

              .policyholder {
                display: flex;
                flex-wrap: wrap;
                margin: $padding 0;
                font-weight: $font-weight-bold;
                font-size: $font-size-h4;

                strong {
                  margin-right: $padding/2;
                  color: $bright-blue-darken-04;
                }
                span {
                  margin-left: $padding/2;
                  font-weight: $font-weight-normal;
                }
              }
            }
            .card-footer {
              align-content: flex-start;
              flex-direction: row;
              margin: $padding 0;
              border-top-width: 0;
              border-left: $card-border-width dotted $card-border-color;
              background-color: $white;

              .form-group.input {
                margin-bottom: 0;
                width: auto;
              }

              .btn {
                align-self: flex-start;
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
}
