@import '_variables';
@import 'utilities/_borders'; // scss-lint:disable QualifyingElement
//
// Textual form controls
//

.react-select__control,
input,
select,
textarea {
  // // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  //padding: $input-padding-y $input-padding-x;
  padding: 0;
  height: 2rem;
  //border: $input-btn-border-width solid $input-border-color;
  //background-color: $input-bg;
  // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214.
  border: 1px solid $warm-gray-06;
  background-color: transparent;
  background-image: none;
  background-clip: padding-box;
  color: $input-color;
  font-size: $font-size-base;
  line-height: $input-line-height;

  @include box-shadow($input-box-shadow);
  @include transition(
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s
  );
  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  &[type='checkbox'] {
    position: relative;
    width: 1rem;
    height: 1rem;
    box-shadow: none;
    line-height: 1;
  }

  &[type='range'] {
    border-width: 0;
    box-shadow: none;
  }

  &[type='radio'] {
    position: relative;
    width: 1rem;
    height: 1rem;
    box-shadow: none;
    line-height: 1;
  }

  &[type='date'] {
    @include for-phone-only {
      width: 100%;
    }
  }

  &[type='file'] {
    width: 100%;
    //box-shadow: none;
  }
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }
  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }
  // Placeholder
  &::placeholder {
    color: $input-color-placeholder;
    font-style: italic;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  .react-select__placeholder {
    color: $input-color-placeholder;
    font-style: italic;
  }

  .react-select__indicators {
    .react-select__indicator-separator {
      background-color: $warm-gray-06;
    }

    .react-select__indicator {
      &.react-select__dropdown-indicator {
        color: $warm-gray-10;
      }
    }
  }
  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[disabled='disabled'],
  &[readonly] {
    border-color: $warm-gray-02;
    background-color: $input-bg-disabled;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:disabled,
  &[disabled='disabled'] {
    cursor: $cursor-disabled;
  }
}

input,
textarea {
  padding: ($padding/2);
  width: 100%;
  background: $white;
  box-shadow: none;
}

select {
  background: $white;
  //margin-top: $padding*.825;
  box-shadow: none;
  /* &:not([size]):not([multiple]) {
      width: 100%;
      height: calc(#{$input-height} - #{$select-border-width});
      $select-border-width: ($border-width * 2);
    } */
  &:focus::-ms-value {
    background-color: $input-bg;
    // Suppress the nested default white text on blue background highlight given to
    // the selected option text when the (still closed) <select> receives focus
    // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
    // match the appearance of the native widget.
    // See https://github.com/twbs/bootstrap/issues/19398.
    color: $input-color;
  }
}
//combobox

select {
  .react-select__control {
    width: 100%;

    div {
      width: 100%;

      &.react-select__multi-value {
        width: auto;
      }
    }
  }
}

.Select {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2rem;

  &.TypeAhead {
    z-index: 10;
    min-height: 2rem;
    height: auto;

    &:focus {
      outline: none;
    }

    .react-select__control {
      z-index: 20;
      min-height: 2rem;
      width: 100%;
      height: auto;

      &.react-select__control--is-focused {
        border-width: 1;
        border-color: $warm-gray-08;
        border-radius: $border-radius $border-radius 0 0;
        box-shadow: none;
      }

      .react-select__indicators {
        .react-select__dropdown-indicator {
          padding: 0;
        }
      }

      .react-select__value-container {
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        padding: 0 0 0 $padding;
        height: auto;

        > div {
          display: flex;
          margin: 0;
          padding: 0;

          &.react-select__single-value {
            display: block;
          }

          &.react-select__placeholder {
            left: $padding;
          }

          &.react-select__single-value {
            margin: 0;
          }

          .react-select__input {
            width: 100%;

            input {
              height: auto;
              line-height: 1;
            }
          }
        }

        .react-select__multi-value {
          margin: $padding/4;
          width: auto;
          border-radius: $border-radius;
          background: $warm-gray-08;
          color: $white;

          .react-select__multi-value__label {
            color: $white;
          }

          .react-select__multi-value__remove {
            border-radius: 0 $border-radius $border-radius 0;

            @include transition(all 0.2s ease-in-out);

            &:hover {
              background: $red-lighten-04;
              cursor: pointer;
            }
          }
        }
      }
    }

    .react-select__menu {
      position: absolute;
      z-index: 100;
      overflow: hidden;
      margin: 0;
      border-width: 0 1px 1px 1px;
      border-style: none solid solid solid;
      border-color: $warm-gray-06;
      border-radius: 0 0 $border-radius $border-radius;

      .react-select__menu-list {
        padding: 0;
      }
    }

    .react-select__indicators {
      .react-select__clear-indicator {
        padding: $padding/2;
      }
    }
  }

  .Select-control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $warm-gray-06;
    border-radius: $border-radius;

    .Select-arrow-zone {
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 2rem;
        color: $warm-gray-10;
        content: '\f0d7';
        font-family: $font-family-icon;
        cursor: pointer;
      }
    }

    .Select-clear-zone {
      position: absolute;
      right: 1.5rem;
      height: 2rem;
      cursor: pointer;

      .Select-clear {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
      }
    }

    .Select-multi-value-wrapper {
      position: relative;
      position: relative;
      display: flex;
      align-self: stretch;
      padding: 0 $padding;
      width: 100%;

      .Select-value {
        position: absolute;
        top: 0;
        left: $padding;
        padding-right: 3rem;
        width: 100%;

        .Select-value-label {
          display: block;
          overflow: hidden;
          height: 2rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 2rem;
        }
      }

      .Select-input {
        overflow: hidden;

        input {
          flex-grow: 1;
          flex-shrink: 1;
          border-width: 0;
        }
      }

      .Select-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding-left: $padding;
        width: 100%;
      }

      span {
        display: flex;

        .Select-placeholder {
          display: flex;
        }
      }

      .Select-input {
        display: flex !important;
        width: 100%;

        input[role='combobox'] {
          display: flex;
          margin-right: $padding * 2;
          padding: 0 !important;
          width: 100%;
        }
      }
    }
  }

  &.is-focused {
    &:not(.is-open) {
      .Select-control {
        outline: none;
        border-color: $input-border-focus;
        background-color: $input-bg-focus;
        box-shadow: none;
        color: $input-color-focus;
      }
    }

    &.is-open {
      .Select-control {
        border-radius: $border-radius $border-radius 0 0;
      }
    }
  }

  .Select-menu-outer {
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    max-height: 13.5rem;
    width: auto;
    border: 1px solid $warm-gray-10;
    border-radius: 0 0 $border-radius $border-radius;
    background: $white;

    .Select-option {
      padding: $padding;
      color: $warm-gray-10;

      &.is-focused {
        background-color: rgba($bright-blue, 0.1);
      }
    }
  }
}
//
// Legends
//
// For use with horizontal and inline forms, when you need the legend text to
// be the same size as regular labels, and to align with the form controls.

.col-form-legend {
  margin-bottom: 0;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  font-size: $font-size-base;
}
// Static form control text
//
// Apply class to an element to make any string of text align with labels in a
// horizontal form layout.

.form-control-static {
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  border: solid transparent;
  border-width: 1px 0;
  line-height: $input-line-height;
}
// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

label {
  color: $warm-gray-08;
  font-weight: $font-weight-bold;
  font-size: $font-size-h5;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $form-group-margin-bottom;
  padding: 0;
  width: 100%;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    flex-basis: 100%;
  }

  &.row[role='group'] {
    margin: 0 - ($padding/2);
  }

  &.row {
    flex-direction: row;
  }

  .__react_component_tooltip {
    z-index: 900;
  }

  label {
    @include transition(all 0.2s ease-in-out);
  }

  &.segmented {
    label {
      &.label-segmented {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > input[type='text'] {
          flex-basis: 6.5rem;
        }
      }
    }

    .initial-value .segmented-answer-wrapper,
    .segmented-answer-wrapper {
      display: flex;
      flex-direction: row;

      @include for-phone-only {
        flex-direction: column;
      }

      div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        width: auto;

        &:hover {
          cursor: pointer;
        }

        img {
          display: flex;
          flex-basis: 100px;
          flex-grow: 0;
          flex-shrink: 0;

          @include for-phone-only {
            flex-basis: 50px;
            height: 70px;
            -webkit-filter: drop-shadow(0 0 4px rgba($green, 0));
            filter: drop-shadow(0 0 4px rgba($green, 0));

            @include transition(all 0.2s ease-in-out);
          }
        }

        &.selected {
          img {
            -webkit-filter: drop-shadow(0 0 4px rgba($green, 0.8));
            filter: drop-shadow(0 0 4px rgba($green, 0.8));
          }
        }

        .label-segmented {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 0;
          margin-bottom: 0;
          border-right: 2px solid $white;

          span {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            padding: ($padding);
            width: 100%;
            height: 2rem;
            border: $input-btn-border-width solid transparent;
            vertical-align: middle;
            text-align: center;
            white-space: initial;
            font-weight: $btn-font-weight;
            line-height: 1;
            cursor: pointer;

            user-select: none;
            @include transition(all 0.2s ease-in-out);
            @include button-variant(
              $warm-gray-08,
              $warm-gray-02,
              $warm-gray-02
            );
            @include for-phone-only {
              border-radius: $border-radius;
            }

            &,
            &.active,
            &:active {
              &.focus,
              &:focus {
                @include tab-focus();
              }
            }
          }

          &.selected {
            span {
              background: $bright-blue-darken-04;
              color: $white;
            }
          }

          input[type='radio'] {
            display: none;

            &:checked {
              + span {
                background: $bright-blue-darken-04;
                color: $white;
              }
            }
          }
        }
      }

      div:first-child {
        span {
          border-radius: $border-radius 0 0 $border-radius;

          @include for-phone-only {
            border-radius: $border-radius;
          }
        }
      }

      div:last-child {
        .label-segmented {
          border-right-width: 0;
        }

        span {
          border-radius: 0 $border-radius $border-radius 0;

          @include for-phone-only {
            border-radius: $border-radius;
          }
        }
      }

      &.error {
        div {
          .label-segmented {
            span {
              border-color: $red-lighten-01;
              color: $red-lighten-01;
            }
          }
        }

        ~ span {
          color: $red;
          font-size: $font-size-sm;
          line-height: 1.4;
        }
      }
    }

    .installment-term {
      display: flex;
      flex-wrap: wrap;

      .column-3 {
        padding: 0;
        width: 33.33%;
        border-right: 2px solid $white;

        @include for-phone-only {
          width: 100%;
        }

        dt {
          padding: (0.25 * $padding) $padding;

          span {
            display: none;
            font-size: $font-size-h4;

            @include for-phone-only {
              display: block;
            }
          }
        }

        dd {
          padding: (0.25 * $padding) $padding;
        }
      }
    }

    &.disabled,
    &.disabled.invalid {
      cursor: not-allowed;

      .segmented-answer-wrapper {
        cursor: not-allowed;

        div {
          cursor: not-allowed;

          .label-segmented {
            border-right: 1px solid $warm-gray-01;
            cursor: not-allowed;

            span {
              cursor: not-allowed;

              @include button-variant(
                $warm-gray-04,
                $warm-gray-01,
                $warm-gray-01
              );
            }

            &.selected {
              span {
                background: rgba($bright-blue-darken-04, 0.5);
                color: $white;
                cursor: not-allowed;
              }
            }

            input[type='radio'] {
              &:checked {
                cursor: not-allowed;

                + span {
                  background: $warm-gray-03;
                  color: $warm-gray-05;
                  cursor: not-allowed;
                }
              }
            }
          }
        }
      }

      span {
        border-color: $warm-gray-02;
        cursor: not-allowed;
      }

      label {
        cursor: not-allowed;

        &.label-segmented {
          cursor: not-allowed;

          span {
            color: $warm-gray-03;
            cursor: not-allowed;
          }
        }
      }

      input[type='radio'] {
        cursor: not-allowed;

        &:checked {
          cursor: not-allowed;

          + span {
            background: $warm-gray-01;
            color: $warm-gray-03;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  &.switch {
    flex-direction: row;
    flex-wrap: wrap;

    label {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
      width: 100%;
      line-height: 1.45;

      span {
        flex-grow: 1;
      }

      input[type='checkbox'],
      input[type='radio'] {
        display: none;

        &:checked {
          + div.switch-div {
            background-color: $bright-blue-darken-04;

            &:before {
              border-color: $cool-gray-01;
              background-color: lighten($cool-gray-00, 10%);
              -webkit-transform: translateX(2rem);
              -ms-transform: translateX(2rem);
              transform: translateX(2rem);
            }

            &:after {
              top: 0.25rem;
              left: 0.5rem;
              color: $white;
              content: 'Yes';
            }

            &.disabled {
              background-color: $cool-gray-00;

              &:after {
                color: $cool-gray-01;
              }
            }
          }
        }
      }

      div.switch-div {
        position: relative;
        flex-basis: 3.5rem;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0.225rem 0;
        width: 3.5rem;
        height: 1.5rem;
        border-radius: 0.75rem;
        background: $warm-gray-03;
        color: $warm-gray-08;
        cursor: pointer;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
          position: absolute;
          z-index: 2;
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid $cool-gray-01;
          border-radius: 50%;
          background-color: lighten($cool-gray-00, 10%);
          box-shadow: $input-box-shadow;
          content: '';
          line-height: 1;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        &:after {
          position: absolute;
          top: 0.25rem;
          left: 2rem;
          z-index: 1;
          content: 'No';
          font-weight: $font-weight-bold;
          font-size: 0.7rem;
        }
      }
    }

    &.disabled,
    &.disabled.invalid {
      cursor: not-allowed;

      label {
        color: $text-muted;
        cursor: not-allowed;
      }

      div {
        background-color: $warm-gray-01;
        cursor: not-allowed;

        &:after {
          color: $warm-gray-03;
          cursor: not-allowed;
        }

        &:before {
          border-color: $warm-gray-02;
          background-color: $warm-gray-01;
          cursor: not-allowed;
        }
      }

      input[type='checkbox'],
      input[type='radio'] {
        display: none;

        &:checked {
          + div {
            background-color: $warm-gray-01;

            &:after {
              color: $warm-gray-03;
            }
          }
        }
      }
    }

    &.error {
      label {
        color: $red-lighten-01;
      }

      div {
        background-color: $red-lighten-01;

        &:after {
          color: $white;
        }

        &:before {
          border-color: $red;
          background-color: $red-lighten-03;
        }
      }

      input[type='checkbox'],
      input[type='radio'] {
        display: none;

        &:checked {
          + div {
            background-color: $red-lighten-01;

            &:after {
              color: $white;
            }
          }
        }
      }
    }

    &.verification {
      position: relative;
      flex-direction: column;

      label {
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 2rem;

        &:before {
          position: absolute;
          top: 0.25rem;
          left: -0.25rem;
          display: block;
          padding: 0.25rem;
          width: 9rem;
          border-top-left-radius: 0.125rem;
          border-bottom-left-radius: 0.125rem;
          background: $orange-lighten-01;
          color: $red-darken-02;
          content: 'VERIFY HERE';
          text-align: center;
          font: normal normal normal 1rem $font-family-sans-serif;
          line-height: 1;

          @include for-phone-only {
            left: -0.75rem;
            width: 8rem;
            font-size: 0.875rem;
          }
        }

        &:after {
          position: absolute;
          top: 0.25rem;
          left: 8.75rem;
          width: 0;
          height: 0;
          border-top: 0.75rem solid transparent;
          border-bottom: 0.75rem solid transparent;
          border-left: 1rem solid $orange-lighten-01;
          content: '';

          @include for-phone-only {
            left: 7.25rem;
            border-top: 0.6875rem solid transparent;
            border-bottom: 0.6875rem solid transparent;
          }
        }

        div {
          margin-right: 0.5rem;
        }

        span {
          position: relative;
          flex-grow: 1;
          margin-right: 0.5rem;
          height: 1px;
          background: $warm-gray-02;
          cursor: pointer;

          &:before {
            position: absolute;
            top: -0.75rem;
            left: -0.75rem;
            display: block;
            padding: 0.25rem;
            width: 1.5rem;
            border-top-left-radius: 0.125rem;
            border-bottom-left-radius: 0.125rem;
            background: $yellow;
            color: $yellow-lighten-05;
            content: '\f14a';
            text-align: center;
            font: normal normal normal 1rem $font-family-icon;
          }

          &:after {
            position: absolute;
            top: -0.75rem;
            left: 0.75rem;
            width: 0;
            height: 0;
            border-top: 0.75rem solid transparent;
            border-bottom: 0.75rem solid transparent;
            border-left: 1rem solid $yellow;
            content: '';
          }
        }

        input[type='checkbox'] {
          &:checked {
            ~ span {
              &:before {
                background: $warm-gray-02;
                color: $green;
              }

              &:after {
                border-left-color: $warm-gray-02;
              }
            }
          }
        }
      }
    }

    &.confirm {
      position: relative;
      flex-direction: column;

      label {
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-right: 2rem;

        &:before {
          position: absolute;
          top: 0.25rem;
          left: -0.25rem;
          display: block;
          padding: 0.25rem;
          width: 9rem;
          border-top-left-radius: 0.125rem;
          border-bottom-left-radius: 0.125rem;
          background: $orange-lighten-01;
          color: $red-darken-02;
          content: 'CONFIRM HERE';
          text-align: center;
          font: normal normal normal 1rem $font-family-sans-serif;
          line-height: 1;

          @include for-phone-only {
            left: -0.75rem;
            width: 8rem;
            font-size: 0.875rem;
          }
        }

        &:after {
          position: absolute;
          top: 0.25rem;
          left: 8.75rem;
          width: 0;
          height: 0;
          border-top: 0.75rem solid transparent;
          border-bottom: 0.75rem solid transparent;
          border-left: 1rem solid $orange-lighten-01;
          content: '';

          @include for-phone-only {
            left: 7.25rem;
            border-top: 0.6875rem solid transparent;
            border-bottom: 0.6875rem solid transparent;
          }
        }

        div {
          margin-right: 0.5rem;
        }

        span {
          position: relative;
          flex-grow: 1;
          margin-right: 0.5rem;
          height: 1px;
          background: $warm-gray-02;
          cursor: pointer;

          &:before {
            position: absolute;
            top: -0.75rem;
            left: -0.75rem;
            display: block;
            padding: 0.25rem;
            width: 1.5rem;
            border-top-left-radius: 0.125rem;
            border-bottom-left-radius: 0.125rem;
            background: $yellow;
            color: $yellow-lighten-05;
            content: '\f14a';
            text-align: center;
            font: normal normal normal 1rem $font-family-icon;
          }

          &:after {
            position: absolute;
            top: -0.75rem;
            left: 0.75rem;
            width: 0;
            height: 0;
            border-top: 0.75rem solid transparent;
            border-bottom: 0.75rem solid transparent;
            border-left: 1rem solid $yellow;
            content: '';
          }
        }

        input[type='checkbox'] {
          &:checked {
            ~ span {
              &:before {
                background: $warm-gray-02;
                color: $green;
              }

              &:after {
                border-left-color: $warm-gray-02;
              }
            }
          }
        }
      }
    }
  }

  &.segmented-switch {
    position: relative;
    height: 4.4375rem;

    label {
      z-index: 2;
      display: flex;
      flex-direction: column;
    }

    .switch-div {
      position: absolute;
      bottom: 0;
      z-index: 1000;
      display: block;
      margin: 0;
      width: 50%;
      height: 2rem;
      cursor: default;

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 1px);
        height: 2rem;
        border: 1px solid $warm-gray-02;
        border-radius: $border-radius 0 0 $border-radius;
        background: $warm-gray-02;
        color: $warm-gray-14;
        content: 'YES';
        font-weight: $font-weight-bold;
        cursor: pointer;

        @include transition(all 0.2s ease-in-out);
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 1px);
        height: 2rem;
        border: 1px solid $warm-gray-02;
        border-radius: 0 $border-radius $border-radius 0;
        background: $bright-blue-darken-04;
        color: $white;
        content: 'NO';
        font-weight: $font-weight-bold;
        cursor: default;

        @include transition(all 0.2s ease-in-out);
      }

      &:hover {
        &:before {
          border-color: lighten($warm-gray-02, 6%);
          background: lighten($warm-gray-02, 5%);
        }
      }

      &.active {
        &:before {
          background: $bright-blue-darken-04;
          color: $white;
          cursor: default;
        }

        &:after {
          background: $warm-gray-02;
          color: $warm-gray-14;
          cursor: pointer;
        }

        &:hover {
          &:after {
            border-color: lighten($warm-gray-02, 6%);
            background: lighten($warm-gray-02, 5%);
          }
        }

        label {
          input[type='checkbox'] {
            right: 0;
          }
        }
      }
    }
  }

  &.info {
    span {
      color: $green;
    }
  }
}

.form-group.segmented.BillType {
  .segmented-answer-wrapper {
    div {
      width: 33.33%;
    }
  }
}

.submit-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  button[type='submit'] {
    margin-left: 1rem;
  }
}

ul.list,
ul.results {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  &.list-cards {
    li {
      z-index: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      padding: $padding $padding * 1.5;
      width: 100%;
      border: $card-border-width solid $card-border-color;
      border-top-width: 0;
      border-radius: 0;
      box-shadow: $card-box-shadow;
      text-decoration: none;

      @include transition(all 0.2s ease-in-out);

      &:first-child {
        border-top-width: $card-border-width;
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
      }

      section {
        flex-grow: 1;

        h2,
        h3,
        h4,
        h5 {
          margin: 0;
        }

        p {
          margin: 0;
        }
      }

      ul.list {
        flex-basis: 12rem;
        flex-grow: 0;
        flex-shrink: 0;
        width: 12rem;
        border-right: 1px solid $border-color;

        li {
          border-width: 0;
          box-shadow: none;

          &:first-child {
            border-width: 0;
          }
        }
      }

      i {
        &.fa-trash {
          display: flex;
          align-items: center;
          flex-basis: 2rem;
          flex-shrink: 0;
          justify-content: flex-end;
          margin: 0;
          width: 2rem;
          height: 2.4rem;
          font-size: $font-size-h4;
          cursor: pointer;

          @include transition(all 0.2s ease-in-out);

          &:hover {
            color: $red;
          }
        }
      }
    }
  }

  &.result-cards {
    li {
      display: flex;
      flex-direction: row;
      margin-bottom: $padding/2;
      border-bottom: none;

      a {
        z-index: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: $padding $padding * 1.5;
        width: 100%;
        border: $card-border-width solid $card-border-color;
        border-radius: $card-border-radius;
        box-shadow: $card-box-shadow;
        text-decoration: none;

        @include transition(all 0.2s ease-in-out);

        section {
          flex-grow: 1;

          h2,
          h3,
          h4,
          h5 {
            margin: 0;
          }

          p {
            margin: 0;
          }
        }

        i {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          font-size: $font-size-h2;

          @include transition(all 0.2s ease-in-out);

          &.fa-pencil {
            font-size: $font-size-h4;
          }

          &.card-icon {
            margin-right: $padding;
          }
        }

        &:hover {
          z-index: 2;
          box-shadow: $card-box-shadow-hover;
          transform: scale(1.004);
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

form + form {
  margin-top: $padding * 2;
}

input[type='checkbox'] {
  display: inline-block;
  margin: 0 0 0 10px;
}

.child-element {
  margin-bottom: ($padding * 2);
  margin-left: ($padding * 2);
  padding-left: ($padding * 2);
  border-left: solid 3px $cool-gray-08;
}

.flex-header-wrap {
  display: flex;
  align-items: baseline;

  input[type='checkbox'] {
    margin-right: $padding/2;
  }
}

.error-message {
  color: $red;
}
