/*editor error animate*/
//** Unit-less `line-height` for use in components like buttons.
//$line-height-base: 1.45 from _variables.scss
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(
  ($font-size-base * $line-height-base)
) !default; // ~20px
//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: (
  $padding/2
) !default; //** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: (
  $padding/2
) !default; //** Default background color used for all tables.
$table-bg: transparent !default; //** Background color used for `.table-striped`.
$table-bg-accent: $white !default; //** Background color used for `.table-hover`.
$table-bg-hover: $warm-gray-00 !default;
$table-bg-hover-alt: $warm-gray-02 !default;
$table-bg-active: $table-bg-hover !default; //** Border color for table and cell borders.
$table-border-color: $warm-gray-07 !default; //== Media queries breakpoints

.react-bs-table-container .react-bs-table-search-form {
  margin-bottom: 0;
}

.react-bs-table {
  position: relative;

  border: 1px solid #ddd;
  border-radius: 0;
}

.react-bs-table table {
  margin-bottom: 0;

  table-layout: fixed;

  color: $warm-gray-10;
  background-color: transparent;
}

.react-bs-table table td,
.react-bs-table table th {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.react-bs-table-pagination {
  margin: $padding;
}

.react-bs-table-tool-bar {
  margin: $padding $padding 0;
}

.react-bs-container-header {
  overflow: hidden;

  width: 100%;
}

.react-bs-container-body {
  overflow: auto;

  width: 100%;
}

.react-bootstrap-table-page-btns-ul {
  float: right;
  /* override the margin-top defined in .pagination class in bootstrap. */

  margin-top: 0;
}

.react-bs-table .table-bordered {
  border: 0;
  outline: none !important;
}

.react-bs-table {
  .table-bordered {
    > thead {
      > tr {
        display: table-row;

        background: $warm-gray-02;

        > th {
          display: table-cell;
        }
      }
    }
  }
}

.react-bs-table .table-bordered > thead > tr > td,
.react-bs-table .table-bordered > thead > tr > th {
  color: $warm-gray-08;
  border-bottom-width: 1px;
  background: $warm-gray-02;
}

.react-bs-table .table-bordered > tbody > tr > td {
  color: $warm-gray-10;
  outline: none !important;
}

.react-bs-table .table-bordered > tbody > tr {
  border-bottom: 1px dotted $warm-gray-03;
}

.react-bs-table .table-bordered > tbody > tr:nth-of-type(even) {
  background-color: $warm-gray-01;

  > td {
    background-color: $warm-gray-01;
  }

  &:hover {
    background-color: $table-bg-hover-alt;

    > td {
      background-color: $table-bg-hover-alt;
    }
  }
}

.react-bs-table .table-bordered > tbody > tr > td.default-focus-cell {
  outline: 3px solid cornflowerblue !important;
  outline-offset: -1px;
}

.react-bs-table .table-bordered > tfoot > tr > td,
.react-bs-table .table-bordered > tfoot > tr > th {
  border-top-width: 1px;
}

.react-bs-table .table-bordered > tfoot > tr > td,
.react-bs-table .table-bordered > tfoot > tr > th {
  border-bottom-width: 0;
}
/*Esquerda*/
.react-bs-table .table-bordered > tbody > tr > td:first-child,
.react-bs-table .table-bordered > tbody > tr > th:first-child,
.react-bs-table .table-bordered > tfoot > tr > td:first-child,
.react-bs-table .table-bordered > tfoot > tr > th:first-child,
.react-bs-table .table-bordered > thead > tr > td:first-child,
.react-bs-table .table-bordered > thead > tr > th:first-child {
  border-left-width: 0;
}
/*Direita*/
.react-bs-table .table-bordered > tbody > tr > td:last-child,
.react-bs-table .table-bordered > tbody > tr > th:last-child,
.react-bs-table .table-bordered > tfoot > tr > td:last-child,
.react-bs-table .table-bordered > tfoot > tr > th:last-child,
.react-bs-table .table-bordered > thead > tr > td:last-child,
.react-bs-table .table-bordered > thead > tr > th:last-child {
  border-right-width: 0;
}
/*Topo*/
.react-bs-table .table-bordered > thead > tr:first-child > td,
.react-bs-table .table-bordered > thead > tr:first-child > th {
  border-top-width: 0;
}
/*Baixo*/
.react-bs-table .table-bordered > tfoot > tr:last-child > td,
.react-bs-table .table-bordered > tfoot > tr:last-child > th {
  border-bottom-width: 0;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th {
  vertical-align: middle;
}

.react-bs-table .react-bs-container-header > table > thead > tr > th .filter {
  font-weight: normal;
}

.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .filter::-webkit-input-placeholder,
.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .number-filter-input::-webkit-input-placeholder,
.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .select-filter
  option[value=''],
.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .select-filter.placeholder-selected {
  color: lightgrey;

  font-style: italic;
}

.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .select-filter.placeholder-selected
  option:not([value='']) {
  color: initial;

  font-style: initial;
}

.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .date-filter,
.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .number-filter {
  display: flex;
}

.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .date-filter-input,
.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .number-filter-input {
  float: left;

  width: calc(100% - 4.5rem - #{$padding});
  margin-left: $padding;
}

.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .date-filter-comparator,
.react-bs-table
  .react-bs-container-header
  > table
  > thead
  > tr
  > th
  .number-filter-comparator {
  float: left;

  width: 4.5rem;
}

.react-bs-table .react-bs-container-header .sort-column {
  position: relative;

  cursor: pointer;
}

.react-bs-container .textarea-save-btn {
  position: absolute;
  z-index: 100;
  top: -21px;
  right: 0;
}

.react-bs-table-no-data {
  display: block !important;

  text-align: center;
}

.ReactModal__Overlay {
  z-index: 101;

  overflow-x: hidden;
  overflow-y: auto;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);

  -webkit-perspective: 600;
  perspective: 600;
}

.ReactModal__Overlay--after-open {
  transition: opacity 150ms ease-out;

  opacity: 1;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  transition: all 150ms ease-in;
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  transition: all 150ms ease-in;
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}
/*error tip style*/
.animated {
  animation-fill-mode: both;
}

.animated.bounceIn,
.animated.bounceOut {
  animation-duration: 0.75s;
}

.animated.shake {
  animation-duration: 0.3s;
}

td.react-bs-table-expand-cell {
  cursor: pointer;
}
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  50%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  30%,
  70% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}
@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    transform: scale3d(0.3, 0.3, 0.3);

    opacity: 0;
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    transform: scale3d(1.03, 1.03, 1.03);

    opacity: 1;
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    transform: scale3d(1, 1, 1);

    opacity: 1;
  }
}

.bounceIn {
  animation-name: bounceIn;
}
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    transform: scale3d(1.1, 1.1, 1.1);

    opacity: 1;
  }

  to {
    transform: scale3d(0.3, 0.3, 0.3);

    opacity: 0;
  }
}

.bounceOut {
  animation-name: bounceOut;
}
//bootstrap _tables.scss
//
// Tables
// --------------------------------------------------

table {
  background-color: $table-bg;
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;

  text-align: left;

  color: $text-muted;
}

th {
  text-align: left;
}
// Baseline styles

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > tbody,
  > thead,
  > tfoot {
    > tr {
      > td,
      > th {
        padding: $table-cell-padding/4;

        vertical-align: top;

        border-top: 1px solid $table-border-color;

        line-height: $line-height-base;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;

    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > colgroup + thead,
  > thead:first-child,
  > caption + thead {
    > tr:first-child {
      > td,
      > th {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }
  // Nesting
  .table {
    background-color: $body-bg;
  }
}
// Condensed table w/ half padding

.table-condensed {
  > tbody,
  > thead,
  > tfoot {
    > tr {
      > td,
      > th {
        padding: $table-condensed-cell-padding;
      }
    }
  }
}
// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;

  > tbody,
  > thead,
  > tfoot {
    > tr {
      > td,
      > th {
        border: 1px solid $table-border-color;
      }
    }
  }

  > thead > tr {
    > td,
    > th {
      border-bottom-width: 2px;
    }
  }
}
// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;

    &:hover {
      background-color: $table-bg-accent;
    }

    &.future-endorsement {
      position: relative;

      background: rgba(mix($orange, $yellow, 10%), 0.1);

      &:after {
        position: absolute;
        right: 0;

        display: inline-block;

        width: 2rem;
        height: 1.9375rem;

        content: '';

        background: url(../../img/flag.svg);
        background-color: rgba($orange, 0.7);
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: 50%;
      }
    }
  }

  > tbody > tr:nth-of-type(even) {
    background-color: $warm-gray-01;

    &:hover {
      background-color: $warm-gray-01;
    }

    &.future-endorsement {
      background: rgba(mix($orange, $yellow, 40%), 0.2);

      &:after {
        position: absolute;
        right: 0;

        display: inline-block;

        width: 2rem;
        height: 1.9375rem;

        content: '';

        background: url(../../img/flag.svg);
        background-color: rgba($orange, 1);
        background-repeat: no-repeat;
        background-position: center, center;
        background-size: 50%;
      }
    }
  }
}
// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}
// Table cell sizing
//
// Reset default table behavior

table col[class*='col-'] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)

  display: table-column;
  float: none;
}

table {
  td,
  th {
    &[class*='col-'] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)

      display: table-cell;
      float: none;
    }
  }
}
// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
//NEED TO REWORK THIS TO BECOME CARDS ON MOBILE DEVICES

.table-responsive {
  overflow-x: auto;

  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @include for-phone-only {
    overflow-y: hidden;

    width: 100%;
    margin-bottom: ($line-height-computed * 0.75);

    border: 1px solid $table-border-color;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    // Tighten up spacing
    > .table {
      margin-bottom: 0;
      // Ensure the content doesn't wrap
      > tbody,
      > thead,
      > tfoot {
        > tr {
          > td,
          > th {
            white-space: nowrap;
          }
        }
      }
    }
    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;
      // Nuke the appropriate borders so that the parent can handle them
      > tbody,
      > thead,
      > tfoot {
        > tr {
          > td:first-child,
          > th:first-child {
            border-left: 0;
          }

          > td:last-child,
          > th:last-child {
            border-right: 0;
          }
        }
      }
      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tfoot,
      > tbody {
        > tr:last-child {
          > td,
          > th {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
// TEMP STYLE, NEEDS REMOVED

.survey-wrapper {
  display: none;
}
//GLOBAL DEFAULTS

.react-bs-table,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 0;
}

.react-bs-table,
.react-bootstrap-table {
  .table .table {
    background: transparent;
  }
  //BOOTSTRAP TABLE 2.0 STYLES
  .table {
    > thead,
    > tbody {
      > tr {
        > th,
        > td {
          padding: ($padding/2) ($padding * 0.75);

          color: $warm-gray-08;
          border-width: 0;
        }
      }
    }
  }
  //END BOOTSTRAP TABLE 2.0 STYLES

  .table-bordered {
    tr {
      background: transparent;

      font-size: $font-size-base;

      th {
        padding: $table-cell-padding ($table-cell-padding * 1.5);

        border: none;
      }

      td {
        padding: $table-cell-padding ($table-cell-padding * 1.5);

        border: none;

        font-size: $font-size-base;
      }
    }
  }
}

.verify {
  .workflow-steps {
    .btn {
      align-self: flex-start;

      height: 36px;
      margin-top: 25px;
    }

    input {
      height: 36px;
    }
  }
}

//table view
/*------------------------------------------------------------------------------------*/
.react-bs-container-header {
  .table-bordered {
    table-layout: auto;

    tr {
      display: flex;
      align-content: stretch;
      align-items: flex-start;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;

      th {
        align-self: auto;
        order: 0;

        width: auto;
      }
    }
  }
}

.react-bs-container-body {
  .table {
    table-layout: auto;

    tr:nth-of-type(even) > td {
      background-color: transparent;
    }
  }
}
//card view
/*------------------------------------------------------------------------------------*/
.card-view {
  .react-bs-table-container {
    .react-bs-container-header {
      .table-bordered {
        table-layout: auto;

        tr {
          display: flex;
          align-content: stretch;
          align-items: flex-start;
          flex-basis: auto;
          flex-direction: row;
          flex-grow: 1;
          flex-shrink: 0;
          flex-wrap: nowrap;
          justify-content: center;

          th {
            align-self: auto;
            order: 0;

            width: auto;
          }

          td {
            align-self: flex-start;
            flex: 1 1 auto;
            order: 0;

            white-space: pre-line;
          }
        }
      }
    }

    .react-bs-container-body {
      .table {
        table-layout: auto;

        tr {
          display: flex;
          align-content: stretch;
          align-items: flex-start;
          flex-basis: auto;
          flex-direction: row;
          flex-grow: 1;
          flex-shrink: 0;
          flex-wrap: wrap;
          justify-content: flex-start;

          margin-top: $padding;

          border: $card-border-width solid $card-border-color;
          border-radius: $card-border-radius;
          background: $card-bg;
          box-shadow: $card-box-shadow;

          td {
            align-self: center;
            flex: 1 1 auto;
            order: 0;

            padding: ($padding/2) $padding;

            white-space: pre-line;
          }
        }

        tr:nth-of-type(even) {
          background-color: $white;

          > td {
            background-color: transparent;
          }
        }
      }
    }
  }
}
//CSR SPLASH PAGE TABLE
/*------------------------------------------------------------------------------------*/
.csr {
  .survey-wrapper {
    flex-wrap: nowrap;

    .results-wrapper {
      //card view styles
      /*------------------------------------------------------------------------------------*/
      .card-view {
        .results-grid {
          .react-bs-container-header {
            .table-bordered {
              tr {
                th {
                  width: auto;
                }
              }
            }
          }

          .react-bs-container-body {
            overflow: visible;

            .table {
              tr {
                @include transition(all 0.2s ease-in-out);

                &:hover {
                  z-index: 2;

                  transform: scale(1.004);

                  box-shadow: $card-box-shadow-hover;
                }

                td {
                  &.icon {
                    display: flex;
                    align-items: center;
                    flex-grow: 0;
                    justify-content: center;
                    order: 1;

                    width: 2rem;

                    font-size: $font-size-h4;

                    &:before {
                      content: '\f111';

                      font-family: $font-family-icon;
                    }
                  }

                  &.number {
                    flex-basis: 7rem;
                    flex-grow: 0;
                    order: 2;

                    padding-left: 0;
                  }

                  &.policyholder {
                    order: 3;
                  }

                  &.address {
                    flex-basis: 100%;
                    order: 0;

                    width: 100%;
                    padding-bottom: 0;

                    font-size: $font-size-h4;
                  }

                  &.status {
                    flex-basis: 7rem;
                    flex-grow: 0;
                    order: 4;
                  }

                  &.effectiveDate {
                    flex-basis: 7rem;
                    flex-grow: 0;
                    order: 5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//grid filter buttons
/*------------------------------------------------------------------------------------*/
.grid-controls {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;

  .filters-wrapper {
    display: flex;

    .filters {
      margin: $padding;

      a {
        &.btn {
          margin-right: 2px;

          text-transform: none;

          border-radius: 0;

          font-weight: $font-weight-normal;

          @include button-variant($warm-gray-12, $warm-gray-01, $warm-gray-01);

          &:hover {
            @include button-variant(
              $warm-gray-12,
              $warm-gray-04,
              $warm-gray-04
            );
          }

          &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }

          &:last-child {
            margin-right: 0;

            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          &.selected {
            @include button-variant(
              $white,
              $bright-blue-darken-04,
              $bright-blue-darken-04
            );

            &:hover {
              cursor: default;

              @include button-variant(
                $white,
                $bright-blue-darken-04,
                $bright-blue-darken-04
              );
            }
          }

          &.btn-sm {
            i {
              margin: 0;

              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }

  .table-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
//sortable column controls
/*------------------------------------------------------------------------------------*/
//New bootstrap table 2.0
.search {
  > span {
    margin: 0 0 0 1rem;
    margin-bottom: 0.5rem;

    color: $warm-gray-08;

    font-weight: $font-weight-bold;
  }
  .search-label {
    width: 100%;
  }
}
.diaries {
  .react-bootstrap-table {
    table {
      tbody {
        background-color: $white;
        tr {
          border-bottom: 1px dotted $warm-gray-03;
        }
      }
      tbody,
      thead {
        tr {
          display: flex;

          td {
            flex-grow: 0;
            flex-shrink: 0;
          }
          .due-status {
            width: 8rem;

            .status-indicator {
              display: flex;

              span {
                display: flex;
                flex-grow: 0;
                flex-shrink: 0;

                min-width: 4px;
                min-height: 1rem;
                margin-right: $padding/2;
                margin-left: -$padding/2;

                &.gray {
                  border-radius: 2px;
                  background: $warm-gray-06;
                }

                &.red {
                  border-radius: 2px;
                  background: $red;
                }

                &.yellow {
                  border-radius: 2px;
                  background: $orange-lighten-01;
                }

                &.green {
                  border-radius: 2px;
                  background: $green-darken-02;
                }

                &.status-display {
                  margin-left: 0;
                }
              }
            }
          }
          .due {
            width: 5rem;
          }
          .assignee {
            width: 8rem;
          }
          .reason {
            width: 8rem;
          }
          .message {
            flex-grow: 1;
            flex-shrink: 1;
          }
          .updated-at {
            width: 8rem;
          }
          .created-by {
            min-width: 9.75rem;
          }
          .expand-cell {
            display: flex;
            align-items: center;

            width: 3.25rem;

            > span {
              display: flex;
              flex-grow: 1;
              flex-shrink: 0;
              justify-content: flex-end;

              cursor: pointer;

              color: $bright-blue;

              font-size: $font-size-base;

              @include transition(all 0.1s ease-in-out);

              &:hover {
                color: $bright-blue-darken-04;
              }
            }
          }
          .reset-expansion-style {
            width: 100%;
            padding: 0;
            .row-expansion-style {
              width: 100%;
              .react-bootstrap-table {
                table {
                  margin: 0;
                  thead {
                    display: none;
                  }
                  tbody {
                    tr {
                      margin-right: 3.25rem;
                      margin-left: 8rem;

                      &:last-of-type {
                        border-bottom-width: 0;
                      }
                      &:hover {
                        background-color: $white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.react-bootstrap-table {
  table:not(.table-bordered) {
    position: relative;

    margin-bottom: 2rem;
    th,
    td {
      &.term {
        min-width: 3.75rem;
      }
      &.created-by {
        min-width: 9.75rem;
      }
      &.note-type {
        min-width: 5rem;
      }
      &.file-type {
        min-width: 12rem;
      }
      &.attachments {
        min-width: 3.25rem;

        .attachment-wrapper {
          cursor: pointer;
          i {
            color: $bright-blue;
          }
          &:hover {
            i {
              color: $bright-blue-darken-04;
            }
          }
        }
      }
      &.created-date {
        min-width: 10.25rem;
      }
      &.note {
        p {
          margin-bottom: 0;
        }
      }
    }
    thead {
      th {
        &.sortable {
          > span {
            //sorted by this column
            &.react-bootstrap-table-sort-order {
              position: relative;

              margin-left: 0.5rem;

              &:after {
                position: absolute;
                top: 0.25rem;
                left: 0;

                content: '\f0d7';

                color: rgba($warm-gray-08, 0.25);

                font: normal normal normal 1rem $font-family-icon;
              }

              > .caret {
                position: absolute;
                top: -0.25rem;

                margin: 0 !important;
                padding: 0 !important;

                &:before {
                  content: '\f0d8';

                  color: rgba($warm-gray-08, 0.625);

                  font: normal normal normal 1rem $font-family-icon;
                }
              }

              &.dropup {
                > .caret {
                  top: 0.25rem;

                  &:before {
                    content: '\f0d7';

                    color: rgba($warm-gray-08, 0.625);

                    font: normal normal normal 1rem $font-family-icon;
                  }
                }
                &:after {
                  position: absolute;
                  top: -0.25rem;
                  left: 0;

                  content: '\f0d8';

                  color: rgba($warm-gray-08, 0.25);

                  font: normal normal normal 1rem $font-family-icon;
                }
              }
            }
            //sortable by this column
            &.order {
              position: relative;

              margin-left: 0.5rem;

              > span {
                position: relative;

                > .caret {
                  position: absolute;
                  top: -0.25rem;

                  margin: 0 !important;
                  padding: 0 !important;

                  &:before {
                    content: '\f0d8';

                    color: rgba($warm-gray-08, 0.25);

                    font: normal normal normal 1rem $font-family-icon;
                  }
                }

                &.dropup {
                  > .caret {
                    top: 0.25rem;

                    &:before {
                      content: '\f0d7';

                      color: rgba($warm-gray-08, 0.25);

                      font: normal normal normal 1rem $font-family-icon;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &.react-bs-table-no-data {
            position: absolute;

            width: 100%;

            font-style: italic;

            &:before {
              position: absolute;
              top: 0.75rem;
              left: 0;

              width: calc(50% - 5rem);
              height: 1px;

              content: '';

              border-bottom: 1px dotted $warm-gray-05;
            }
            &:after {
              position: absolute;
              top: 0.75rem;
              right: 0;

              width: calc(50% - 5rem);
              height: 1px;

              content: '';

              border-bottom: 1px dotted $warm-gray-05;
            }
          }
        }
      }
    }
  }
}
//end New bootstrap table 2.0

.react-bs-table-container {
  .sort-column {
    display: flex;
    align-items: center;

    .order {
      position: relative;

      display: inline-flex;
      flex-direction: column;
      flex-grow: 0;
      flex-shrink: 0;

      width: 10px;
      height: 1rem;
      margin: 0 0 0 0.5rem;

      color: $warm-gray-10;

      line-height: 1rem;

      &:hover {
        cursor: pointer;
      }

      > .caret {
        top: -0.125rem;

        margin: 0 !important;
        padding: 0 !important;

        &:before {
          content: '\f0d8';

          color: rgba($warm-gray-07, 1);

          font: normal normal normal 1rem $font-family-icon;
        }
      }

      &.dropup {
        > .caret {
          top: 0.375rem;

          &:before {
            content: '\f0d7';

            color: rgba($warm-gray-07, 1);

            font: normal normal normal 1rem $font-family-icon;
          }
        }
      }

      > span {
        position: absolute;

        width: auto;
        margin: 0;
        padding: 0;

        text-align: center;

        line-height: 1;

        &.dropdown {
          top: -0.125rem;

          &:before {
            content: '\f0d8';

            color: rgba($warm-gray-07, 0.25);

            font: normal normal normal 1rem $font-family-icon;
          }

          .caret {
            margin: 0 !important;
            padding: 0 !important;
          }
        }

        &.dropup {
          top: 0.375rem;

          &:before {
            content: '\f0d7';

            color: rgba($warm-gray-07, 0.25);

            font: normal normal normal 1rem $font-family-icon;
          }
        }
      }
    }
  }
}

.responsive-tables {
  .table-view {
    margin: 0 $padding $padding 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
//sortable column controls new bs-2
/*------------------------------------------------------------------------------------*/
.react-bootstrap-table {
  .react-bs-table {
    thead {
      tr {
        th {
          .order {
            display: inline-flex;
            flex-direction: column;

            margin-left: 0.5rem;

            vertical-align: middle;

            .dropdown {
              line-height: 1;
              .caret {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 0.5rem;

                &:before {
                  content: '\f0d8';

                  color: rgba($warm-gray-07, 0.25);

                  font: normal normal normal 1rem $font-family-icon;
                }
              }
            }
            .dropup {
              line-height: 1;
              .caret {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 0.5rem;

                &:before {
                  content: '\f0d7';

                  color: rgba($warm-gray-07, 0.25);

                  font: normal normal normal 1rem $font-family-icon;
                }
              }
            }
          }
          .react-bootstrap-table-sort-order {
            display: inline-flex;
            flex-direction: column;

            margin-bottom: 0.5rem;
            margin-left: 0.5rem;

            vertical-align: middle;
            .caret {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;

              height: 0.5rem;

              &:before {
                content: '\f0d8';

                color: rgba($warm-gray-07, 0.75);

                font: normal normal normal 1rem $font-family-icon;
              }
            }

            &.dropup {
              margin-bottom: -0.25rem;

              .caret {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 0.5rem;

                &:before {
                  content: '\f0d7';

                  color: rgba($warm-gray-07, 0.75);

                  font: normal normal normal 1rem $font-family-icon;
                }
              }
            }
          }
        }
      }
    }
  }
}
.table-bordered > tbody > tr > td.react-bs-table-no-data {
  position: absolute;
  right: 0;
  bottom: -1.75rem;
  left: 0;

  color: $warm-gray-08;

  font-size: $font-size-sm;
  font-style: italic;

  &:before {
    position: absolute;
    top: 0.75rem;
    left: 0;

    width: calc(50% - 5rem);
    height: 1px;

    content: '';

    border-bottom: 1px dotted $warm-gray-05;
  }

  &:after {
    position: absolute;
    top: 0.75rem;
    right: 0;

    width: calc(50% - 5rem);
    height: 1px;

    content: '';

    border-bottom: 1px dotted $warm-gray-05;
  }
}
.previous-endorsements-scroll {
  .react-bs-table-bordered {
    min-height: 4rem;
    td.react-bs-table-no-data {
      bottom: 0;
    }
  }
}
