header {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  padding: $padding $padding*2;
  border-bottom: 2px solid $white;
  background: $bright-blue-darken-04;

  div[role="banner"] {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.25rem;

    .btn-bars {
      display: none;
    }

    .btn-ellipsis-v {
      display: none;
    }

    > .logo {
      display: block;
      flex-basis: 10rem;
      flex-shrink: 0;
      width: 10rem;
    }

    .header-toggle-wrapper {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      flex-grow: 1;
      flex-shrink: 1;

      button {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 3.5rem;
        height: 2.75rem;
        margin-left: $padding;
        margin-top: -($padding*2);
        padding: 0;
        border-width: 0;
        @include transition(all 0.2s ease-in-out);

        .diary-btn-wrapper {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 $btn-border-radius $btn-border-radius;
            border-right: 1px solid $white;
            border-bottom: 1px solid $white;
            border-left: 1px solid $white;
            @include transition(all 0.2s ease-in-out);

            &.panel-closed {
                background-color: $bright-blue-darken-04;

                > i {
                    color: $white !important;

                    > span {
                        color: $bright-blue-darken-04;
                    }
                }
            }
            &.panel-open {
                background-color: $white;

                > i {
                    color: $bright-blue-darken-04 !important;

                    > span {
                        color: $white;
                    }
                }
            }

            > i {
                font-size: 1.5rem;
                margin-right: 0;
                position: relative;
                width: 2rem;
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                > span {
                    position: absolute;
                    top: .25rem;
                }
            }

            span {
                font-size: $font-size-xs;

                i {
                    margin-right: $padding/4;
                }
            }
        }

        &:hover, &:focus {
            color: $bright-blue;
            .dairy-btn-wrapper {

                &.panel-closed {

                    > i {
                        color: $white !important;
                    }
                }
                &.panel-open {

                    > i {
                        color: $bright-blue-darken-04 !important;
                    }
                }

            }
        }
      }
    }

    > nav {
      position: relative;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
      padding: 0;
      border-width: 0;
      border-top-width: 0;
      background-color: transparent;
      box-shadow: none;

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.375rem;
        margin-left: 1rem;
        padding: 0 $padding;
        white-space: nowrap;
        text-decoration: none;
        color: $bright-blue;
        font-size: $font-size-h6;
        font-weight: $font-weight-bold;
        @include transition(all 0.2s ease-in-out);

        &:hover {
          text-decoration: none;
          color: $bright-blue-lighten-01;
        }

        &.active {
          padding-top: 5px;
          cursor: default;
          color: $white;
          color: $white;
          border-bottom: 5px solid $white;

          &:hover {
            color: $white;
          }
        }

        &.btn {
          height: 2rem;

          &:hover {
            color: $white;
          }

          &.link-phone {
            height: 3.375rem;

            &:hover {
              color: $bright-blue-lighten-02;
            }
          }
        }
      }

      .user-name {
        margin: 0 ($padding/2) 0 ($padding*4);
        color: rgba($white, .5);
        font-size: $font-size-sm;
      }

      > button {
        i {
          margin: 0;
          color: $white;
          @include transition(all 0.2s ease-in-out);
        }

        span {
          +i {
            margin: 0 0 0 $padding;
          }
        }

        &:hover {
          i {
            color: $bright-blue-lighten-01;
          }
        }
      }
    }
  }
}
