//loader

.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .card {
    //position: absolute;
    flex-grow: 0;
    width: auto;
    margin: auto;
    box-shadow: 0 0 40px 10px rgba(0,0,0,.25);

    .card-block {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;

      div {
        padding: 3px;
        animation-name: spin-load;
        -webkit-animation-timing-function: linear;
        /* Safari 4.0 - 8.0 */
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        border-radius: 32px;
      }

      .ring-5 {
        animation-duration: 5s;
        animation-direction: reverse;
        border: 1px solid #AEAEAE;
        border-bottom: 1px solid transparent;
      }

      .ring-4 {
        animation-duration: 3.75s;
        animation-direction: normal;
        border: 1px solid #999;
        border-bottom: 1px solid transparent;
      }

      .ring-3 {
        animation-duration: 3s;
        animation-direction: reverse;
        border: 1px solid #AEAEAE;
        border-bottom: 1px solid transparent;
      }

      .ring-2 {
        animation-duration: 1.75s;
        animation-direction: normal;
        border: 1px solid #999;
        border-bottom: 1px solid transparent;
      }

      .ring-1 {
        width: 20px;
        height: 20px;
        padding: 0;
        animation-duration: 1s;
        animation-direction: reverse;
        border: 1px solid #AEAEAE;
        border-bottom: 1px solid transparent;
      }

      span {
        display: block;
        margin: 5px 0 0;
        animation-name: text-flash;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease;
        /* Safari 4.0 - 8.0 */
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}
@keyframes spin-load {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes text-flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
