.messages {
  .message {
    margin: ($padding * 2) 0;
    color: $warm-gray-08;
    background: $warm-gray-02;
    font-size: 14px;

    &.error i {
      background-color: $red;
    }

    &.warning i {
      background-color: $orange;
    }

    &.info i {
      background-color: $bright-blue;
    }

    i.fa {
      margin: 0 ($padding * 2) 0 0;
      padding: ($padding * 2);
      color: $white;
    }
  }
}
