.modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: rgba($warm-gray-15, 0.75);

  &.gradient-bg {
    background: radial-gradient(
      ellipse at center,
      rgba($warm-gray-12, 0.75) 0%,
      rgba($warm-gray-15, 0.9) 100%
    );
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &.modal-alert {
    .card {
      max-width: 24rem;
    }
  }

  &.modal-sm,
  &.modal-md,
  &.modal-lg,
  &.modal-xl,
  &.modal-alert,
  &.existing-agent-modal,
  &.agent-crud {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    > form {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;

      //max-height: calc(100vh - 10rem);

      .card-block {
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;
        flex-shrink: 1;

        width: 100%;
        height: auto;

        .form-group {
          flex-grow: 1;
          flex-shrink: 1;

          width: auto;
          height: auto;

          label {
            width: 100%;
          }
          input {
            width: 100%;
          }

          &.switch {
            label {
              width: auto;
            }
          }
        }

        .flex-form {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;

          width: auto;

          .form-group {
            flex-grow: 1;
            flex-shrink: 1;

            &.state {
              flex-grow: 0;
              flex-shrink: 0;

              width: 8rem;
            }
            &.zip {
              flex-grow: 0;
              flex-shrink: 0;

              width: 16rem;
            }
            &.phone {
              flex-grow: 0;
              flex-shrink: 0;

              width: 20rem;
            }

            &.order {
              flex-grow: 0;
              flex-shrink: 0;

              width: 20rem;
            }
          }
        }
      }

      .card-footer {
        flex-grow: 0;
        flex-shrink: 0;

        height: auto;

        .btn-group {
          flex-grow: 0;
          flex-shrink: 0;

          height: auto;
          margin-bottom: 0;

          .btn {
            flex-grow: 0;
            flex-shrink: 0;

            height: auto;
          }
        }
      }
    }

    .card {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;

      width: 100%;
      height: auto;
      max-height: calc(100vh - 16rem);
      margin: 0;

      > form {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;

        max-height: calc(100vh - 16rem);

        .card-block {
          overflow-x: hidden;
          overflow-y: auto;
          flex-grow: 1;
          flex-shrink: 1;

          width: 100%;
          height: auto;

          .form-group {
            flex-grow: 1;
            flex-shrink: 1;

            width: auto;
            height: auto;

            label {
              width: 100%;
            }
            input {
              width: 100%;
            }

            &.switch {
              label {
                width: auto;
              }
            }
          }

          .flex-form {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;

            width: auto;

            .form-group {
              flex-grow: 1;
              flex-shrink: 1;

              &.state {
                flex-grow: 0;
                flex-shrink: 0;

                width: 8rem;
              }
              &.zip {
                flex-grow: 0;
                flex-shrink: 0;

                width: 16rem;
              }
              &.phone {
                flex-grow: 0;
                flex-shrink: 0;

                width: 20rem;
              }

              &.order {
                flex-grow: 0;
                flex-shrink: 0;

                width: 20rem;
              }
            }
          }
        }

        .card-footer {
          flex-grow: 0;
          flex-shrink: 0;

          height: auto;

          .btn-group {
            flex-grow: 0;
            flex-shrink: 0;

            height: auto;
            margin-bottom: 0;

            .btn {
              flex-grow: 0;
              flex-shrink: 0;

              height: auto;
            }
          }
        }
      }

      &.card-policyholder {
        .card-block {
          flex-direction: row;
          flex-wrap: wrap;

          .title-check-box-wrapper {
            width: 100%;
          }
        }
      }

      &.transfer-aor {
        .card-block {
          overflow: visible;
        }
        .agencyCode {
          z-index: 20;
          .Select.TypeAhead {
            z-index: 20;
            .react-select__menu {
              .react-select__menu-list {
                max-height: 160px;
              }
            }
          }
        }
        .agentCode {
          z-index: 10;
          .Select.TypeAhead {
            z-index: 10;
            .react-select__menu {
              .react-select__menu-list {
                max-height: 90px;
              }
            }
          }
        }
      }
    }
  }
  &.modal-sm {
    .card {
      width: 30%;
      max-width: 26rem;
    }
  }
  &.modal-md {
    .card {
      width: 50%;
      max-width: 40rem;
    }
  }
  &.modal-lg {
    .card {
      width: 60%;
      max-width: 60rem;

      &.billing-modal {
        section {
          &.billing-plan-wrapper {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }

        > div {
          display: flex;
          flex-direction: column;

          max-height: calc(100vh - 20rem);
        }
      }
    }
  }
  &.modal-xl {
    .card {
      width: 80%;
      max-width: 80rem;
    }
  }
  &.schedule-date-modal {
    .survey-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
    }
  }
  &.contract-crud {
    .card {
      display: flex;
      overflow: hidden;

      width: 50rem;

      > form {
        overflow: hidden;

        .card-block {
          overflow: hidden;

          padding: 0;

          > section {
            overflow-y: auto;

            padding: $padding * 3;
          }
        }
      }
    }
  }
  &.existing-agent-modal {
    .card {
      max-width: 40rem;
    }
  }
  &.agent-remove {
    .card {
      width: 40rem;
    }
  }
  &.additional-interest {
    form {
      align-items: center;
      justify-content: center;

      height: 90%;
      .card {
        width: 60rem;
        height: 90%;
        max-height: 45rem;
      }
    }
  }
  &.bob-transfer {
    .card {
      width: 40rem;
      #TransferPolicies {
        .card-block {
          overflow: visible;
        }
      }
      ​.card-block {
        overflow: visible;
      }
      .agencyCode {
        z-index: 20;
        .Select.TypeAhead {
          z-index: 20;
          .react-select__menu {
            .react-select__menu-list {
              max-height: 200px;
            }
          }
        }
      }
      .agentCode {
        z-index: 10;
        .Select.TypeAhead {
          z-index: 10;
          .react-select__menu {
            .react-select__menu-list {
              max-height: 140px;
            }
          }
        }
      }
    }
    .agencyCodeTo {
      z-index: 20;

      .Select.TypeAhead {
        z-index: 20;
        .react-select__menu {
          .react-select__menu-list {
            max-height: 200px;
          }
        }
      }
    }
    .agentCodeTo {
      z-index: 10;

      .Select.TypeAhead {
        z-index: 10;

        .react-select__menu {
          .react-select__menu-list {
            max-height: 140px;
          }
        }
      }
    }
  }
  &.transfer-AOR-modal {
    .card {
      width: 40rem;
      ​ .card-block {
        overflow: visible;
      }
    }
    .agencyCode {
      z-index: 20;
      .Select.TypeAhead {
        z-index: 20;
        .react-select__menu {
          .react-select__menu-list {
            max-height: 200px;
          }
        }
      }
    }
    .agentCode {
      z-index: 10;
      .Select.TypeAhead {
        z-index: 10;
        .react-select__menu {
          .react-select__menu-list {
            max-height: 140px;
          }
        }
      }
    }
  }
  &.license-crud {
    .card {
      width: 40rem;
    }
  }
  &.transfer-AOR-modal {
    > .card {
      width: 40rem;
      .card-block {
        overflow: visible;
      }
    }
    .agencyCode {
      z-index: 20;
      .Select.TypeAhead {
        z-index: 20;
        .react-select__menu {
          .react-select__menu-list {
            max-height: 200px;
          }
        }
      }
    }
    .agentCode {
      z-index: 10;
      .Select.TypeAhead {
        z-index: 10;
        .react-select__menu {
          .react-select__menu-list {
            max-height: 140px;
          }
        }
      }
    }
  }
  .card {
    position: relative;

    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;

    width: 60%;

    &.electronic-payment-modal {
      form {
        > h3 {
          display: flex;
          align-items: center;

          margin: 0;
          padding: $padding ($padding * 2);
          &.success {
            background-color: rgba($green-darken-01, 0.25);
            i {
              margin-right: $padding;

              color: $green-darken-01;
            }
          }
          &.fail {
            background-color: rgba($red-darken-02, 0.2);
            i {
              margin-right: $padding;

              color: $red-darken-02;
            }
          }
          span {
            margin-left: 0.5rem;

            font-size: $font-size-h5;
            font-weight: $font-weight-normal;

            &:before {
              content: 'Transaction ID: ';
            }
          }
        }
      }

      .card-header {
        button {
          position: absolute;
          top: $padding;
          right: $padding;
        }
      }
      > form {
        .card-block {
          h4 {
            position: relative;

            .checkwrapper {
              position: absolute;
              bottom: 0.5rem;
              left: 12rem;

              width: 34rem;
            }
          }
          .account-type {
            display: flex;
            flex-wrap: wrap;

            height: 3.4375rem;

            .label {
              flex-grow: 0;
              flex-shrink: 0;

              width: 100%;
              height: 1.4375rem;
              margin-bottom: 0.5rem;

              color: $warm-gray-08;

              font-weight: $font-weight-bold;
              line-height: 1;
            }

            label {
              display: flex;
              align-items: center;
              flex-grow: 1;
              flex-shrink: 1;
              justify-content: center;

              height: 2rem;
              margin-bottom: 0;

              cursor: pointer;
              transition: all 0.2s ease-in-out;

              background-color: $warm-gray-02;

              &:first-of-type {
                border-right: 2px solid $white;
                border-radius: $border-radius 0 0 $border-radius;
              }
              &:last-of-type {
                border-radius: 0 $border-radius $border-radius 0;
              }
            }
            input[type='radio']:checked,
            input[type='radio']:not(:checked) {
              position: absolute;
              left: -9999px;

              visibility: hidden;

              width: 0;
              height: 0;
            }
            input[name='savings']:checked + label {
              cursor: default;

              color: $white;
              background: $bright-blue-darken-04;
            }
          }
          .form-group.radio.segmented {
            display: flex;

            .segmented-answer-wrapper {
              > div {
                flex-grow: 0;
                flex-shrink: 0;

                label {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 0;
                  flex-shrink: 0;

                  margin-bottom: 0;

                  color: $warm-gray-08;
                  border-right: 2px solid white;
                  > span {
                    padding: 0.4375rem 1rem;

                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    border: 1px solid transparent;
                    background-color: $warm-gray-02;

                    font-weight: normal;
                    line-height: 1;

                    &:hover {
                      background-color: $warm-gray-01;
                    }
                  }
                }
                &.selected {
                  label {
                    > span {
                      cursor: default;

                      color: $white;
                      background-color: $bright-blue-darken-04;

                      &:hover {
                        color: $white;
                        background-color: $bright-blue-darken-04;
                      }
                    }
                  }
                }
              }
            }
          }
          .form-group {
            &.ccAmount,
            &.achAmount {
              flex-grow: 0;
              flex-shrink: 0;

              width: 10rem;
            }
            &.ccDate {
              flex-grow: 0;
              flex-shrink: 0;

              width: 10rem;
            }
            &.ccCvv {
              flex-grow: 0;
              flex-shrink: 0;

              width: 4rem;
            }
            &.ccName {
              flex-grow: 0;
              flex-shrink: 0;

              width: 40%;
            }
            &.ccState {
              flex-grow: 0;
              flex-shrink: 0;

              width: 8rem;
            }
            &.ccZip {
              flex-grow: 0;
              flex-shrink: 0;

              width: 10rem;
            }
            &.achAccountType {
              flex-grow: 0;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}

.ReactModal__Overlay--after-open {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($warm-gray-15, 0.75) !important;
  .ReactModal__Content--after-open {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    min-width: 20rem;
    max-width: 30rem;
  }
}

.harmony-bg {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-image: url('../../img/harmony-bg.jpg');
  background-size: cover;
}

.modal.uw-conditions {
  .card {
    height: 80%;
    max-height: 36rem;
    .card-block {
      ul {
        margin: 0 ($padding * 4);

        list-style: disc;
        li {
          display: list-item;
        }
      }
    }
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    z-index: 10000;
  }
}

#root
  .app-wrapper.csr.quote
  main[role='document']
  .content-wrapper
  .route-content
  .scroll {
  .AdditionalInterestModal {
    overflow: hidden;

    height: calc(90vh - 150px);
    > form {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      .card-block {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}
