.modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba($warm-gray-15, .75);

  &.gradient-bg {
    background: -moz-radial-gradient(center, ellipse cover, rgba($warm-gray-12, .75) 0%, rgba($warm-gray-15, .9) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba($warm-gray-12, .75) 0%,rgba($warm-gray-15, .9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba($warm-gray-12, .75) 0%,rgba($warm-gray-15, .9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &.schedule-date-modal {
    .survey-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &.contract-crud {
      .card  {
          width: 70rem;
      }
  }

  &.add-agent-crud {}

  &.existing-agent-modal {
      .card {
        max-width: 40rem;
      }
  }

  &.agent-crud {
      .card  {
          width: 70rem;
      }
  }

  &.agent-remove {
      .card {
        width: 40rem;
      }
  }

  .card {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 60%;
  }

  > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &.AdditionalInterestModal {
      height: 90%;
      max-height: 44rem;
    }
  }
}

.ReactModal__Overlay--after-open {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($warm-gray-15, .75) !important;

  .ReactModal__Content--after-open {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    min-width: 20rem;
    max-width: 70%;
  }
}

.harmony-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../img/harmony-bg.jpg");
  background-size: cover;
}

.modal.uw-conditions {
  .card {
    height: 80%;
    max-height: 36rem;

    .card-block {
      ul {
        margin: 0 ($padding*4);
        list-style: disc;

        li {
          display: list-item;
        }
      }
    }
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    z-index: 10000;
  }
}
