//vertical tabs

.site-nav {
  margin: $padding 0 $padding ($padding*2);
  //main left navigation
  ul {
    margin: 0 0 5rem;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      margin: 0;

      span {
        a {
          display: flex;
          align-items: center;
          flex-grow: 1;
          width: 11rem;
          padding: ($padding*1.5) 0;
          cursor: pointer;
          text-decoration: none;
          color: $warm-gray-07;
          border-left: ($padding/2) solid rgba($bright-blue, 0);

          &.disabled {
            color: $warm-gray-04;

            &:hover {
              cursor: not-allowed;
              text-decoration: none;
              color: $warm-gray-04;
              border-left: ($padding/2) solid rgba($white, 0);
              background-color: rgba($white, 0);
            }
          }

          &.active {
            cursor: default;
            text-decoration: none;
            color: $bright-blue-darken-04;
            border-left: ($padding/2) solid $bright-blue-darken-04;
            background-color: $white;

            &:hover {
              cursor: default;
              text-decoration: none;
              border-left: ($padding/2) solid $bright-blue-darken-04;
              background-color: $white;
            }
          }

          &:hover {
            cursor: pointer;
            text-decoration: none;
            border-left: ($padding/2) solid rgba($bright-blue, .2);
            background-color: rgba($white, .4);

            span {
              text-decoration: none;
              color: $white;
            }
          }

          span {
            text-decoration: none;
            color: $white;
          }
        }

        &.disabled {
          color: $warm-gray-04;

          a {
            color: $warm-gray-04;

            &:hover {
              cursor: not-allowed;
              text-decoration: none;
              color: $warm-gray-04;
              border-left: ($padding/2) solid rgba($white, 0);
              background-color: rgba($white, 0);
            }
          }
        }
      }

      &.document-panel {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        margin-left: -1rem;
        background: $warm-gray-03;
        @include transition(all 0.2s ease-in-out);

        &.hidden {
          height: 0;
          padding: 0 ($padding*2);
        }

        &.show {
          height: 152px;
          padding: ($padding*2) ($padding*2) 0;
          border-top: 1px dotted $warm-gray-04;
          border-bottom: 1px dotted $warm-gray-04;
        }
      }
    }
  }
}
