//vertical tabs

.site-nav {
  margin: $padding 0 $padding ($padding*2);
  //width: auto;
  //padding: ($padding*2) 0;
  @include transition(all .05s ease-in-out);
  @include for-phone-only {
    width: 14rem;
  }
  @include for-tablet-portrait-up {}
  @include for-tablet-landscape-up {
    //width: 12rem;
  }
  //main left navigation
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      margin: 0;
      //background-color: rgba($white, .25
      span {
        a {
          display: flex;
          align-items: center;
          flex-grow: 1;
          width: 11rem;
          height: 3rem;
          //margin: 0 (-$padding*2) 0 (-$padding);
          cursor: pointer;
          text-decoration: none;
          color: $warm-gray-07;
          border-left: ($padding/2) solid rgba($white, 0);

          &.active {
            cursor: default;
            text-decoration: none;
            color: $bright-blue-darken-04;
            border-left: ($padding/2) solid $bright-blue-darken-04;
            background-color: $white;

            i {
              width: 4rem - ($padding/2);
              text-decoration: none;
            }

            span {
              text-decoration: none;
              color: $body-color;
            }

            &:hover {
              cursor: default;
              text-decoration: none;
              border-left: ($padding/2) solid $bright-blue-darken-04;
              background-color: $white;

              i {
                width: 4rem - ($padding/2);
                text-decoration: none;
              }

              span {
                text-decoration: none;
                color: $body-color;
              }
            }
          }

          &:hover {
            cursor: pointer;
            text-decoration: none;
            border-left: ($padding/2) solid rgba($bright-blue, .2);
            background-color: rgba($white, .1);

            span {
              text-decoration: none;
              color: $white;
            }
          }

          i {
            width: 4rem;
            text-align: center;
            text-decoration: none;
            @include for-phone-only {
              width: 3.5rem;
              text-decoration: none;
            }
          }

          span {
            text-decoration: none;
            color: $white;
            @include for-tablet-portrait-up {
              display: none;
            }
            @include for-tablet-landscape-up {
              display: flex;
            }
          }
        }
      }
    }
  }
}
