//vertical tabs

.site-nav {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 $padding ($padding * 2);

  hr.nav-division {
    margin: ($padding * 2) 0;
    padding: 0;
    border-width: 0;
    border-top: 1px dotted $warm-gray-04;
  }

  ul {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: ($padding * 2) 0;
    list-style: none;

    .btn {
      &.btn-secondary {
        border-color: rgba($warm-gray-04, 0.8);
        background: rgba($white, 0);

        &:hover {
          border-color: rgba($warm-gray-04, 1);
          background: rgba($white, 0.8);
        }
      }

      &.btn-block {
        margin: 0 ($padding * 2) ($padding * 2) 0;

        &.btn-branch {
          margin-bottom: 0;
        }
      }
    }

    li {
      display: flex;
      margin: 0;

      a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: 11rem;
        border-left: ($padding/2) solid rgba($bright-blue, 0);
        text-decoration: none;
        cursor: pointer;

        &.btn {
          justify-content: center;
          border-width: 1px;
        }

        span {
          display: flex;
          align-items: center;
          flex-grow: 1;
          padding: ($padding * 1.5) 0 ($padding * 1.5) ($padding * 2);
          width: 11rem;
          color: $warm-gray-07;
          text-decoration: none;
          cursor: pointer;
        }

        &.disabled {
          color: $warm-gray-04;

          span {
            color: $warm-gray-04;
          }

          &:hover {
            border-left: ($padding/2) solid rgba($white, 0);
            background-color: rgba($white, 0);
            cursor: not-allowed;

            span {
              color: $warm-gray-04;
              cursor: not-allowed;
            }
          }
        }

        &.active {
          border-left: ($padding/2) solid $bright-blue-darken-04;
          background-color: $white;
          cursor: default;

          &:hover {
            border-left: ($padding/2) solid $bright-blue-darken-04;
            background-color: $white;
            cursor: default;

            span {
              color: $bright-blue-darken-04;
            }
          }

          span {
            color: $bright-blue-darken-04;
          }
        }

        &:hover {
          border-left: ($padding/2) solid rgba($bright-blue, 0.2);
          background-color: rgba($white, 0.4);
          text-decoration: none;
          cursor: pointer;

          &.btn {
            border-width: 1px;
          }

          span {
            text-decoration: none;
          }
        }
      }

      &.disabled {
        color: $warm-gray-04;

        a {
          color: $warm-gray-04;

          &:hover {
            border-left: ($padding/2) solid rgba($white, 0);
            background-color: rgba($white, 0);
            color: $warm-gray-04;
            text-decoration: none;
            cursor: not-allowed;
          }

          span {
            text-decoration: none;
          }
        }
      }

      &.document-panel {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding: ($padding * 2) ($padding * 2) 0 0;
        background: $warm-gray-03;

        @include transition(all 0.2s ease-in-out);

        &.hidden {
          padding: 0 ($padding * 2) 0 0;
          height: 0;
        }

        &.show {
          height: auto;
          border-top: 1px dotted $warm-gray-04;
          border-bottom: 1px dotted $warm-gray-04;
          border-left: 1px dotted $warm-gray-04;
        }

        > div {
          padding-left: $padding * 2;
        }
      }

      .selectedBranch {
        select {
          margin-right: $padding * 2;
        }
      }
    }
  }
}
