//vertical tabs
.quote {
  .property-time-wrapper {
    background: linear-gradient(
      90deg,
      rgba($green-darken-04, 1) 96%,
      rgba($bright-blue-darken-04, 1) 100%
    );
  }
}
.policy {
  .property-time-wrapper {
    background: linear-gradient(
      90deg,
      rgba($bright-blue-darken-03, 1) 96%,
      rgba($bright-blue-darken-04, 1) 100%
    );
  }
}
.property-time-wrapper {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;

  width: 11rem;
  height: 4rem;
  margin-bottom: 1rem;
  padding: $padding $padding $padding ($padding * 1.5);

  color: $white;
  border-radius: 4px 0 0 4px;
  box-shadow: $card-box-shadow;

  font-size: $font-size-lg;
  label {
    margin: 0;

    color: $white;

    font-size: $font-size-sm;
  }
}
.site-nav {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  margin: 0 0 $padding ($padding * 2);

  hr.nav-division {
    margin: ($padding * 2) 0;
    padding: 0;

    border-width: 0;
    border-top: 1px dotted $warm-gray-04;
  }

  ul {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;

    margin: 0;
    padding: ($padding * 2) 0;

    list-style: none;

    .btn {
      &.btn-secondary {
        border-color: rgba($warm-gray-04, 0.8);
        background: rgba($white, 0);

        &:hover {
          border-color: rgba($warm-gray-04, 1);
          background: rgba($white, 0.8);
        }
      }

      &.btn-block {
        margin: 0 ($padding * 2) ($padding * 2) 0;

        &.btn-branch {
          margin-bottom: 0;
        }
      }
    }

    li {
      display: flex;

      margin: 0;

      a {
        display: flex;
        align-items: center;
        flex-grow: 1;

        width: 11rem;

        cursor: pointer;
        text-decoration: none;

        border-left: ($padding/2) solid rgba($bright-blue, 0);

        &.btn {
          justify-content: center;

          border-width: 1px;
        }

        span {
          display: flex;
          align-items: center;
          flex-grow: 1;

          width: 11rem;
          padding: ($padding * 1.5) 0 ($padding * 1.5) ($padding * 2);

          cursor: pointer;
          text-decoration: none;

          color: $warm-gray-07;
        }

        &.disabled {
          color: $warm-gray-04;

          span {
            color: $warm-gray-04;
          }

          &:hover {
            cursor: not-allowed;

            border-left: ($padding/2) solid rgba($white, 0);
            background-color: rgba($white, 0);

            span {
              cursor: not-allowed;

              color: $warm-gray-04;
            }
          }
        }

        &.active {
          cursor: default;

          border-left: ($padding/2) solid $bright-blue-darken-04;
          background-color: $white;

          &:hover {
            cursor: default;

            border-left: ($padding/2) solid $bright-blue-darken-04;
            background-color: $white;

            span {
              color: $bright-blue-darken-04;
            }
          }

          span {
            color: $bright-blue-darken-04;
          }
        }

        &:hover {
          cursor: pointer;
          text-decoration: none;

          border-left: ($padding/2) solid rgba($bright-blue, 0.2);
          background-color: rgba($white, 0.4);

          &.btn {
            border-width: 1px;
          }

          span {
            text-decoration: none;
          }
        }
      }

      &.disabled {
        color: $warm-gray-04;

        a {
          color: $warm-gray-04;

          &:hover {
            cursor: not-allowed;
            text-decoration: none;

            color: $warm-gray-04;
            border-left: ($padding/2) solid rgba($white, 0);
            background-color: rgba($white, 0);
          }

          span {
            text-decoration: none;
          }
        }
      }

      &.document-panel {
        display: flex;
        overflow: hidden;
        flex-direction: column;

        padding: ($padding * 2) ($padding * 2) 0 0;

        background: $warm-gray-03;

        @include transition(all 0.2s ease-in-out);

        &.hidden {
          height: 0;
          padding: 0 ($padding * 2) 0 0;
        }

        &.show {
          height: auto;

          border-top: 1px dotted $warm-gray-04;
          border-bottom: 1px dotted $warm-gray-04;
          border-left: 1px dotted $warm-gray-04;
        }

        > div {
          padding-left: $padding * 2;
        }
      }

      .selectedBranch {
        select {
          margin-right: $padding * 2;
        }
      }
    }
  }
}
