.new-note-file {
  position: absolute;
  z-index: 1000;
  top: 1rem;
  right: 2.5rem;
  bottom: 0;
  width: 40%;
  background: $white;
  box-shadow: 0 0 30px 0 rgba($black, .3);
  @include transition(all 0.1s ease-in-out);

  &.minimize {
    top: calc(100vh - 10.5rem);

    .controls {
      .btn-icon {
        i.fa-window-minimize {
          &:before {
            content: "\f2d0";
          }
        }
      }
    }
  }

  .title-bar {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    height: 2.4375rem;
    background: $bright-blue-darken-04;

    * {
      color: $white;
    }

    .btn {
      padding: 0 ($padding/2);

      &:focus {
        outline: none;
        outline-offset: 0;
        background-color: rgba($bright-blue, .1);
      }
    }

    .title {
      align-self: auto;
      flex: 1 1 auto;
      order: 0;
      padding: $padding ($padding*2);
      cursor: pointer;
    }

    .controls {
      display: flex;
      align-self: auto;
      flex: 0 1 auto;
      order: 0;
      padding: $padding ($padding*2) $padding 0;
      font-size: $font-size-h4;

      .btn {
        margin-left: $padding;
      }
    }
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    height: calc(100% - 2.4375rem;);

    form {
      display: flex;
      flex-direction: column;
      height: 100%;

      .content {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        padding: ($padding*2);

        label,
        select {
          flex-grow: 0;
          flex-shrink: 0;
        }

        .text-area-wrapper {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          flex-shrink: 1;
          min-height: 5.5rem;
          margin: ($padding*2) 0;

          textarea {
            height: auto;
          }
        }

        .file-uploader {
          margin-top: $padding*2;

          .uppy-Dashboard.uppy-Dashboard--wide {
            .uppy-Dashboard-inner {
              width: 100%;
              height: auto;
              max-height: none;
              border-color: $input-border-color;
              background: $white;

              .uppy-Dashboard-innerWrap {
                min-height: 240px;

                .uppy-DashboardTabs {
                  padding: 0;
                  border-bottom: 1px solid $warm-gray-04;
                  background: $warm-gray-02;

                  .uppy-DashboardTabs-title {
                    padding: $padding;
                    line-height: unset;

                    .uppy-Dashboard-browse {
                      color: $bright-blue-lighten-01;
                    }
                  }
                }

                .uppy-Dashboard-filesContainer {
                  .uppy-DashboardItem {
                    margin: $padding*2;

                    .uppy-DashboardItem-previewInnerWrap {
                      border-radius: $border-radius;
                      box-shadow: 0 0 4px rgba(0,0,0,0.2);
                    }

                    .uppy-DashboardItem-action {
                      top: -.75rem;
                      right: -.75rem;

                      .uppy-DashboardItem-remove {
                        width: 1rem;
                        height: 1rem;

                        &:before {
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          width: 1rem;
                          height: 1rem;
                          content: '\f057';
                          color: $red-darken-01;
                          font-family: $font-family-icon;
                          font-size: $font-size-base;
                        }

                        svg {
                          display: none;
                        }
                      }
                    }

                    .uppy-DashboardItem-edit {
                      width: 1rem;
                      height: 1rem;

                      &:before {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 1rem;
                        height: 1rem;
                        content: '\f040';
                        color: $bright-blue-darken-01;
                        font-family: $font-family-icon;
                        font-size: $font-size-sm;
                      }

                      svg {
                        display: none;
                      }
                    }
                  }
                }

                .uppy-DashboardFileCard {
                  > div {
                    display: flex;
                    flex-direction: column;

                    .uppy-DashboardContent-bar {
                      position: relative;
                      top: auto;
                      right: auto;
                      bottom: auto;
                      left: auto;
                      display: flex;
                      align-items: center;
                      flex-grow: 0;
                      flex-shrink: 0;
                      height: auto;
                      height: auto;
                      padding: $padding;
                      border-bottom: 1px solid $warm-gray-04;
                      background: $warm-gray-02;

                      .uppy-DashboardContent-title {
                        position: relative;
                        top: auto;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        flex-grow: 1;
                        flex-shrink: 1;
                        max-width: 100%;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                        font-size: $font-size-base;
                        line-height: unset;
                        line-height: normal;

                        .uppy-DashboardContent-titleFile {
                          top: auto;
                          right: auto;
                          bottom: auto;
                          left: auto;
                          margin: 0;
                          padding: 0;
                          text-align: left;
                          font-size: $font-size-base;
                          line-height: 1;
                        }
                      }

                      .uppy-DashboardContent-back {
                        position: relative;
                        top: auto;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        margin: 0;
                        padding: 0;
                        font-size: $font-size-base;
                        line-height: 1;
                      }
                    }

                    .uppy-DashboardFileCard-inner {
                      position: relative;
                      top: auto;
                      right: auto;
                      bottom: auto;
                      left: auto;
                      display: flex;
                      flex-direction: column;
                      flex-grow: 1;
                      flex-shrink: 1;
                      margin: 0;
                      padding: 0;

                      .uppy-DashboardFileCard-preview {
                        display: flex;
                        overflow: hidden;
                        align-items: center;
                        flex-grow: 1;
                        flex-shrink: 1;
                        justify-content: center;
                        height: 6.25rem;
                        padding: $padding;
                        border-bottom-width: 0;
                        background-color: $white !important;

                        img {
                          display: block;
                          width: auto;
                          height: 6.25rem;
                          box-shadow: 0 0 0 rgba(0,0,0,0);
                        }
                      }

                      .uppy-DashboardFileCard-info {
                        flex-grow: 0;
                        flex-shrink: 0;
                        height: auto;
                        padding: $padding ($padding*8) $padding $padding;
                        background-color: $white;

                        fieldset {
                          display: flex;
                          flex-grow: 1;
                          flex-shrink: 1;
                          width: auto;
                          max-width: none;
                          margin: 0;

                          label {
                            width: 100%;
                            color: $warm-gray-10;
                            font-size: $font-size-base;
                          }

                          input {
                            width: 100%;
                            margin: 0;
                            padding: $padding;
                            border: $border-width solid $warm-gray-06;
                          }
                        }
                      }
                    }

                    .uppy-Dashboard-actions {
                        right: 1rem;
                        bottom: .5rem;
                      .UppyButton--circular {
                        position: relative;
                        width: 2rem;
                        height: 2rem;

                        &.UppyButton--blue {
                          background: $bright-blue-darken-01;

                          &.uppy-DashboardFileCard-done {
                            &:before {
                              position: absolute;
                              top: 0;
                              left: 0;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              width: 2rem;
                              height: 2rem;
                              content: '\f00c';
                              color: $white;
                              font-family: $font-family-icon;
                            }

                            svg {
                              display: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .note-file-footer-button-group {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: flex-end;
        padding: $padding;
        border-top: 1px dotted $warm-gray-04;
        background: $white;

        .btn {
          margin-left: $padding;
        }
      }
    }
  }
}

.new-note-files {
  @include transition(all 0.2s ease-in-out);
}

.file-list {
  .react-bs-table-tool-bar {
    .toolbar {
      .input-group {
        flex-grow: 0;
        flex-shrink: 0;

        .btn-files {
          color: $white;
          background: $bright-blue-darken-04;
        }
      }
    }
  }
}

.notes-list {
  .note-grid-wrapper {
    &.filter-attachments {
      .react-bs-table-tool-bar {
        .search {
          display: none;
        }
      }

      .react-bs-table {
        .note-type {
          display: none;
        }

        .note {
          display: none;
        }

        .attachments {
          width: auto;
        }
      }
    }

    .react-bs-table {
      .created-date {
        width: 10%;
        min-width: 120px;
      }

      .created-by {
        width: 15%;
        white-space: normal;
      }

      .note-type {
        width: 15%;
      }

      .file-type {
        width: 15%;
        white-space: normal;
      }

      .note {
        white-space: normal;
      }

      .attachments {
        width: 20%;
        white-space: normal;

        span {
          div {
            cursor: pointer;
            color: $bright-blue-lighten-01;

            &:hover {
              color: $bright-blue-darken-02;
            }
          }
        }
      }
    }
  }
}

.filter-tabs {
  .group-label {
    margin: 0;
  }

  .form-group.segmented {
    .segmented-answer-wrapper {
      border-bottom: 1px solid $bright-blue-darken-04;

      > div {
        flex-grow: 0;
        padding: 0;

        .label-segmented {
          border: none;

          span {
            justify-content: flex-start;
            padding: ($padding*2);
            border: none;
            border-bottom-width: 5px;
            border-bottom-style: solid;
            border-radius: 0;
            background: none;
            font-weight: $font-weight-normal;
            @include button-variant($warm-gray-10, $white, rgba($bright-blue-darken-04, 0));

            &:hover {
              border-bottom: 5px solid rgba($bright-blue-darken-02, .3);
              background: $warm-gray-00;
            }
          }

          input[type="radio"] {
            &:checked {
              + span {
                color: $warm-gray-14;
                border-bottom: 5px solid $bright-blue-darken-04;
                background: none;
              }
            }
          }
        }
      }
    }
  }
}
