.search #SearchBar > form .search-input-wrapper,
.search-results-wrapper {
  .pagination-wrapper {
    z-index: 5;

    position: fixed;
    bottom: 0;
    left: calc(50% - 8rem);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16rem;
    margin: 0 0 ($padding);
    padding: 0;

    opacity: 0.8;
    border-radius: $padding * 2;
    box-shadow: 0 0 4px rgba($black, 0.25);

    @include transition(all 0.2s ease-in-out);

    &:hover {
      opacity: 1;
    }

    > button.multi-input {
      z-index: 5;

      width: 2rem;
      height: 2rem;
      margin: 0;
      padding: 0;

      @include button-variant($white, $warm-gray-04, $warm-gray-04);

      &:hover {
        @include button-variant($white, $warm-gray-06, $warm-gray-06);
      }

      &:disabled,
      &[disabled='disabled'] {
        &:hover {
          @include button-variant($white, $warm-gray-04, $warm-gray-04);
        }
      }

      &:first-child {
        border-radius: 50% 0 0 50%;
      }

      &:last-child {
        border-radius: 0 50% 50% 0;
      }

      &.action-btn {
        padding: ($padding/2) $padding;
      }
    }

    .pagination-count {
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 12rem;
      height: 2rem;

      background: $white;

      .pageNumber {
        align-items: center;
        flex-direction: row;

        width: auto;
        margin-bottom: 0;
        padding: 0;

        label {
          margin-bottom: 0;
          padding: 0;

          color: $warm-gray-14;

          font-size: $font-size-sm;
          font-weight: $font-weight-normal;
        }

        input {
          flex-basis: 4rem;
          flex-grow: 0;
          flex-shrink: 0;

          max-width: 4rem;
          height: auto;
          padding: $padding/2;

          text-align: center;

          color: $warm-gray-14;
          border-width: 0;

          font-size: $font-size-sm;

          &[disabled] {
            background: $white;
          }
        }
      }

      .pagination-operand {
        color: $warm-gray-14;

        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
      }

      .totalPages {
        align-items: center;
        flex-direction: row;

        width: auto;
        margin-bottom: 0;
        padding: 0;

        label {
          margin-bottom: 0;
          padding: 0;

          font-size: $font-size-sm;
          font-weight: $font-weight-normal;
        }

        input,
        input[readonly] {
          flex-basis: 4rem;
          flex-grow: 0;
          flex-shrink: 0;

          max-width: 4rem;
          height: auto;
          padding: ($padding/2) 0 ($padding/2) ($padding/2);

          text-align: center;

          color: $warm-gray-14;
          border-width: 0;

          font-size: $font-size-sm;

          &[disabled] {
            background: $white;
          }
        }
      }
    }
  }
}
