.search {
  position: relative;
  z-index: 10;
  display: flex;
  overflow: visible;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  @include transition(all 0.2s ease-in-out);

  #SearchBar {
    position: relative;
    display: flex;
    overflow: visible;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;

    .advanced-search {
      overflow: hidden;
      height: auto;
    }

    > form {
      overflow: visible;
      width: 100%;
      height: auto;
      background-color: $warm-gray-10;

      .search-input-wrapper {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: nowrap;
        height: auto;
        padding: $padding ($padding*2);
        border-bottom: 2px solid $white;
        background-color: $warm-gray-10;

        .search-inputs {
          display: flex;
          align-self: flex-start;
          flex-grow: 1;

          .form-group {
            position: relative;

            &.error {
              input {
                border-width: 2px;
                background-color: mix($highlight, $red, 85%);
              }

              span {
                position: absolute;
                top: 1.875rem;
                right: $padding;
              }
            }
          }

          button {
            align-self: flex-start;
            flex-grow: 0;
            flex-shrink: 0;
            margin-top: 1.25rem;
          }

          .input-wrapper {
            display: flex;
            flex-grow: 1;
            flex-grow: 0;
            flex-shrink: 1;
            flex-shrink: 0;
            flex-wrap: wrap;
            margin-top: 0;
          }

          .input-wrapper {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-wrap: wrap;
          }
        }

        .form-group {
          align-items: flex-start;
          margin-bottom: 0;
          /*Combobox styles*/
          .Select {
            height: 2.375rem;

            &.TypeAhead {
              height: auto;
              min-height: 2.375rem;

              &:focus {
                outline: none;
              }

              .react-select__control {
                width: 100%;
                height: auto;
                min-height: 2.375rem;

                &.react-select__control--is-focused {
                  border-color: $warm-gray-08;
                  border-radius: $border-radius $border-radius 0 0;
                  box-shadow: none;
                }

                .react-select__value-container {
                  align-items: flex-start;
                  justify-content: flex-start;
                  height: auto;
                  margin: 0;
                  padding: 0 0 0 $padding;

                  > div {
                    display: flex;
                    margin: 0;
                    padding: 0;

                    &.react-select__placeholder {
                      left: $padding;
                    }

                    &.react-select__single-value {
                      margin: 0;
                    }

                    .react-select__input {
                      width: 100%;

                      input {
                        height: auto;
                        line-height: 1;
                      }
                    }
                  }

                  .react-select__multi-value {
                    width: auto;
                    margin: $padding/4;
                    color: $white;
                    border-radius: $border-radius;
                    background: $warm-gray-08;

                    .react-select__multi-value__label {
                      color: $white;
                    }

                    .react-select__multi-value__remove {
                      border-radius: 0 $border-radius $border-radius 0;
                      @include transition(all 0.2s ease-in-out);

                      &:hover {
                        cursor: pointer;
                        background: $red-lighten-04;
                      }
                    }
                  }
                }
              }

              > div {
                .react-select__menu {
                  overflow: hidden;
                  margin: 0;
                  border-radius: 0 0 $border-radius $border-radius;
                }
              }
            }
          }

          &.search-context {
            align-self: flex-start;
            flex-basis: 12rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.quote-state {
            flex-basis: 9rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.first-name-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.last-name-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.property-search {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 0;
            width: auto;
            margin-right: $padding;
          }

          &.policy-no-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.quote-no-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.record-no-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.claim-no-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.source-no-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.zip-search {
            flex-basis: 7rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.assignees {
            flex-grow: 1;
            flex-shrink: 1;
            margin-top: $padding;
            margin-right: $padding;
          }

          &.reason {
            flex-grow: 1;
            flex-shrink: 1;
            width: 15rem;
            margin-right: $padding;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.dateRange {
            flex-grow: 0;
            flex-shrink: 0;
            width: 22.25rem;
            margin-right: $padding;

            .date-range-inputs {
              display: flex;
              width: 100%;
              line-height: 2.375rem;

              input {
                width: 10.5rem;
              }

              span {
                margin: 0 $padding/2;
                color: $white;
              }
            }
          }

          label {
            margin-bottom: $padding/4;
            color: $yellow-lighten-05;
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
          }

          input {
            -ms-flex-preferred-size: 1.75rem;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        > span {
          position: absolute;
        }

        input {
          height: 2.375rem;
          padding: ($padding/2) $padding;
          line-height: 1.75;
        }

        button {
          padding: 0.625rem 0.75rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          line-height: 1;

          &.multi-input {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
          }

          &.advanced-search-btn {
            display: flex;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            margin: ($padding*3) 0 0 $padding;
            padding: 0;
            border-radius: 50%;
            @include button-variant($bright-blue-darken-03, $warm-gray-01, $warm-gray-01);

            &:hover {
              @include button-variant($bright-blue-darken-04, $warm-gray-00, $warm-gray-00);
            }
          }
        }
      }
    }

    .survey-wrapper {
      z-index: 10;
      overflow-y: auto;
      flex-grow: 0;
      flex-shrink: 1;
      width: 100%;
      padding: 0;

      ul.results {
        padding: $padding*2;
      }

      .result-cards {
        padding: $padding*2;
      }

      .heading {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: ($padding/2) $padding;
        border-top: $card-border-width solid $card-border-color;

        &:first-child {
          border-top: none;
        }

        span {
          display: inline-flex;
          justify-content: center;
          padding: ($padding/2) $padding;
          border-radius: 0.71875rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  &.policy-advanced {
    overflow: visible;
    height: auto;

    #SearchBar {
      overflow: visible;
      height: auto;

      > form {
        height: auto;

        .search-input-wrapper {
          overflow: visible;
          flex-wrap: wrap;
          height: auto;
        }

        .advanced-search {
          display: flex;
          overflow: visible;
          width: 100%;
          height: auto;
          padding: $padding 10rem 0 0;
          animation-duration: 0.8s;

          input {
            -ms-flex-preferred-size: 1.75rem;
            flex-grow: 0;
            flex-shrink: 0;
            width: 100%;
            height: 2.375rem;
            padding: $padding;
            line-height: 1.75;
          }

          .form-group {
            position: relative;

            &.agencyCodeSelectField {
              flex-grow: 1;
              flex-shrink: 1;
              margin-right: $padding;

              .Select {
                width: 100%;
                height: 2.375rem;
                margin-bottom: 0;

                .Select-control {
                  width: 100%;
                  height: 2.375rem;
                  background-color: $white;

                  .Select-arrow-zone {
                    &:after {
                      height: 2.375rem;
                    }
                  }

                  .Select-clear-zone {
                    height: 2.375rem;

                    .Select-clear {
                      height: 2.375rem;
                    }
                  }

                  .Select-multi-value-wrapper {
                    .Select-value {
                      height: 2.375rem;

                      .Select-value-label {
                        height: 2.375rem;
                        line-height: 2.375rem;
                      }
                    }

                    .Select-input {
                      height: 2.25rem;
                    }
                  }
                }

                .Select-menu-outer {
                  top: 2.375rem;
                }
              }

              .Select-value-label {
                line-height: 2.375rem;
              }
            }

            &.effectiveDate {
              flex-grow: 0;
              flex-shrink: 0;
              width: 12rem;
              margin-right: $padding;
            }

            &.policy-status {
              flex-grow: 0;
              flex-shrink: 0;
              width: 20rem;
              margin-right: $padding;

              select {
                width: 100%;
                height: 2.375rem;
              }
            }

            &.sortBy {
              flex-grow: 0;
              flex-shrink: 0;
              width: 20rem;

              select {
                width: 100%;
                height: 2.375rem;
              }
            }

            &.error {
              input {
                border-width: 2px;
                background-color: mix($highlight, $red, 85%);
              }

              span {
                position: absolute;
                top: 1.875rem;
                right: $padding;
              }
            }
          }
        }
      }
    }
  }

  .results,
  .results-wrapper {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    .results,
    .survey-wrapper {
      padding: $padding*2;

      .card {
        margin: 0 0 ($padding/2);
      }
    }
  }
}

main[role="document"] {
  &.policy-advanced {
    //height: calc(100vh - 12.375rem);
    //min-height: calc(100vh - 12.375rem);
    height: auto;
    min-height: auto;
  }

  .survey-wrapper {
    &.scroll {
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
      padding: 0;

      .results-wrapper {
        ul {
          &.property-search-results {
            width: 100%;
            padding: 1rem;
          }
        }
      }
    }
  }

  .dashboard {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    height: auto;

    .route {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex-grow: 1;

      .route-content {
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        height: auto;

        .scroll {
          display: flex;
          overflow-y: auto;
          flex-direction: column;
          flex-grow: 1;

          .product-wrapper {
            display: flex;
            align-items: flex-start;
            flex-grow: 0;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-around;

            .product {
              align-self: stretch;
              flex-basis: 0;
              flex-grow: 1;
              flex-shrink: 0;
              margin-bottom: $padding;

              .card-footer {
                justify-content: space-around;

                .btn {
                  flex-basis: 45%;
                  flex-grow: 0;
                  flex-shrink: 0;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
//refactor these when cards are standardized based on core card
.result-cards,
ul.list-cards {
  li {
    margin-bottom: $padding/2;

    a {
      align-items: center;
      padding: $padding $padding*1.5;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-border-radius;
      background: $white;

      section {
        flex-direction: column;
        flex-grow: 1;

        h2,
        h3,
        h4,
        h5,
        p {
          margin: 0;
          color: $warm-gray-08;
        }
      }

      i {
        color: $bright-blue-darken-04;
      }

      &:hover {
        cursor: pointer;

        section {
          h2,
          h3,
          h4,
          h5 {
            color: $bright-blue-darken-04;
          }

          p {
            color: $bright-blue-darken-04;
          }
        }

        i {
          color: $bright-blue-darken-04;
        }
      }
    }
  }
}

.policy-list,
.quote-list {
  flex-grow: 1;
  width: 100%;
  margin-bottom: $padding/2;
  padding: $padding*2;

  .card {
    display: flex;
    flex-direction: row;
    margin: 0 0 ($padding/2);
    padding: $padding $padding*1.5;

    .icon-name {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-basis: 4rem;
      flex-wrap: wrap;
      justify-content: center;

      i {
        display: flex;
        flex-basis: 2rem;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        height: 2rem;
        margin: 0;
        color: $bright-blue-darken-04;
        font-size: $font-size-h3;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      margin-left: $padding;

      .card-name {
        display: flex;
        align-items: center;
        min-height: 1.8125rem;

        h1,
        h2,
        h3,
        h4,
        h5 {
          margin: 0;
          text-transform: uppercase;
          color: $warm-gray-10;
          line-height: $line-height-base;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          flex-grow: 1;
          flex-shrink: 0;
          justify-content: space-between;
          padding: 0;

          &.header {
            padding: ($padding/4) 0;
            color: $warm-gray-08;
            background: $warm-gray-02;
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
          }

          a.row {
            display: flex;
            width: 100%;
            padding: 0;
            color: $bright-blue;
            border-width: 0;
            border-radius: 0;

            &:hover {
              background: rgba($bright-blue, .1);
            }

            span {
              padding: ($padding/4) 0;

              &.quote-no {
                padding-left: $padding;
              }

              &.premium {
                padding-right: $padding;
              }
            }
          }

          .policy-no,
          .quote-no {
            flex-basis: 8rem;
            flex-grow: 0;
            flex-shrink: 0;
            padding-left: $padding;
          }

          .property-address {
            flex-grow: 1;
            flex-shrink: 0;
          }

          .policy-status,
          .quote-state {
            flex-basis: 15.5rem;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .effective-date {
            flex-basis: 5.75rem;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .started-on {
            flex-basis: 5.75rem;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .premium {
            flex-basis: 5rem;
            flex-grow: 0;
            flex-shrink: 0;
            padding-right: $padding;
          }
        }
      }
    }
  }

  a {
    align-items: center;
    align-items: flex-start;
    padding: $padding $padding*1.5;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius;
    background: $white;

    section {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      h2,
      h3,
      h4,
      h5 {
        display: flex;
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        width: 20%;
        margin: 0;
      }

      p {
        margin: 0;
      }

      ul {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        width: 80%;
        margin: 0;
        padding: 0;
      }
    }

    i {
      display: flex;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      font-size: $font-size-h2;

      &.card-icon {
        margin-right: $padding;
      }

      &.fa-map-marker {
        justify-content: flex-start;
      }
    }

    &:hover {
      cursor: pointer;

      section {
        h2,
        h3,
        h4,
        h5 {
          color: $bright-blue-darken-02;
        }

        p {
          color: $bright-blue-darken-02;
        }
      }

      i {
        color: $bright-blue-darken-02;
      }
    }
  }
}

.result-cards,
ul.list-cards {
  li {
    margin-bottom: $padding/2;

    a {
      align-items: center;
      padding: $padding $padding*1.5;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-border-radius;
      background: $white;

      section {
        flex-direction: column;
        flex-grow: 1;

        h2,
        h3,
        h4,
        h5,
        p {
          margin: 0;
          color: $warm-gray-08;
        }
      }

      i {
        color: $bright-blue-darken-04;
      }

      &:hover {
        cursor: pointer;

        section {
          h2,
          h3,
          h4,
          h5 {
            color: $bright-blue-darken-04;
          }

          p {
            color: $bright-blue-darken-04;
          }
        }

        i {
          color: $bright-blue-darken-04;
        }
      }
    }
  }
}

.policy-list,
.quote-list {
  flex-grow: 1;
  width: 100%;
  margin-bottom: $padding/2;
  padding: $padding*2;

  .card {
    display: flex;
    flex-direction: row;
    margin: 0 0 ($padding/2);
    padding: $padding $padding*1.5;

    .icon-name {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-basis: 4rem;
      flex-wrap: wrap;
      justify-content: center;

      i {
        display: flex;
        flex-basis: 2rem;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        height: 2rem;
        margin: 0;
        color: $bright-blue-darken-04;
        font-size: $font-size-h3;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      margin-left: $padding;

      .card-name {
        display: flex;
        align-items: center;
        min-height: 1.8125rem;

        h1,
        h2,
        h3,
        h4,
        h5 {
          margin: 0;
          text-transform: uppercase;
          color: $warm-gray-10;
          line-height: $line-height-base;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          flex-grow: 1;
          flex-shrink: 0;
          justify-content: space-between;
          padding: 0;

          &.header {
            padding: ($padding/4) 0;
            color: $warm-gray-08;
            background: $warm-gray-02;
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
          }

          a.row {
            display: flex;
            width: 100%;
            padding: 0;
            color: $bright-blue;
            border-width: 0;
            border-radius: 0;

            &:hover {
              background: rgba($bright-blue, .1);
            }

            span {
              padding: ($padding/4) 0;

              &.quote-no {
                padding-left: $padding;
              }

              &.premium {
                padding-right: $padding;
              }
            }
          }

          .policy-no,
          .quote-no {
            flex-basis: 8rem;
            flex-grow: 0;
            flex-shrink: 0;
            padding-left: $padding;
          }

          .property-address {
            flex-grow: 1;
            flex-shrink: 0;
          }

          .policy-status,
          .quote-state {
            flex-basis: 15.5rem;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .effective-date {
            flex-basis: 5.75rem;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .started-on {
            flex-basis: 5.75rem;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .premium {
            flex-basis: 5rem;
            flex-grow: 0;
            flex-shrink: 0;
            padding-right: $padding;
          }
        }
      }
    }
  }

  a {
    align-items: center;
    align-items: flex-start;
    padding: $padding $padding*1.5;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius;
    background: $white;

    section {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      h2,
      h3,
      h4,
      h5 {
        display: flex;
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        width: 20%;
        margin: 0;
      }

      p {
        margin: 0;
      }

      ul {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        width: 80%;
        margin: 0;
        padding: 0;
      }
    }

    i {
      display: flex;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      font-size: $font-size-h2;

      &.card-icon {
        margin-right: $padding;
      }

      &.fa-map-marker {
        justify-content: flex-start;
      }
    }

    &:hover {
      cursor: pointer;

      section {
        h2,
        h3,
        h4,
        h5 {
          color: $bright-blue-darken-02;
        }

        p {
          color: $bright-blue-darken-02;
        }
      }

      i {
        color: $bright-blue-darken-02;
      }
    }
  }
}
