.search {
  position: relative;
  z-index: 10;
  display: flex;
  overflow: visible;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;

  @include transition(all 0.2s ease-in-out);

  #SearchBar {
    position: relative;
    display: flex;
    overflow: visible;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;

    .advanced-search {
      overflow: hidden;
      height: auto;
    }

    > form {
      overflow: visible;
      width: 100%;
      height: auto;
      background-color: $warm-gray-10;

      .search-input-wrapper {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-wrap: nowrap;
        padding: 0;
        height: auto;
        border-bottom: 2px solid $white;
        background-color: $warm-gray-10;

        .search-context-sort {
          display: flex;
          flex-direction: column;
          flex-grow: 0;
          flex-shrink: 0;
          padding: $padding $padding $padding ($padding * 2);
          padding-right: $padding;
          width: 12rem;
          background: rgba($black, 0.2);

          > .form-group {
            &.search-context {
              margin: 0 0 $padding 0;
              width: 100%;
            }
          }
        }

        .search-inputs {
          display: flex;
          align-self: flex-start;
          flex-grow: 1;
          flex-shrink: 1;
          flex-wrap: wrap;
          padding: $padding;

          &.diary {
            .search-input-row {
              margin-left: $padding;
            }
          }

          .search-input-row {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: $padding;

            &.margin {
              &.bottom {
                margin-bottom: $padding;
              }
            }

            &.full-width {
              width: 100%;
            }
          }

          .form-group {
            position: relative;

            &.error {
              input,
              select {
                border-width: 2px;
                border-color: red;
                background-color: mix($highlight, $red, 85%);
              }

              span {
                position: absolute;
                top: 1.6875rem;
                right: $padding;
                color: $red;
              }

              &.product-search {
                span {
                  right: $padding * 2;
                }
              }
            }
          }

          button {
            flex-grow: 0;
            flex-shrink: 0;
            margin-top: 1.25rem;

            &.btn-reset {
              display: flex;
              align-items: center;
              flex-direction: column;
              margin-top: 1.25rem;
              margin-right: $padding;
              padding: 0;
              font-size: $font-size-xs;

              i {
                margin: 0 0 ($padding / 2) 0;
                font-size: $font-size-lg;
              }

              &:hover,
              &:focus {
                color: $bright-blue-lighten-03;
                text-decoration: none;
              }
            }
          }

          .input-wrapper {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-wrap: wrap;
            margin-top: 0;
          }
        }

        .form-group {
          align-items: flex-start;
          margin-bottom: 0;
          /*Combobox styles*/
          .Select {
            height: 2.375rem;

            &.TypeAhead {
              min-height: 2.375rem;
              height: auto;

              &:focus {
                outline: none;
              }

              .react-select__control {
                min-height: 2.375rem;
                width: 100%;
                height: auto;

                &.react-select__control--is-focused {
                  border-color: $warm-gray-08;
                  border-radius: $border-radius $border-radius 0 0;
                  box-shadow: none;
                }

                .react-select__value-container {
                  align-items: flex-start;
                  justify-content: flex-start;
                  margin: 0;
                  padding: 0 0 0 $padding;
                  height: auto;

                  > div {
                    display: flex;
                    margin: 0;
                    padding: 0;

                    &.react-select__placeholder {
                      left: $padding;
                    }

                    &.react-select__single-value {
                      margin: 0;
                    }

                    .react-select__input {
                      width: 100%;

                      input {
                        height: auto;
                        line-height: 1;
                      }
                    }
                  }

                  .react-select__multi-value {
                    margin: $padding/4;
                    width: auto;
                    border-radius: $border-radius;
                    background: $warm-gray-08;
                    color: $white;

                    .react-select__multi-value__label {
                      color: $white;
                    }

                    .react-select__multi-value__remove {
                      border-radius: 0 $border-radius $border-radius 0;

                      @include transition(all 0.2s ease-in-out);

                      &:hover {
                        background: $red-lighten-04;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }

              > div {
                .react-select__menu {
                  overflow: hidden;
                  margin: 0;
                  border-radius: 0 0 $border-radius $border-radius;
                }
              }
            }
          }

          &.disabled {
            label {
              color: rgba($yellow-lighten-05, 0.6);
            }
            input,
            select {
              border-color: rgba($warm-gray-06, 0.6) !important;
              background-color: rgba($input-bg-disabled, 0.4) !important;
              cursor: not-allowed;
            }
          }

          &.search-context {
            align-self: flex-start;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;

            &.diary {
              width: 8rem;
            }

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.sortBy {
            align-self: flex-start;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 100%;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.quote-state {
            flex-basis: 9rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.first-name-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 10rem;
          }

          &.last-name-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 10rem;
          }

          &.product-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 6rem;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.property-search {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: $padding;
          }

          &.policy-no-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 10rem;
          }

          &.quote-no-search {
            flex-basis: 10rem;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
          }

          &.record-no-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 10rem;
          }

          &.claim-no-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 10rem;
          }

          &.source-no-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 10rem;
          }

          &.state-search {
            flex-grow: 0;
            flex-shrink: 0;
            width: 3.25rem;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.company-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 6rem;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.zip-search {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 7rem;
          }

          &.assignees {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: $padding;
          }

          &.reason {
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: $padding;
            width: 15rem;

            select {
              width: 100%;
              height: 2.375rem;
              background: $white;
            }
          }

          &.dateRange {
            flex-grow: 0;
            flex-shrink: 0;
            width: 22.25rem;

            .date-range-inputs {
              display: flex;
              width: 100%;
              line-height: 2.375rem;

              input {
                width: 10.5rem;
              }

              span {
                margin: 0 $padding/2;
                color: $white;
              }
            }
          }

          &.agencyCodeSelectField {
            flex-grow: 1;
            flex-shrink: 1;

            .Select {
              margin-bottom: 0;
              width: 100%;
              height: 2.375rem;

              .Select-control {
                width: 100%;
                height: 2.375rem;
                background-color: $white;

                .Select-arrow-zone {
                  &:after {
                    height: 2.375rem;
                  }
                }

                .Select-clear-zone {
                  height: 2.375rem;

                  .Select-clear {
                    height: 2.375rem;
                  }
                }

                .Select-multi-value-wrapper {
                  .Select-value {
                    height: 2.375rem;

                    .Select-value-label {
                      height: 2.375rem;
                      line-height: 2.375rem;
                    }
                  }

                  .Select-input {
                    height: 2.25rem;
                  }
                }
              }

              .Select-menu-outer {
                top: 2.375rem;
              }
            }

            .Select-value-label {
              line-height: 2.375rem;
            }
          }

          &.effectiveDate {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 12rem;
          }

          &.policy-status {
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: $padding;
            width: 20rem;

            select {
              width: 100%;
              height: 2.375rem;
            }
          }

          label {
            margin-bottom: $padding/4;
            color: $yellow-lighten-05;
            font-weight: $font-weight-normal;
            font-size: $font-size-sm;
          }

          input {
            -ms-flex-preferred-size: 1.75rem;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }

        > span {
          position: absolute;
        }

        input {
          padding: ($padding/2) $padding;
          height: 2.375rem;
          line-height: 1.75;
        }

        button {
          padding: 0.625rem 0.75rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          line-height: 1;

          &.multi-input {
            margin-right: $padding;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
          }
        }
      }
    }

    .survey-wrapper {
      z-index: 10;
      overflow-y: auto;
      flex-grow: 0;
      flex-shrink: 1;
      padding: 0;
      width: 100%;

      ul.results {
        padding: $padding * 2;
      }

      .result-cards {
        padding: $padding * 2;
      }

      .heading {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: ($padding/2) $padding;
        border-top: $card-border-width solid $card-border-color;

        &:first-child {
          border-top: none;
        }

        span {
          display: inline-flex;
          justify-content: center;
          padding: ($padding/2) $padding;
          border-radius: 0.71875rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  &.policy-advanced {
    overflow: visible;
    height: auto;

    #SearchBar {
      overflow: visible;
      height: auto;

      > form {
        height: auto;

        .search-input-wrapper {
          overflow: visible;
          flex-wrap: wrap;
          height: auto;
        }

        .advanced-search {
          display: flex;
          overflow: visible;
          padding: $padding 10rem 0 0;
          width: 100%;
          height: auto;
          animation-duration: 0.8s;

          input {
            -ms-flex-preferred-size: 1.75rem;
            flex-grow: 0;
            flex-shrink: 0;
            padding: $padding;
            width: 100%;
            height: 2.375rem;
            line-height: 1.75;
          }

          .form-group {
            position: relative;

            &.error {
              input {
                border-width: 2px;
                background-color: mix($highlight, $red, 85%);
              }

              span {
                position: absolute;
                top: 1.875rem;
                right: $padding;
              }
            }
          }
        }
      }
    }
  }

  .results,
  .results-wrapper {
    flex-basis: 100%;
    width: 100%;

    .results,
    .survey-wrapper {
      padding: $padding * 2;

      .card {
        margin: 0 0 ($padding/2);
      }
    }
  }
}

main[role='document'] {
  &.policy-advanced {
    min-height: auto;
    //height: calc(100vh - 12.375rem);
    //min-height: calc(100vh - 12.375rem);
    height: auto;
  }

  .survey-wrapper {
    &.scroll {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0;
      width: 100%;

      .results-wrapper {
        ul {
          &.property-search-results {
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
  }

  .dashboard {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
    height: auto;

    .route {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex-grow: 1;

      .route-content {
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        height: auto;

        .scroll {
          display: flex;
          overflow-y: auto;
          flex-direction: column;
          flex-grow: 1;

          .product-wrapper {
            display: flex;
            align-items: flex-start;
            flex-grow: 0;
            flex-shrink: 0;
            flex-wrap: wrap;
            justify-content: space-around;

            .product {
              align-self: stretch;
              flex-basis: 0;
              flex-grow: 1;
              flex-shrink: 0;
              margin-bottom: $padding;

              .card-footer {
                justify-content: space-around;

                .btn {
                  flex-basis: 45%;
                  flex-grow: 0;
                  flex-shrink: 0;
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.result-cards,
ul.list-cards {
  li {
    margin-bottom: $padding/2;

    a,
    > div {
      align-items: center;
      padding: $padding $padding * 1.5;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-border-radius;
      background: $white;

      section {
        flex-direction: column;
        flex-grow: 1;

        h2,
        h3,
        h4,
        h5,
        p {
          margin: 0;
          color: $warm-gray-08;
        }
      }

      i {
        color: $bright-blue-darken-04;
      }

      &:hover {
        cursor: pointer;

        section {
          h2,
          h3,
          h4,
          h5 {
            color: $bright-blue-darken-04;
          }

          p {
            color: $bright-blue-darken-04;
          }
        }

        i {
          color: $bright-blue-darken-04;
        }
      }
    }
  }
}

.policy-list,
.quote-list {
  flex-grow: 1;
  margin-bottom: $padding/2;
  padding: $padding * 2;
  width: 100%;

  .card {
    display: flex;
    flex-direction: row;
    margin: 0 0 ($padding * 2);
    padding: $padding $padding * 1.5;

    @include transition(all 0.2s ease-in-out);

    .icon-name {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      i {
        &.card-icon {
          display: flex;
          align-items: center;
          flex-grow: 0;
          flex-shrink: 0;
          justify-content: center;
          margin: 0;
          width: 4rem;
          height: 2rem;
          color: $bright-blue-darken-04;
          font-size: $font-size-h3;
        }
      }
      h5 {
        margin-bottom: 0;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;

      .details {
        display: flex;
        justify-content: space-between;
        margin-bottom: $padding;

        span {
          color: $warm-gray-08;

          strong {
            color: $bright-blue-darken-04;
            font-weight: $font-weight-bold;
            font-size: $font-size-sm;
          }

          &.quote-no {
            width: 14rem;

            strong {
              font-size: $font-size-base;
            }
          }

          &.started-on {
            width: 10rem;
          }

          &.premium {
            width: 10rem;
          }

          &.effective-date {
            width: 11rem;
          }

          &.quote-status {
            width: 20rem;
          }
        }
      }

      .title {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        h1,
        h2,
        h3,
        h4,
        h5 {
          margin: 0;
          text-transform: uppercase;
          line-height: $line-height-base;

          .propertyAddress {
            color: $warm-gray-08;

            span {
              font-weight: $font-weight-normal;
            }
          }
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $bright-blue-darken-04;
      font-size: $font-size-h3;
    }
  }

  a {
    align-items: center;
    align-items: flex-start;
    padding: $padding $padding * 1.5;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-radius;
    background: $white;

    section {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      h2,
      h3,
      h4,
      h5 {
        display: flex;
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0;
        width: 20%;
      }

      p {
        margin: 0;
      }

      ul {
        display: flex;
        flex-basis: 80%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 80%;
      }
    }

    i {
      display: flex;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      font-size: $font-size-h2;

      &.card-icon {
        margin-right: $padding;
      }

      &.fa-map-marker {
        justify-content: flex-start;
      }
    }

    &:hover {
      cursor: pointer;

      section {
        h2,
        h3,
        h4,
        h5 {
          color: $bright-blue-darken-02;
        }

        p {
          color: $bright-blue-darken-02;
        }
      }

      i {
        color: $bright-blue-darken-02;
      }
    }
  }
}
