/*nav {
  a {
    &.btn {
      margin-right: 2px;
      text-transform: none;
      border-radius: 0;
      font-weight: $font-weight-normal;
      @include button-variant($warm-gray-12, $warm-gray-01, $warm-gray-01);

      &:hover {
        cursor: pointer;
        text-decoration: none;
        @include button-variant($warm-gray-12, $warm-gray-04, $warm-gray-04);
      }

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        margin-right: 0;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &.selected {
        @include button-variant($white, $bright-blue-darken-04, $bright-blue-darken-04);

        &:hover {
          cursor: default;
          text-decoration: none;
          @include button-variant($white, $bright-blue-darken-04, $bright-blue-darken-04);
        }
      }
    }
  }
}*/

.btn-tabs {
  .filter-tabs {
    border-bottom: 0.125rem solid $bright-blue-darken-04;
    margin: 0 0 ($padding * 2);
    .btn-tab {
      background: rgba($warm-gray-01, 0);
      border-width: 0;
      font-size: $font-size-sm;
      text-transform: none;
      border-radius: 0;

      &:hover {
        background: rgba($warm-gray-01, 0.5);
      }

      &.selected {
        border-bottom: 0.25rem solid $bright-blue-darken-04;
        padding-bottom: 2px;
      }
    }
  }
}
