nav {
    &.tabs {
        margin: $padding;
        border-bottom: 2px solid $bright-blue-darken-04;

        a {
            &.btn {
                border-radius: 0;
                text-transform: none;
                font-weight: $font-weight-normal;
                padding-bottom: $padding;
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
                &.selected {
                    border-bottom: 5px solid $bright-blue-darken-04;
                    border-left-width: 0;
                    border-right-width: 0;
                    padding-bottom: $padding/2;
                    color: $bright-blue-darken-04;
                    &:hover {
                        text-decoration: none;
                        cursor: default;
                        color: $bright-blue-darken-04;
                    }
                }
            }
        }
    }
}
