#root {
  .app-wrapper.csr.agency {
    main[role="document"] {
      .content-wrapper {
        .route-content {
          .scroll {
            #TransferFilter {
              &.search-inputs {
              display: flex;
              overflow: visible;
              flex-direction: row;
          
                .form-group {
                  flex-grow: 1;
                  flex-shrink: 1;
                  padding: $padding;
                  &.state, &.product {
                    flex-grow: 0;
                    flex-shrink: 0;
                    width: 10rem;
                  }
                }
                
                button {
                  align-self: flex-start;
                  margin-top: 2.3785rem;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}