/**
* Uppy CSS and all of its out-of-the-box plugins
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.UppyAnimation-zoomOutLeft {
  animation-name: zoomOutLeft;
  animation-duration: 1s;

  animation-fill-mode: both;
}
/* -------------------------------------------------------------------
  Microtip

  Modern, lightweight css-only tooltips
  Just 1kb minified and gzipped

  @author Ghosh
  @package Microtip

----------------------------------------------------------------------
  1. Base Styles
  2. Direction Modifiers
  3. Position Modifiers
--------------------------------------------------------------------*/
/* ------------------------------------------------
  [1] Base Styles
-------------------------------------------------*/
[aria-label][role~='tooltip'] {
  display: none !important;
}

.uppy {
  box-sizing: border-box;
  font-family: $font-family-base;
  line-height: 1;

  * {
    box-sizing: inherit;

    &:after,
    &:before {
      box-sizing: inherit;
    }
  }
}

.UppyIcon {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  vertical-align: text-top;

  fill: currentColor;
}

.UppyIcon--svg-baseline {
  position: relative;
  bottom: -0.125em;
}

.UppyButton--circular {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background: none;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.uppy-FileInput-container {
  margin-bottom: 15px;
}

.uppy-FileInput-btn {
  margin: 0;
  padding: 10px 15px;
  border: 0;
  border: 1px solid #1b5dab;
  border-radius: 8px;
  background: none;
  color: inherit;
  color: #1b5dab;
  font-size: inherit;
  font-size: 0.85em;
  font-family: inherit;
  font-family: sans-serif;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: #1b5dab;
    color: #fff;
  }
}

.uppy-Informer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1004;
  display: flex;
  align-items: center;
  padding: 0 ($padding * 2);
  height: 4rem;
  background-color: $warm-gray-01;
  color: $white;
  text-align: center;
  font-weight: $font-weight-bold !important;
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;
  opacity: 1;
  transform: none;

  @include transition(all 0.2s ease-in-out);
}

.uppy-Dashboard--wide .uppy-Informer {
  height: 4rem;
  font-weight: $font-weight-bold !important;
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;
}

.uppy-Informer {
  &[aria-hidden='true'] {
    opacity: 0;
    transform: translateY(200%);

    @include transition(all 0.2s ease-in-out);
  }

  p {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold !important;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
  }
}

.uppy-Dashboard--wide .uppy-Informer p {
  margin: 0 !important;
  padding: 0 !important;
  height: 3rem !important;
  font-weight: $font-weight-bold !important;
  line-height: $line-height-base !important;
}

.uppy-Informer span {
  &[role='tooltip'] {
    display: none !important;
  }
}

.uppy-Dashboard--modal {
  &[aria-hidden='true'] {
    display: none !important;
  }
}

.uppy-Dashboard-isOpen {
  overflow: hidden;
  height: 100vh;
}

.uppy-Dashboard--modal .uppy-Dashboard-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.8);
}

.uppy-Dashboard-inner {
  position: relative;
  display: flex !important;
  overflow: hidden;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  min-height: 1rem !important;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto !important;
  outline: none;
  border: 1px solid $warm-gray-06 !important;
  background-color: $white !important;

  .uppy-Dashboard-FileCard {
    border-top: 1px dotted $warm-gray-10;
    padding: 0 $padding $padding;
    background: $warm-gray-03;
    .uppy-DashboardContent-bar {
      background-color: transparent !important;
      border-bottom-width: 0 !important;

      .uppy-DashboardContent-title {
        margin-left: 0;
        color: $warm-gray-10;
      }
    }

    .uppy-Dashboard-FileCard-inner {
      display: flex;
      flex-wrap: wrap;
      .uppy-Dashboard-FileCard-preview {
        background-color: $warm-gray-03 !important;
        margin-right: $padding;

        img {
          width: auto;
          max-height: 3.5rem;
        }
      }

      .uppy-Dashboard-FileCard-info {
        flex-grow: 1;
        flex-shrink: 1;
        .uppy-Dashboard-FileCard-fieldset {
          label {
            color: $warm-gray-10;
          }
          input {
            font-weight: $font-weight-normal;
            font-size: $font-size-base;
          }
        }
      }

      .uppy-Dashboard-FileCard-actions {
        margin-top: $padding;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        justify-content: center;

        button {
          text-transform: uppercase;
          font-size: $font-size-xs;
          border: 1px solid $bright-blue-darken-04;
          @include button-variant(
            $bright-blue-darken-04,
            $white,
            $bright-blue-darken-04
          );

          &.uppy-c-btn-primary {
            @include button-variant(
              $white,
              $bright-blue-darken-04,
              $bright-blue-darken-04
            );
            margin-left: $padding;
          }
        }
      }
    }
  }
}

.uppy-Dashboard--modal .uppy-Dashboard-inner {
  z-index: 1002;
}

.uppy-Dashboard-innerWrap {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: unset !important;
  max-height: unset !important;
  width: 100%;
  height: auto !important;

  .uppy-DashboardAddFiles {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;

    .uppy-DashboardTabs {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.uppy-Dashboard--modal .uppy-Dashboard-inner {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
}

.uppy-Dashboard-close {
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  color: #858585;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: #4a90e2;
  }

  .UppyIcon {
    width: 12px;
    height: 12px;
  }
}

.uppy-Dashboard--modal .uppy-Dashboard-close {
  z-index: 1005;
  display: block;
}

.uppy-DashboardTabs {
  //padding: 0 !important;
  //border-bottom: 1px dotted $warm-gray-08 !important;

  &[aria-hidden='true'] {
    display: none;
  }
}

.uppy-DashboardTabs-title {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 3rem !important;
  color: $warm-gray-12 !important;
  text-align: center;
  font-weight: $font-weight-normal !important;
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;
}

.uppy-Dashboard--wide .uppy-DashboardTabs-title {
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;
}

.uppy-Dashboard-browse {
  display: inline-block;
  margin-left: $padding/2 !important;
  padding: 0 !important;
  border-width: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  color: $bright-blue !important;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase !important;
  white-space: nowrap;
  font-weight: $btn-font-weight !important;
  font-size: $font-size-base !important;
  line-height: 1 !important;
  cursor: pointer;

  user-select: none;
  @include transition(all 0.2s ease-in-out);
  @include hover-focus {
    border-bottom-width: 1px !important;
    border-bottom-color: $bright-blue-darken-04 !important;
    text-decoration: none;
  }

  &:hover {
    color: $bright-blue-darken-01;
  }
}

.uppy-DashboardTabs-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.uppy-DashboardTab {
  display: inline-block;
  margin: 0;
  width: 70px;
  text-align: center;
}

.uppy-Dashboard--wide .uppy-DashboardTab {
  margin: 0 5px;
  width: 75px;
}

.uppy-DashboardTab-btn {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #535353;
  cursor: pointer;
  transition: all 0.3s;

  &:active,
  &:focus,
  &:hover {
    color: #4a90e2;
  }
}

.uppy-DashboardTab-name {
  overflow-x: hidden;
  margin-top: 5px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 8px;
}

.uppy-Dashboard--wide .uppy-DashboardTab-name {
  font-size: 9px;
}

.uppy-Dashboard-input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.uppy-DashboardContent-bar {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  z-index: 1004;
  display: flex !important;
  align-items: center !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  width: 100% !important;
  height: 3rem !important;
  border-bottom: 1px dotted $warm-gray-10 !important;
  background-color: $white !important;

  .uppy-DashboardContent-addMore {
    display: none;
  }
}

.uppy-Dashboard--wide .uppy-DashboardContent-bar {
  padding: 0 $padding !important;
  height: 3rem !important;
}

.uppy-DashboardContent-title {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  overflow-x: hidden;
  margin: auto auto auto $padding;
  max-width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  line-height: 1.5;

  span {
    font-weight: $font-weight-normal;
  }
}

.uppy-Dashboard--wide .uppy-DashboardContent-title {
  max-width: 100%;
  font-size: $font-size-base;
  line-height: 1.5;
}

.uppy-DashboardContent-titleFile {
  text-decoration: none;
}

.uppy-DashboardContent-back {
  display: none !important;
}

.uppy-Dashboard--wide .uppy-DashboardContent-back {
  font-size: $font-size-base;
  line-height: 1;
}

.uppy-DashboardContent-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1004;
  overflow: hidden;
  padding-top: 40px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0) !important;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-105%);

  will-change: transform;
}

.uppy-Dashboard--wide .uppy-DashboardContent-panel {
  padding-top: 4rem;
}

.uppy-DashboardContent-panel[aria-hidden='false'] {
  transform: none;
}

.uppy-Dashboard-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%;
}

.uppy-Dashboard-progressBarContainer.is-active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1004;
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-next {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 0;
  background: none;
  background-color: rgba(147, 147, 147, 0.7);
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  line-height: 1;
  cursor: not-allowed;
  transition: background-color 0.5s;

  &.is-active {
    background-color: #4a90e2;
    cursor: pointer;

    &:hover {
      background-color: #1b5dab;
    }
  }
}

.uppy-Dashboard-filesContainer {
  position: relative;
  display: flex !important;
  overflow-y: hidden;
  flex-direction: column;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  margin: 0;

  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

.uppy-Dashboard--wide .uppy-Dashboard-files,
.uppy-Dashboard-files {
  position: relative !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  display: flex !important;
  overflow-y: auto;
  flex-direction: column !important;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  margin: 0 !important;
  padding: 0 !important;
  background: $white;
}

.uppy-Dashboard-dropFilesHereHint {
  display: none;
}

.uppy-Dashboard--isDraggingOver {
  position: relative;
  .uppy-Dashboard-dropFilesHereHint {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed $bright-blue;
    background: rgba($white, 0.9) !important;
    color: $warm-gray-14;
    font-weight: $font-weight-bold;
    font-size: $font-size-h3;
  }
  .uppy-Dashboard-innerWrap {
    background: rgba($bright-blue-lighten-04, 0.25) !important;
  }

  .uppy-Dashboard-files--noFiles {
    border-color: $warm-gray-14;
    background: rgba($bright-blue-lighten-04, 0.25) !important;
  }
}

.uppy-Dashboard-bgIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100% !important;
  width: 100%;
  opacity: 1 !important;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}

.uppy-Dashboard.drag .uppy-Dashboard-bgIcon {
  opacity: 1;
}

.uppy-Dashboard-dropFilesTitle {
  margin: 0;
  color: $warm-gray-08 !important;
  text-align: center;
  font-weight: normal;
  font-size: $font-size-base !important;
  line-height: $line-height-base;

  span {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.uppy-Dashboard--wide .uppy-Dashboard-dropFilesTitle {
  font-size: $font-size-base !important;
}

.uppy-Dashboard-note {
  margin-top: 20px;
  color: #525252;
  text-align: center;
  font-size: $font-size-base !important;
  line-height: 1.2;
}

.uppy-Dashboard--wide .uppy-Dashboard-note {
  font-size: $font-size-sm;
}

.uppy-Dashboard--wide .uppy-DashboardItem {
  display: flex !important;
  flex-direction: row !important;
  margin: 0 !important;
  padding: 0 $padding !important;
  width: 100% !important;
  height: 4rem !important;
  border: 0 !important;
  background-color: $white !important;

  &:nth-of-type(even) {
    background-color: $warm-gray-01 !important;
  }
}

.uppy-Dashboard-files .uppy-DashboardItem-preview {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 3rem !important;
  height: 3rem !important;
  border-bottom: 0 !important;
}

.uppy-Dashboard-files .uppy-Dashboard--wide .uppy-DashboardItem-preview {
  width: 3rem !important;
  height: 3rem !important;
  border: 0 !important;
}

.uppy-DashboardItem-sourceIcon {
  display: inline-block;
  width: 7px;
  height: 7px;
  color: rgba(147, 147, 147, 0.6);
  vertical-align: middle;
}

.uppy-Dashboard--wide .uppy-DashboardItem-sourceIcon {
  width: 10px;
  height: 10px;
}

.uppy-DashboardItem-previewInnerWrap {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.uppy-Dashboard--wide .uppy-DashboardItem-previewInnerWrap {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.uppy-DashboardItem-previewInnerWrap:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
}

.uppy-DashboardItem-preview img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.uppy-DashboardItem-previewIconWrap {
  position: relative;
  height: 85%;
}

.uppy-DashboardItem-previewIconBg {
  height: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 1px);
}

.uppy-DashboardItem-previewIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  max-height: 55%;
  width: 25%;
  transform: translate(-50%, -50%);
}

.uppy-Dashboard--wide .uppy-DashboardItem-previewIcon {
  max-height: 80%;
  width: 40%;
}

.uppy-DashboardItem-info {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 1rem 0 $padding !important;
  max-width: 100% !important;
}

.uppy-Dashboard--wide .uppy-DashboardItem-info {
  flex-basis: auto !important;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  padding: 0 1rem 0 $padding !important;
  max-width: 100% !important;
  width: auto !important;
  height: 3rem !important;
  border-top: 0 !important;
}

.uppy-DashboardItem-name {
  overflow: hidden;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  margin: 0 !important;
  padding: 0;
  color: $warm-gray-14 !important;
  font-weight: $font-weight-normal !important;
  font-size: $font-size-base !important;
}

.uppy-Dashboard--wide .uppy-DashboardItem-name {
  white-space: normal;
  word-break: break-all;
}

.uppy-DashboardItem-name a {
  color: #000;
  text-decoration: underline;
}

.uppy-DashboardItem-status {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  color: $warm-gray-06 !important;
  font-weight: normal !important;
  font-size: $font-size-xs !important;
}

.uppy-DashboardItem-statusSize {
  display: inline-block;
  margin-right: 3px;
  vertical-align: bottom;
  text-transform: uppercase;
}
.uppy-u-reset.uppy-DashboardItem {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  margin: 0 !important;
  padding: 0 $padding !important;
  width: 100% !important;
  height: 4rem !important;
  border: 0 !important;
  background-color: $white !important;
  list-style: none !important;

  &:nth-of-type(even) {
    background-color: $warm-gray-01 !important;
  }
  .uppy-DashboardItem-fileInfoAndButtons {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;

    .uppy-DashboardItem-fileInfo {
      display: flex;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 1;
      padding: $padding;
    }

    .uppy-DashboardItem-actionWrapper {
      display: flex;
      align-items: center;
      .uppy-u-reset.uppy-DashboardItem-action {
        position: relative !important;
        top: auto !important;
        right: auto !important;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        margin: 0 0 0 $padding !important;
        padding: 0 !important;
        width: auto !important;
        height: 1rem;
        border: 0;
        background: none;
        color: $warm-gray-10 !important;
        text-align: left;
        font-size: $font-size-base !important;
        font-family: inherit;
        line-height: 1;
        cursor: pointer;

        svg {
          display: none !important;
        }

        &.uppy-DashboardItem-action--edit {
          &:before {
            width: 1rem;
            height: 1rem;
            content: '\f040';
            font-family: $font-family-icon;
            transition: all 0.35 ease;
          }

          &:hover {
            background: rgba($white, 0.25) !important;
            color: $bright-blue !important;
          }
        }

        &.uppy-DashboardItem-action--remove {
          &:before {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $white !important;
            content: '\f057';
            font-family: $font-family-icon !important;
            transition: all 0.35 ease;
          }
          &:hover {
            color: $red !important;
          }
        }
      }
    }
  }
}

.uppy-DashboardItem-copyLink,
.uppy-DashboardItem-edit[type='button'] {
  position: relative !important;
  top: auto !important;
  right: auto !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  border: 0;
  background: none;
  color: $warm-gray-10 !important;
  text-align: left;
  font-size: $font-size-base !important;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;

  &:before {
    width: 1rem;
    height: 1rem;
    content: '\f040';
    font-family: $font-family-icon;
  }

  &:hover {
    background: rgba($white, 0.25) !important;
    color: $bright-blue !important;
  }
}

.uppy-DashboardItem-edit .UppyIcon {
  display: none !important;
}

.uppy-Dashboard--wide .uppy-DashboardItem-edit .UppyIcon {
  display: none !important;
}

.uppy-Dashboard--wide .uppy-DashboardItem-copyLink,
.uppy-Dashboard--wide .uppy-DashboardItem-edit {
  top: auto !important;
  right: auto !important;
}

.uppy-Dashboard--wide .uppy-DashboardItem-action,
.uppy-DashboardItem-action {
  position: relative !important;
  top: auto !important;
  right: auto !important;
  z-index: 1002 !important;
  transition: all 0.35 ease;

  .uppy-DashboardItem-remove {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1rem !important;
    height: 1rem !important;
    border: 0 !important;
    border-radius: 50% !important;
    background: none !important;
    color: $warm-gray-10 !important;
    line-height: 1 !important;
    cursor: pointer !important;

    &:hover {
      color: $red !important;
    }

    svg {
      display: none !important;
    }

    &:before {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: $white !important;
      content: '\f057';
      font-family: $font-family-icon !important;
    }
  }
}

.uppy-DashboardItem.is-inprogress:not(.is-resumable)
  .uppy-DashboardItem-remove {
  display: none;
}

.uppy-DashboardItem-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1002;
  display: none;
  width: 120px;
  color: #fff;
  text-align: center;
  transition: all 0.35 ease;
  transform: translate(-50%, -50%);
}

.uppy-DashboardItem {
  &.is-complete .uppy-DashboardItem-progress {
    top: -9px;
    right: -8px;
    left: initial;
    display: block;
    width: auto;
    transform: initial;
  }

  &.is-error .uppy-DashboardItem-progress,
  &.is-inprogress .uppy-DashboardItem-progress {
    display: block;
  }
}

.uppy-DashboardItem-progressIndicator {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.35s ease;

  &:focus,
  &:hover {
    background-color: rgba($black, 0.1);
  }
}

.uppy-Dashboard--wide .uppy-DashboardItem-progressIndicator {
  width: 55px;
  height: 55px;
}

.uppy-DashboardItem.is-error .uppy-DashboardItem-progressIndicator {
  width: 18px;
  height: 18px;
}

.uppy-Dashboard--wide
  .uppy-DashboardItem.is-error
  .uppy-DashboardItem-progressIndicator {
  margin: $padding;
  padding: $padding/2;
  width: 2rem;
  height: 2rem;
}

.uppy-DashboardItem.is-complete .uppy-DashboardItem-progressIndicator {
  width: 18px;
  height: 18px;
  opacity: 1;
}

.uppy-Dashboard--wide
  .uppy-DashboardItem.is-complete
  .uppy-DashboardItem-progressIndicator {
  width: 25px;
  height: 25px;
}

.uppy-DashboardItem-progressInfo {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: none;
  width: 100%;
  height: 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 9px;
  line-height: 1;
}

.uppy-Dashboard--wide .uppy-DashboardItem-progressInfo {
  display: block;
}

.UppyIcon-progressCircle {
  width: 100%;
  height: 100%;
}

.uppy-DashboardItem {
  .bg {
    opacity: 0;

    stroke: rgba(255, 255, 255, 0.4);
  }

  .progress {
    opacity: 0;
    transition: stroke-dashoffset 0.5s ease-out;

    stroke: #fff;
  }

  .play {
    display: none;
    opacity: 0;
    transition: all 0.2s;

    stroke: #fff;
    fill: #fff;
  }

  .cancel {
    opacity: 0;
    transition: all 0.2s;

    fill: #fff;
  }

  .pause {
    display: none;
    opacity: 0;
    transition: all 0.2s;

    stroke: #fff;
    fill: #fff;
  }

  &.is-error .retry {
    fill: #fff;
  }

  &.is-resumable {
    .pause,
    .play {
      display: block;
    }

    .cancel {
      display: none;
    }
  }
}

.UppyIcon-progressCircle .check {
  opacity: 0;
  transition: all 0.2s;

  fill: $white;
}

.uppy-DashboardItem {
  &.is-inprogress {
    .bg,
    .cancel,
    .pause,
    .progress {
      opacity: 1;
    }

    .uppy-DashboardItem-previewInnerWrap:after {
      display: block;
    }
  }

  &.is-error .uppy-DashboardItem-previewInnerWrap:after {
    display: block;
  }

  &.is-paused {
    .pause {
      opacity: 0;
    }

    .play {
      opacity: 1;
    }
  }

  &.is-complete {
    .uppy-DashboardItem-progressIndicator {
      cursor: default;
    }

    .progress {
      opacity: 1;

      stroke: #7ac824;
      fill: #7ac824;
    }

    .check {
      opacity: 1;
    }
  }
}

.uppy-DashboardItem-progressNum {
  position: relative;
  z-index: 1001;
}

.uppy-DashboardItem-progressInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  background-color: #4a90e2;
}

.uppy-Dashboard--wide .uppy-Dashboard-actions,
.uppy-Dashboard-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1002;
  display: flex !important;
  flex-direction: row-reverse !important;
  padding: 0 $padding !important;
  width: 70%;
  height: 3rem !important;
  border-top: 1px dotted $warm-gray-10 !important;
  text-align: center;
}

.uppy-Dashboard-pauseResume .UppyIcon {
  width: 100%;
  height: 100%;
}

.uppy-Dashboard-upload {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.uppy-Dashboard--wide .uppy-Dashboard-upload {
  width: 4rem;
  height: 4rem;
}

.uppy-Dashboard-upload .UppyIcon {
  position: relative;
  top: 1px;
  width: 50%;
}

.uppy-Dashboard-uploadCount {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #7ac824;
  color: #fff;
  font-size: 8px;
  line-height: 16px;
}

.uppy-Dashboard--wide .uppy-Dashboard-uploadCount {
  width: 18px;
  height: 18px;
  font-size: 9px;
  line-height: 18px;
}

.uppy-DashboardFileCard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1004;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba($black, 0.1);
  transition: all 0.25s ease-in-out;
  transform: translateY(0);

  &[aria-hidden='true'] {
    transform: translateY(-105%);
  }

  > div {
    display: flex;
    flex-direction: column;
  }
}

.uppy-Dashboard--wide .uppy-DashboardFileCard-inner,
.uppy-DashboardFileCard-inner {
  display: flex !important;
  flex-direction: row !important;
  padding-top: 0 !important;
  height: 100% !important;
}

.uppy-DashboardFileCard-preview {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  width: 30%;
  height: auto;
  border-right: 1px dotted $warm-gray-10;
  border-bottom-width: 0 !important;
  background-color: $warm-gray-01;

  img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 3px 20px rgba($black, 0.15);

    object-fit: cover;
  }
}

.uppy-DashboardFileCard-info {
  overflow-y: auto;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  margin: 0;
  padding: $padding !important;
  max-height: 100% !important;
  width: 70%;
  height: auto;
}

.uppy-DashboardFileCard-fieldset {
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  border-width: 0 !important;
}

.uppy-DashboardFileCard-label {
  display: block !important;
  margin-bottom: $padding !important;
  width: 100% !important;
  color: $warm-gray-08 !important;
  font-size: $font-size-base !important;
}

.uppy-Dashboard--wide .uppy-DashboardFileCard-label {
  font-size: $font-size-base !important;
}

.uppy-DashboardFileCard-input {
  display: block !important;
  margin: auto !important;
  padding-left: $padding !important;
  width: 100% !important;
  outline: inherit;
  border: 1px solid $warm-gray-06 !important;
  vertical-align: middle !important;
  font-size: $font-size-base !important;
  line-height: $line-height-base !important;

  &:focus {
    border-color: $warm-gray-08;
  }
}

.uppy-DashboardFileCard-done {
  width: 3rem;
  height: 3rem;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 0 0 0 rgba($black, 0);

  @include button-variant(
    $btn-secondary-color,
    $btn-secondary-bg,
    $btn-secondary-border
  );

  &:before {
    content: '\f00c';
    font-size: $font-size-h3;
    font-family: $font-family-icon;
  }
}

.uppy-Dashboard--wide .uppy-DashboardFileCard-done {
  width: 3rem;
  height: 3rem;
}

.uppy-DashboardFileCard-done .UppyIcon {
  display: none !important;
}

.uppy-Dashboard--wide {
  .uppy-StatusBar {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
  }
}

.uppy-DragDrop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #fff;
}

.uppy-DragDrop-inner {
  margin: 0;
  padding: 80px 20px;
  text-align: center;
  line-height: 1.4;
}

.uppy-DragDrop-arrow {
  margin-bottom: 17px;
  width: 60px;
  height: 60px;

  fill: #e0e0e0;
}

.uppy-DragDrop-container {
  &.is-dragdrop-supported {
    border: 2px dashed;
    border-color: #adadad;
  }

  &.drag {
    border-color: #939393;
    background-color: #e6e6e6;

    .uppy-DragDrop-arrow {
      fill: #939393;
    }
  }
}
/* http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.uppy-DragDrop-input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.uppy-DragDrop-label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.15em;
  cursor: pointer;
}

.uppy-DragDrop-note {
  color: #adadad;
  font-size: 1em;
}

.uppy-DragDrop-dragText {
  color: #4a90e2;
}

.uppy-Provider-auth,
.uppy-Provider-error,
.uppy-Provider-loading {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  height: 100%;
}

.uppy-Provider-authTitle {
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 500px;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.35;
}

.uppy-Provider-authBtn {
  margin: 0 0 20px;
  padding: 12px 46px;
  border: 0;
  border-radius: 6px;
  background: none;
  background-color: #4a90e2;
  color: inherit;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: inherit;
  font-size: 20px;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2275d7;
    color: #fff;
  }
}

.uppy-ProviderBrowser-userLogout {
  margin: 0 16px 0 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.uppy-Provider-breadcrumbs {
  flex: 1;
  margin: 0 0 0 16px;
  padding: 0;
  color: #000;
  list-style-type: none;
  font-size: 12px;
}

.uppy-ProviderBrowser-breadcrumbs span {
  margin-left: 32px;
  font-size: 16px;

  &.active {
    flex: 1;
    color: #525252;
    font-weight: 500;
  }
}

.uppy-ProviderBrowser-body {
  position: relative;
  flex: 1;
}

.uppy-ProviderBrowser-list {
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  background-color: #fff;
  list-style: none;
}

.uppy-ProviderBrowserItem-inner {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
}

.uppy-ProviderBrowser-viewType--list {
  .uppy-ProviderBrowser-list {
    padding-top: 6px;
  }

  .uppy-ProviderBrowserItem {
    padding: 10px 14px;
  }

  .uppy-ProviderBrowserItem-inner img {
    margin-right: 3px;
    vertical-align: text-top;
  }

  .uppy-ProviderBrowserItem-checkbox {
    label:before {
      border-color: rgba($black, 0.3);
    }

    input:checked + label:before {
      border-color: #4a90e2;
    }
  }
}

.uppy-ProviderBrowser-viewType--grid {
  .uppy-ProviderBrowser-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;

    &:after {
      flex: auto;
      content: '';
    }
  }

  .uppy-ProviderBrowserItem {
    position: relative;
    display: inline-block;
    padding: 3px;
    width: 33.3333%;
    opacity: 0.9;
  }

  .uppy-ProviderBrowserItem--selected {
    opacity: 1;
  }

  .uppy-ProviderBrowserItem-inner {
    width: 100%;
    height: 100%;
  }

  .uppy-ProviderBrowserItem img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .uppy-ProviderBrowserItem-checkbox {
    position: absolute;
    top: 8px;
    right: 10px;
    margin-right: 0;

    label:before {
      background-color: #4a90e2;
    }

    input {
      + label {
        opacity: 0;
      }

      &:checked + label {
        opacity: 1;
      }
    }
  }
}

.uppy-ProviderBrowser-doneBtn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1002;
  width: 50px;
  height: 50px;
}

.uppy-Dashboard--wide .uppy-ProviderBrowser-doneBtn {
  width: 60px;
  height: 60px;
}

.uppy-Url {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.uppy-Url-input {
  padding-left: 10px;
  width: 80%;
  height: 50px;
  border: 1px solid rgba($black, 0.5);
  border-right: 0;
  font-size: 15px;
}

.uppy-Url-importButton {
  margin: 0;
  padding: 12px;
  width: 100px;
  height: 50px;
  border: 0;
  background: none;
  background-color: #4a90e2;
  color: inherit;
  color: #fff;
  font-size: inherit;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
}

.uppy-ProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 3px;
  transition: height 0.2s;

  &[aria-hidden='true'] {
    height: 0;
  }
}

.uppy-ProgressBar-inner {
  width: 0;
  height: 100%;
  background-color: #4a90e2;
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.7);
  transition: width 0.4s ease;
}

.uppy-ProgressBar-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.uppy-StatusBar {
  position: relative;
  z-index: 1001;
  overflow: hidden;
  height: 30px;
  background-color: $warm-gray-15;
  box-shadow: 1px 1px 4px 0 rgba(82, 82, 82, 0.3);
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  transition: height 0.2s;

  &.is-uploading {
    .uppy-StatusBar-progress {
      border-radius: 0 $border-radius $border-radius 0 !important;
      background-image: linear-gradient(
        45deg,
        $bright-blue-darken-04 25%,
        transparent 25%,
        transparent 50%,
        $bright-blue-darken-04 50%,
        $bright-blue-darken-04 75%,
        transparent 75%,
        transparent
      );
      background-size: 4rem 4rem !important;
      box-shadow: 0 0 4rem rgba($black, 0.375) !important;
      animation: statusBarProgressStripes 1s linear infinite;
    }
  }

  &[aria-hidden='true'] {
    overflow-y: hidden;
    height: 0;
  }

  &.is-complete .uppy-StatusBar-progress {
    background-color: $green-darken-03 !important;
  }

  &.is-error .uppy-StatusBar-progress {
    background-color: $red-darken-01 !important;
  }

  &.is-complete .uppy-StatusBar-content {
    padding-left: 0;
    text-align: center;
  }

  &:not([aria-hidden='true']).is-waiting {
    height: 3rem !important;
    border-top: 1px dotted $warm-gray-08 !important;
    background-color: $white !important;
    line-height: 3rem !important;
    display: flex;
  }
}

.uppy-StatusBar-progress {
  position: absolute;
  z-index: 1001;
  height: 100%;
  background-color: $bright-blue-darken-02 !important;
  transition: background-color, width 0.3s ease-out;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-progress {
  display: none;
}
@-webkit-keyframes statusBarProgressStripes {
  from {
    background-position: 64px 0;
  }

  to {
    background-position: 0 0;
  }
}
@keyframes statusBarProgressStripes {
  from {
    background-position: 64px 0;
  }

  to {
    background-position: 0 0;
  }
}

.uppy-StatusBar-content {
  z-index: 1002;
  align-items: flex-start !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  justify-content: center !important;
  padding-left: $padding !important;
  color: $white;
  white-space: normal !important;
  line-height: $line-height-base !important;

  .uppy-StatusBar-contentPadding {
    margin-right: 0 !important;
    font-size: $font-size-xs !important;
    line-height: $line-height-base !important;
  }

  strong {
    &.uppy-StatusBar-contentPadding {
      font-size: $font-size-sm !important;
    }
  }
}

.uppy-StatusBar-statusIndicator {
  display: none !important;
}

button.uppy-StatusBar-statusIndicator {
  margin: 0 8px 0 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
}

.uppy-StatusBar.is-waiting .uppy-StatusBar-actions,
.uppy-StatusBar:not(.is-waiting) .uppy-StatusBar-actions {
  flex-direction: row-reverse !important;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 $padding !important;
  width: auto;
}

.uppy.uppy-StatusBar.is-error.uppy-StatusBar--detailedProgress {
  position: relative !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1004;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.uppy-Dashboard--wide,
.uppy-StatusBar-actions,
.uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
  position: relative !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1004;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .uppy-StatusBar-actionBtn,
  .uppy-StatusBar-actionBtn--upload,
  .uppy-c-btn-link,
  .uppy-c-btn-primary,
  .uppy-u-reset.uppy-c-btn.uppy-StatusBar-actionBtn.uppy-StatusBar-actionBtn--upload {
    display: inline-block;
    margin-right: 0 !important;
    margin-left: $padding !important;
    padding: $btn-padding-y $btn-padding-x !important;
    border: 1px solid $bright-blue-darken-04 !important;
    border-radius: $btn-border-radius !important;
    border-radius: $btn-border-radius !important;
    background-color: $white !important;
    color: $bright-blue-darken-04 !important;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase !important;
    white-space: nowrap;
    font-weight: $btn-font-weight !important;
    font-weight: $btn-font-weight !important;
    font-size: $font-size-base !important;
    font-size: $font-size-sm !important;
    line-height: $btn-line-height !important;
    line-height: $btn-line-height !important;
    cursor: pointer;

    user-select: none;
    @include transition(all 0.2s ease-in-out);
    @include hover-focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none !important;
    }

    &:not(:last-child) {
      margin-right: 0 !important;
      margin-left: $padding !important;
    }
  }

  .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn,
  .uppy-StatusBar:not(.is-waiting) .uppy-StatusBar-actionBtn {
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x !important;
    border: 1px solid $bright-blue-darken-04 !important;
    border-radius: $btn-border-radius !important;
    background-color: $white !important;
    color: $bright-blue-darken-04 !important;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase !important;
    white-space: nowrap;
    font-weight: $btn-font-weight !important;
    font-size: $font-size-sm !important;
    line-height: $btn-line-height !important;
    cursor: pointer;

    user-select: none;
    @include transition(all 0.2s ease-in-out);
    @include hover-focus {
      text-decoration: none;
    }
  }
}

.uppy-StatusBar-actionBtn--upload {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x !important;
  border: 1px solid $bright-blue-darken-04 !important;
  border-radius: $btn-border-radius !important;
  background-color: $white !important;
  color: $bright-blue-darken-04 !important;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase !important;
  white-space: nowrap;
  font-weight: $btn-font-weight !important;
  font-size: $font-size-base !important;
  line-height: $btn-line-height !important;
  cursor: pointer;

  user-select: none;
  @include transition(all 0.2s ease-in-out);
  @include hover-focus {
    text-decoration: none;
  }
}

.uppy-Dashboard--wide
  .uppy-StatusBar.is-waiting
  .uppy-StatusBar-actionBtn--upload,
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x !important;
  border: 1px solid $bright-blue-darken-04 !important;
  border-radius: $btn-border-radius !important;
  background-color: $white !important;
  color: $bright-blue-darken-04 !important;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase !important;
  white-space: nowrap;
  font-weight: $btn-font-weight !important;
  font-size: $font-size-base !important;
  line-height: $btn-line-height !important;
  cursor: pointer;

  user-select: none;
  @include transition(all 0.2s ease-in-out);
  @include hover-focus {
    text-decoration: none;
  }
}

.uppy-StatusBar-actionBtn--retry {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x !important;
  border: 1px solid $bright-blue-darken-04 !important;
  border-radius: $btn-border-radius !important;
  background-color: $white !important;
  color: $bright-blue-darken-04 !important;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase !important;
  white-space: nowrap;
  font-weight: $btn-font-weight !important;
  font-size: $font-size-base !important;
  line-height: $btn-line-height !important;
  cursor: pointer;

  user-select: none;
  @include transition(all 0.2s ease-in-out);
  @include hover-focus {
    text-decoration: none;
  }
}

.uppy-Root {
  display: flex !important;
  overflow: hidden !important;
  flex-direction: column;
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  min-height: unset !important;
  max-height: unset !important;
  height: unset !important;
  font-family: $font-family-base !important;
}

.uppy-StatusBar-details {
  display: none !important;
}

.uppy-Dashboard-progressindicators {
  position: relative !important;
}

#uppy_uppy-hidden {
  display: none;
}
