//add to search.scss

.search-tools {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;

  .search-inputs {
    .user-name-search {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: $padding;
    }
  }
}

.search-inputs {
  .agency-id-search {
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $padding;
  }

  .agency-name-search {
    flex-basis: 12rem;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: $padding;
  }

  .agency-address-search {
    flex-basis: 12rem;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: $padding;
  }

  .agency-reg-lic-fein-search {
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $padding;
  }

  .agency-phone-search {
    flex-basis: 10rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $padding;
  }
}

.user-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: $padding/2;
  padding: $padding * 2;
  width: 100%;

  &.agency-list {
    .card-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      margin-bottom: $padding;

      span.fa-chevron-circle-right {
        position: absolute;
        right: 0;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 100%;
        color: $bright-blue-darken-01;
        font-size: $font-size-h2;
        cursor: pointer;

        @include transition(all 0.2s ease-in-out);

        &:hover {
          right: -0.04rem;
          color: $bright-blue-darken-04;
          font-size: 1.96rem;
          transform: scale(1.004);

          ~ .contact.card {
            z-index: 2;
            box-shadow: $card-box-shadow-hover;
            transform: scale(1.004);
          }
        }
      }

      .contact.card {
        flex-grow: 1;
        flex-shrink: 1;
        margin-bottom: 0;
        padding-right: 4rem;
        width: 100%;

        @include transition(all 0.2s ease-in-out);

        h4.agency {
          @include transition(all 0.2s ease-in-out);

          &:hover {
            color: $bright-blue;
            cursor: pointer;
          }
        }
      }
    }
  }

  .card {
    &.agency {
      &.contact {
        flex-direction: row;
        margin: 0 0 $padding;
        padding: $padding ($padding * 1.5);

        > .contact-title {
          display: flex;
          flex-direction: column;
          flex-grow: 0;
          flex-shrink: 0;
          justify-content: center;
          width: 6rem;

          i {
            color: $bright-blue-darken-04;
            text-align: center;
            font-size: $font-size-h2;
          }

          label {
            margin-bottom: 0;
            text-align: center;
            font-size: $font-size-sm;
          }

          > small {
            display: flex;
            flex-direction: column;

            i {
              margin: 0;
              font-size: $font-size-sm;
            }

            label {
              margin-bottom: $padding/4;
              font-size: $font-size-xs;
            }
          }
        }

        &.agent {
          .contact-title {
            i {
              margin-bottom: $padding * 0.75;
            }

            small {
              i {
                margin: 0;
                font-size: $font-size-sm;
              }

              label {
                margin-bottom: $padding/4;
                font-size: $font-size-xs;
              }
            }
          }
        }

        .contact-details {
          flex-grow: 1;
          margin-left: $padding * 2;

          h4 {
            margin-bottom: 0;
            color: $warm-gray-10;

            &.agency,
            &.agent {
              font-weight: $font-weight-normal;

              .agency-display-name,
              .agent-name {
                font-weight: $font-weight-bold;
              }

              .agency-code {
                font-weight: $font-weight-normal;
              }

              .agency-legal-name {
              }

              .agent-license {
                font-weight: $font-weight-normal;
              }
            }
          }

          p {
            margin-bottom: 0;
            color: $warm-gray-10;

            &.contact-address {
              small {
                label {
                  margin: 0 0 0 $padding;
                  font-weight: $font-weight-bold;
                  font-size: $font-size-xs;
                }
              }
            }
          }

          .additional-contacts {
            display: flex;
            flex-wrap: wrap;
            margin-top: $padding;
            border-top: 1px dotted $warm-gray-01;

            ul {
              margin: $padding 0 0;
              padding: 0;
              list-style: none;

              li {
                display: flex;
                align-items: center;
                padding: 0;

                &:last-child {
                  padding-bottom: 0;
                }

                p {
                  display: flex;
                  align-items: center;
                  margin-right: $padding * 2;

                  .contact-divider {
                    margin: 0 ($padding * 2) 0 0;
                  }

                  small {
                    margin-right: $padding;
                    padding: 0 0.2rem;
                    border-radius: 2px;
                    background: $warm-gray-08;
                    color: $white;
                    font-size: 70%;

                    sup {
                      top: -0.5em;
                      font-size: 50%;
                    }

                    i {
                      margin-right: 0;
                      margin-left: 0.1rem;
                      color: $white;
                    }
                  }

                  i {
                    margin-right: $padding;
                    color: $warm-gray-08;

                    &.fa-phone-square {
                      margin-top: 3%;
                      font-size: 112%;
                    }
                  }

                  h5 {
                    flex-basis: auto;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin: 0 $padding 0 0;
                    color: $warm-gray-08;
                  }
                }

                div {
                  display: flex;
                  align-items: center;
                  margin-right: $padding * 2;

                  h5 {
                    margin: 0 $padding 0 0;
                    color: $warm-gray-08;
                  }

                  span {
                    width: auto;
                    white-space: nowrap;
                  }

                  i {
                    color: $warm-gray-08;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .btn.agency {
    align-self: center;
    margin: 1rem;
    width: 12rem;
  }
}
//end results list cards
