.view-grid {
  display: flex;
  flex-wrap: wrap;
}

.component-loader {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $warm-gray-04;
  border-radius: $border-radius;

  &.loader-sm {
  }
  &.loader-md {
    height: 16rem;
  }
  &.loader-lg {
  }
  &.loader-xl {
  }

  .spinner {
    width: 150px;
    margin: 0 auto;

    text-align: center;
  }

  .spinner > div {
    display: inline-block;

    width: 16px;
    height: 16px;
    margin: 0 2px;

    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;

    border-radius: 100%;
    background-color: rgba($bright-blue-darken-04, 1);
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

//title component
/*------------------------------------------------------------------------------------*/
.title {
  width: 100%;
  margin: 0 0 $padding;
  padding: 0 $padding;

  color: $bright-blue-darken-04;

  font-size: $font-size-h3;
  font-weight: $font-weight-bold;

  @include for-phone-only {
    font-size: $font-size-h3;
  }

  &.messages {
    color: $warm-gray-07;

    font-size: $font-size-h5;
    font-weight: $font-weight-normal;
  }
}

.title-check-box-wrapper {
  display: flex;
  align-items: flex-end;

  .title {
    flex-grow: 0;
    flex-shrink: 0;

    max-width: fit-content;
    padding: 0;
  }
  .check-box-wrapper {
    flex-grow: 1;
    flex-shrink: 1;

    margin-bottom: $padding/4;

    input {
      margin-right: $padding/2;
    }
  }
}
//end title component
/*------------------------------------------------------------------------------------*/

//section component
/*------------------------------------------------------------------------------------*/
.view-grid {
  section {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: $padding * 2;
    padding-bottom: $padding * 2;

    > section {
      margin: 0;
      padding: 0;
    }

    > * {
      padding: 0 $padding;
    }

    output {
      height: 2rem;
      padding: ($padding/2);

      opacity: 1;
      border: 1px solid $warm-gray-02;
      border-radius: $border-radius;
      background-color: $input-bg-disabled;
    }
  }

  .form-group {
    &.error {
      input {
        border-color: $red-darken-01;
      }

      span {
        color: $red-darken-01;

        font-size: $font-size-sm;
      }
    }
  }
}

.view-grid,
.view-grid section {
  &:last-of-type {
    border-bottom-width: 0;
  }

  > * {
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
  }

  .view-col-1 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 8.333%;
  }

  .view-col-2 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 16.667%;
  }

  .view-col-3 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 25%;
  }

  .view-col-4 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 33.333%;
  }

  .view-col-5 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 41.667%;
  }

  .view-col-6 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 50%;
  }

  .view-col-7 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 58.333%;
  }

  .view-col-8 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 66.667%;
  }

  .view-col-9 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 75%;
  }

  .view-col-10 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 83.333%;
  }

  .view-col-11 {
    flex-grow: 0;
    flex-shrink: 0;

    width: 91.667%;
  }
}
//end section component
/*------------------------------------------------------------------------------------*/

//coverage rating specific styles
/*------------------------------------------------------------------------------------*/

.app-wrapper.csr.quote {
  #QuoteWorkflowCSR {
    &.view-grid {
      > section {
        position: relative;
      }
      .deductibles {
        .deductible-wrapper {
          margin-top: -$padding;
          padding-top: $padding;

          border: 1px solid $warm-gray-02;
          border-radius: $border-radius;
          background: $warm-gray-01;
        }
      }
      .modal {
        position: fixed;
        top: 8.625rem;
      }
    }
  }
}

//end coverage rating specific styles
/*------------------------------------------------------------------------------------*/

//additional interests component
/*------------------------------------------------------------------------------------*/
.view-grid {
  .additional-interests {
    &.results-wrapper {
      padding: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin-bottom: $padding;
        .card {
          display: flex;
          flex-direction: row;

          width: 100%;
          margin: 0;

          cursor: default;

          > div {
            align-self: center;
            flex-grow: 1;
            flex-shrink: 1;

            padding: $padding $padding $padding 0;

            &.card-icon {
              flex-grow: 0;
              flex-shrink: 0;

              padding: $padding;

              i {
                color: $bright-blue-darken-04;

                font-size: $font-size-h2;
              }
            }

            &.ref-number {
              flex-grow: 0;
              flex-shrink: 0;

              min-width: 10rem;
              max-width: 16rem;

              white-space: nowrap;

              > span {
                overflow: hidden;

                text-overflow: ellipsis;
              }
            }

            h4 {
              margin: 0;
            }
          }

          > a {
            &.edit,
            &.remove,
            &.reactivate {
              flex-grow: 0;
              flex-shrink: 0;

              width: auto;

              color: $bright-blue;
              border-width: 0;
              box-shadow: 0 0 0 rgba(0, 0, 0, 0);

              font-size: $font-size-sm;

              i {
                width: auto;
                margin-right: $padding/2;

                color: $bright-blue;

                font-size: $font-size-sm;

                @include transition(all 0.2s ease-in-out);
              }

              &:after {
                font-family: $font-family-base;
                font-weight: $font-weight-bold;
              }

              &:hover {
                transform: scale(1);

                border-width: 0;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);

                &:after {
                  text-decoration: underline;

                  color: $bright-blue-darken-04;
                }

                i {
                  color: $bright-blue-darken-04;
                }
              }
            }

            &.edit {
              i {
                &:after {
                  content: '\f14b';
                }
              }

              &:after {
                content: 'EDIT';
              }
            }
            &.remove {
              i {
                &:after {
                  content: '\f2d3';
                }
              }

              &:after {
                content: 'DELETE';
              }
            }
            &.reactivate {
              i {
                &:after {
                  content: '\f0fe';
                }
              }

              &:after {
                content: 'REACTIVATE';
              }
            }
          }

          &.inactive {
            color: $btn-link-disabled-color;
            border-color: $warm-gray-03;
            background: $warm-gray-00;

            .card-icon {
              i,
              label {
                color: $btn-link-disabled-color;
              }
            }
            h4,
            p {
              color: $btn-link-disabled-color;
            }
            .ref-number {
              label,
              span {
                color: $btn-link-disabled-color;
              }
            }
            > a {
              background: $warm-gray-00;

              &.edit {
                color: $btn-link-disabled-color;

                i {
                  color: $btn-link-disabled-color;
                  &:after {
                    color: $btn-link-disabled-color;
                  }
                }

                &:hover {
                  cursor: not-allowed;
                  text-decoration: none;

                  color: $btn-link-disabled-color;

                  &:after {
                    text-decoration: none;

                    color: $btn-link-disabled-color;
                  }

                  i {
                    text-decoration: none;

                    color: $btn-link-disabled-color;
                    &:after {
                      text-decoration: none;

                      color: $btn-link-disabled-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//end additional interests component
/*------------------------------------------------------------------------------------*/

//notes/files page specific styles
/*------------------------------------------------------------------------------------*/
.app-wrapper.csr.quote {
  #NotesFiles {
    .scroll {
      .form-group.survey-wrapper {
        padding: 0;
      }
    }
  }
}
//end notes/files page specific styles
/*------------------------------------------------------------------------------------*/

//summary page specific styles
/*------------------------------------------------------------------------------------*/
section {
  .detail-group {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 4rem;
    padding: 0 $padding;

    dl {
      //margin-bottom: 1rem;
      dt {
        color: $warm-gray-08;
      }
      dd {
        margin: 0;
      }
    }
  }
  &.produced-by,
  &.property-details,
  &.policyholder-details {
    .detail-group {
      flex-direction: row;

      dl {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
  &.coverage-rating {
    .detail-group {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      flex-wrap: wrap;

      height: 21.5rem;

      dl {
        width: calc(50% - 0.5rem);
        margin-bottom: 0;
        padding: $padding;

        &:nth-child(odd) {
          background: $warm-gray-01;
        }

        > div {
          display: flex;

          dt {
            flex-grow: 1;
            flex-shrink: 1;
          }

          dd {
            flex-grow: 1;
            flex-shrink: 1;

            text-align: right;
          }
        }
      }
    }

    &.af3 {
      .detail-group {
        height: 10rem;
      }
    }
  }
}
//end summary page specific styles
/*------------------------------------------------------------------------------------*/

//POLICY
/*------------------------------------------------------------------------------------*/

//coverage/premium page specific styles
/*------------------------------------------------------------------------------------*/
#PolicyWorkflowCSR {
  .coverage-rating {
    > section {
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      border-bottom: 1px dashed $bright-blue-darken-03;

      &:last-of-type {
        padding-bottom: 0;

        border-bottom-width: 0;
      }
    }
    .coverage-premium {
      display: flex;
      flex-direction: column;

      .row {
        .table {
          dl {
            margin-bottom: 0;

            div {
              display: flex;

              border-bottom: 1px dotted $warm-gray-03;

              dt {
                flex-grow: 1;
                flex-shrink: 1;

                padding: $padding $padding $padding ($padding * 1.5);

                white-space: normal;
                hyphens: auto;

                font-weight: $font-weight-normal;
              }
              dd {
                flex-grow: 0;
                flex-shrink: 0;

                margin: 0;
                padding: $padding ($padding * 1.5) $padding 0;

                text-align: right;
                white-space: normal;
                hyphens: auto;
              }
            }

            &:nth-of-type(odd) {
              div {
                background: $warm-gray-01;
              }
            }

            &:first-of-type {
              div {
                border-bottom-width: 0;
                background: $warm-gray-02;
                dt {
                  font-weight: $font-weight-bold;
                }
                dd {
                  font-weight: $font-weight-bold;
                }
              }
            }

            &:last-of-type {
              margin-bottom: $padding * 2;
            }
          }

          &.deductible {
            dl {
              &:nth-of-type(odd) {
                div {
                  dt,
                  dd {
                    background: rgba($orange-lighten-04, 0.2);
                  }
                }
              }
              &:first-of-type {
                div {
                  dt,
                  dd {
                    background: rgba($orange-lighten-04, 0.3);
                  }
                }
              }
            }
          }
          &.premium {
            dl {
              &:nth-of-type(odd) {
                div {
                  dt,
                  dd {
                    background: rgba($yellow-lighten-04, 0.2);
                  }
                }
              }
              &:first-of-type {
                div {
                  dt,
                  dd {
                    background: rgba($yellow-lighten-04, 0.3);
                  }
                }
              }
            }
          }
          &.billing {
            dl {
              div {
                dt {
                  white-space: nowrap;
                }
                dd {
                  overflow: hidden;

                  max-width: 70%;
                }
              }
              &:nth-of-type(odd) {
                div {
                  dt,
                  dd {
                    background: rgba($green-lighten-04, 0.2);
                  }
                }
              }
              &:first-of-type {
                div {
                  dt,
                  dd {
                    background: rgba($green-lighten-04, 0.3);
                  }
                }
              }
            }
          }
        }
      }
    }
    .home-location {
      display: flex;
      flex-wrap: wrap;
      dl {
        flex-grow: 0;
        flex-shrink: 0;

        width: 20%;
      }
    }
    .home-location-af3 {
      display: flex;
      flex-wrap: wrap;
      dl {
        flex-grow: 0;
        flex-shrink: 0;

        width: 20%;
      }
    }
    .wind-mitigation {
      display: flex;
      flex-wrap: wrap;
      dl {
        flex-grow: 0;
        flex-shrink: 0;

        width: 25%;
      }
    }
  }
}
//end coverage/premium page specific styles
/*------------------------------------------------------------------------------------*/

//policyholder/agent page specific styles
/*------------------------------------------------------------------------------------*/
#PolicyWorkflowCSR {
  .policyholder-agent {
    margin-bottom: 0;
    padding-bottom: 0;
    .policyholder-cards {
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      border-bottom: 1px dashed $bright-blue-darken-03;
    }
    .policyholder-cards,
    .agency-cards {
      margin-bottom: 1rem;
      .card {
        flex-grow: 1;
        flex-shrink: 1;

        margin: 0 $padding $padding;
      }
    }
    .tm {
      margin-top: $padding/4;

      line-height: 1.25;
    }
  }
}
//end policyholder/agent page specific styles
/*------------------------------------------------------------------------------------*/

//mortgage/billing page specific styles
/*------------------------------------------------------------------------------------*/
#PolicyWorkflowCSR {
  .mortgage-billing {
    margin-bottom: 0;
    padding-bottom: 0;

    > section {
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      border-bottom: 1px dashed $bright-blue-darken-03;

      &:last-of-type {
        padding-bottom: 0;

        border-bottom-width: 0;
      }

      &:first-of-type {
        min-height: 265px;
      }

      &.billing {
        display: flex;

        dl {
          flex-grow: 0;
          flex-shrink: 0;

          width: auto;
          margin-right: $padding * 2;

          dt {
            color: $warm-gray-08;
          }
        }

        .billing-modal {
          .form-group.radio.segmented {
          }
          .billing-plan-wrapper {
            .title {
              padding: 0;
            }
            dl {
              flex-grow: 1;
              flex-shrink: 1;

              margin: 0 ($padding/2) 0 0;
              padding: 0;

              &:last-of-type {
                margin-right: 0;
              }

              dt {
                padding: 0 $padding;

                background: $warm-gray-02;
              }
              dd {
                margin-bottom: 0;
                padding: ($padding/2) $padding;

                border-bottom: 1px dotted $warm-gray-02;

                &:nth-of-type(even) {
                  background: $warm-gray-01;
                }
              }
            }
          }
        }
      }

      &.table-view {
        min-height: 118px;

        .total {
          display: flex;
          justify-content: flex-end;

          margin: $padding 0;

          color: $bright-blue-darken-04;

          font-weight: $font-weight-bold;
        }
      }
      &#AddAdditionalInterestPage {
        .results-wrapper.additional-interests {
          border-top-width: 0;
        }
      }
    }
  }
}
//end mortgage/billing page specific styles
/*------------------------------------------------------------------------------------*/

//cancel policy page specific styles
/*------------------------------------------------------------------------------------*/
#PolicyWorkflowCSR {
  > section {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    border-bottom: 1px dashed $bright-blue-darken-03;

    &:last-of-type {
      padding-bottom: 0;

      border-bottom-width: 0;
    }

    &.payments {
      display: flex;
      flex-wrap: wrap;

      .billing {
        > section {
          display: flex;
          > dl {
            flex-grow: 1;
            flex-shrink: 1;

            width: auto;

            dt {
              margin-bottom: $padding;

              color: $warm-gray-08;
            }
          }
        }
      }

      .table-view {
        min-height: 118px;

        .total {
          display: flex;
          justify-content: flex-end;

          margin: $padding 0;

          color: $bright-blue-darken-04;

          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
//end cancel policy page specific styles
/*------------------------------------------------------------------------------------*/

//endorsements page specific styles
/*------------------------------------------------------------------------------------*/
#PolicyWorkflowCSR {
  > section {
    &.endorsements {
      .endo-jump-menu {
        position: fixed;
        top: 9rem;
        left: calc(((100vw - 42rem) / 2) + 12rem);

        display: flex;
        align-content: space-between;

        width: 30rem;
        padding: $padding;

        border-radius: 1.5rem;
        background-color: rgba($white, 0.9);
        box-shadow: 0 0 4px rgba($black, 0.25);

        * {
          flex-basis: auto;
          flex-grow: 1;
          flex-shrink: 1;

          margin: 0 ($padding/2);

          color: $bright-blue-darken-04;
        }
      }
      > section {
        &.coverage-scroll {
          margin-top: 2rem;
        }
        &.coverage-scroll,
        &.home-location-scroll,
        &.wind-mitigation-scroll {
          margin-bottom: 1rem;
          padding-bottom: 1rem;

          border-bottom: 1px dashed $bright-blue-darken-03;

          .form-group {
            flex-direction: row;
            flex-wrap: wrap;

            &.labels {
              justify-content: flex-end;

              margin-bottom: $padding;

              label {
                justify-content: flex-start;
              }
            }

            label {
              display: flex;
              align-items: center;
              flex-grow: 0;
              flex-shrink: 0;
              justify-content: flex-end;

              width: calc(33.33% - 0.5rem);
              margin-right: $padding;
              margin-bottom: 0;

              text-align: right;

              font-size: $font-size-base;
            }

            @media (max-width: 1600px) {
              label {
                font-size: $font-size-sm;
              }
            }

            input,
            select,
            .segmented-answer-wrapper {
              flex-grow: 0;
              flex-shrink: 0;
              order: 3;

              width: 33%;

              .label-segmented {
                width: 100%;
              }
            }
            output {
              flex-grow: 0;
              flex-shrink: 0;

              width: calc(33.33% - 0.5rem);
              margin-right: $padding;
            }

            > span {
              order: 3;

              width: 33%;
              margin-left: 67%;
            }
          }
        }
        &.previous-endorsements-scroll,
        &.policyholder-scroll {
          margin-bottom: 1rem;
          padding-bottom: 1rem;

          border-bottom: 1px dashed $bright-blue-darken-03;
        }
      }
    }
  }
}
//endorsements footer specific styles
/*------------------------------------------------------------------------------------*/
.endo-results-calc {
  flex-grow: 1;
  flex-shrink: 1;

  width: auto;
  padding: $padding;

  border-top: 1px dotted $warm-gray-04;
  background: $warm-gray-01;

  .bill-plan {
    display: flex;
    justify-content: center;
  }

  .endorsement-date-wrapper {
    flex-grow: 0;
    flex-shrink: 0;

    width: 14rem;
  }

  .btn-secondary {
    margin-right: $padding;
  }

  .flex-parent {
    .form-group {
      margin: 0 $padding 0 0;

      label {
        font-size: $font-size-sm;
      }

      input {
        &[disabled='disabled'],
        &:disabled {
          border-color: $warm-gray-03;
          background: $warm-gray-00;
        }
      }
    }

    .btn {
      margin-top: 1.5rem;
    }
  }
}
//end endorsements footer specific styles
/*------------------------------------------------------------------------------------*/
//end endorsements page specific styles
/*------------------------------------------------------------------------------------*/
//END POLICY
/*------------------------------------------------------------------------------------*/
//policyholder component
.policyholder-component {
  section {
    padding: 0;

    .form-group {
      width: 50%;

      &.email {
        width: 100%;
      }
    }
  }
}
